<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Seznam závodníků</title>
    <style>
        table {
            border-collapse: collapse;
        }

        td, th {
            padding: 5px;
        }
    </style>
</head>
<body>
<p>
    <a n:href="json">JSON file</a>
</p>
<table border="1">
    <tr>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Klub</th>
        <th>Dob</th>
        <th>Pohlaví</th>
        <th>Registrace</th>
    </tr>
    {foreach $list as $racer}
        <tr>
            <td>{$racer->getName()}</td>
            <td>{$racer->getSurname()}</td>
            <td>{$racer->getClub()}</td>
            <td>{$racer->getDob()}</td>
            <td>{if $racer->getGender() === 'f'}Žena{else}Muž{/if}</td>
            <td>{$racer->getCreated()}</td>
            </td>
        </tr>
    {/foreach}
</table>

</body>
</html>