php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: Lesempolem\*Module\Presenter\*Presenter

session:
	expiration: 2 years
	savePath: %tempDir%/sessions


services:
	routerFactory: Lesempolem\Router\RouterFactory
	router: @routerFactory::createRouter
	- Lesempolem\Model\Environment(%env%)
	- Lesempolem\Model\Service\ConfigService(%lastPaymentDay%, %lastRegistrationDay%)
	- Lesempolem\Model\Service\EmailService
	- Lesempolem\Model\QrGenerator
	- Lesempolem\Model\Storage\FileStorage(%dataDir%)


	cacheStorage:
		factory: Nette\Caching\Storages\FileStorage(%tempDir%/data)
