php:
	date.timezone: Europe/Prague

database:
	default:
		dsn: %db.dsn%
		user: %db.user%
		password: %db.pass%
		options:
			lazy: true
			PDO::MYSQL_ATTR_COMPRESS: true


application:
	errorPresenter: Error
	mapping:
		*: Lesempolem\*Module\Presenter\*Presenter

session:
	expiration: 2 years
	savePath: %tempDir%/sessions


services:
	routerFactory: Lesempolem\Router\RouterFactory
	router: @routerFactory::createRouter
	mainService: Lesempolem\Model\MainService
	mailer: Lesempolem\Model\Mailer(%mailer.host%, %mailer.port%, %mailer.username%, %mailer.password%, %mailer.secure%)
	- Lesempolem\Model\Environment(%env%)
	- Lesempolem\Model\Service\RegistrationService(%lastPaymentDay%, %lastRegistrationDay%)
	- Lesempolem\Model\LiveResultsService


	cacheStorage:
		factory: Nette\Caching\Storages\FileStorage(%tempDir%/data)

	- Lesempolem\Presenter\ApiPresenter(%api.live_token%)
