{layout none}
<!DOCTYPE html><!-- "' --></script></style></noscript></xmp>
<meta charset="utf-8">
<meta name="robots" content="noindex">
<title>Server Error</title>

<div id="error-body">
    <style>
        body {
            color: #333;
            background: white;
            width: 500px;
            margin: 100px auto
        }

        h1 {
            font: bold 47px/1.5 sans-serif;
            margin: .6em 0
        }

        p {
            font: 21px/1.5 Georgia, serif;
            margin: 1.5em 0
        }

        small {
            font-size: 70%;
            color: gray
        }
    </style>

    <h1>Server Error</h1>

    <p>We're sorry! The server encountered an internal error and
        was unable to complete your request. Please try again later.</p>

    <p><small>error 500</small></p>

    <script>
        document.documentElement.innerHTML = '<title>Server Error<\/title>' +
            document.getElementById('error-body').innerHTML;
    </script>
