<h1>Lesempolem</h1>

<h2>Přijata neznámá platba</h2>
<p>Byla přijata platba, kterou není možné identifikovat. Variabilní symbol se neshoduje s žádným přiřazeným nebo není
    nastaven.</p>

<ul>
    <li><strong>Variabilní symbol:</strong> {$variable_symbol}</li>
    <li><strong>Částka:</strong> {$amount}</li>
    <li><strong>ID transakce:</strong> {$transaction_id}</li>
</ul>