<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Lesempolem - zrušení registrace</title>
</head>
<body>
<h1>Ahoj,</h1>

<p>bohužel jsme stále neobdrželi tvoji platbu a tudíž nebyla online registrace dokončena. Pokud se chceš i tak
    Lesempolem zúčastnit, proveď novou registraci na závodech.</p>

<h3>Zrušená registrace:</h3>
<ul>
    {foreach $payment->getRacers() as $racer}
        <li>
            {$racer->getName()} {$racer->getSurname()} ({$racer->getClub()})
        </li>
    {/foreach}
</ul>

<p><strong>Tým LESEMPOLEM.</strong></p>
</body>
</html>