<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Lesempolem - registrace</title>
</head>
<body>

<h1>Ahoj,</h1>
<p>tvoje registrace na Lesempolem byla úspěšně zpracovaná a už se můžeš / můžete najít v seznamu zaregistrovaných
    závodníků.</p>
<p>Pro úspěšné dokončení tvé registrace už stačí jen zaplatit startovní poplatek pomocí převodu na účet. Je také možné
    využít QR platbu. Obrázek QR kódu nalezneš v informacích o registraci po rozkliknutí odkazu níže. Hned jak platbu
    obdržíme, pošleme ti potvrzující email. Pro kontrolu také posíláme seznam tebou zaregistrovaných závodníků a naše
    kontakty pro případ, že by se někde vyskytly komplikace.</p>

<h2>Registrovaní závodníci:</h2>
<ul>
    {foreach $payment->getRacers() as $racer}
        <li>{$racer->getName()} {$racer->getSurname()}
            ({$racer->getClub()}), ročník: {$racer->getYear()},
            startovné: {$racer->getPrice()} Kč
        </li>
    {/foreach}
</ul>

<h2>Platbu prosím proveď s těmito údaji:</h2>
<ul>
    <li>Číslo účtu: {$accountNumber}/{$bankCode}</li>
    <li>Variabilní symbol: {$payment->getVariableSymbol()}</li>
    <li>Částka: {$payment->getTotalPrice()} Kč</li>
</ul>

<p>Ostatní informace o své registraci najdeš také na tomto odkazu:
    <a href="{$url}/dokonceni-registrace.html?q={$payment->getHash()}">
        {$url}/dokonceni-registrace.html?q={$payment->getHash()}
    </a>
</p>


<h2>Kontaktní informace:</h2>
<p><strong>Jiří Skoták</strong><br/>
    hlavní pořadatel <br/>
    Telefon: 777 250 164 <br/>
    Email: <a href="mailto:skotak@jiskel.cz">skotak@jiskel.cz</a>
</p>
<p><strong>Tomáš Kozák</strong><br/>
    správa webu, platby <br/>
    Telefon: 730 996 957 <br/>
    Email: <a href="mailto:kozak@talko.cz">kozak@talko.cz</a>
</p>
<p><strong>Web: </strong> <a href="https://lesempolem.cz">www.lesempolem.cz</a></p>

</body>
</html>
