<div class="row" n:if="false">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            V souvislosti s šířením nového koronaviru jsou závody Lesempolem&nbsp;2020 bez náhrady zrušeny.
        </div>
    </div>
</div>