<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Lesempolem - běžecké závody ve Veselici</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block|strip}

{include './nav.latte', active => 'default'}
<div class="container">
    {include covid.latte}
    <div class="row hidden-xs hidden-sm">
        <div class="col-md-12">
            <div class="background-main">

                <a n:if="!$showOnline" n:href="vysledky2021" class="btn btn-success btn-lg">
                    12. 6. 2021 <br>
                    MČR v ultramaratonu 2021
                </a>


                {*

                <br>
                {if $showOnline}
                    <a n:href="live" class="btn btn-danger btn-lg">Online výsledky</a><br>
                {/if}

                <a n:href="vysledky2019" class="btn btn-success btn-lg">VÝSLEDKY 2019</a><br>
                *}
            </div>
        </div>
    </div>

    <div class="row hidden-md hidden-lg">
        <div class="col-md-12">
            <h1>Běžecké závody LESEMPOLEM</h1>

            {if $showOnline}
                <p>
                    <a n:href="live" class="btn btn-lg btn-danger btn-block"><strong>Online výsledky</strong></a>
                </p>
            {/if}

            <p>
                12.&nbsp;června&nbsp;2021 proběhne ve Veselici, v lesích okolo rozhledny Podvrší a v jejím blízkém
                okolí,
                7.&nbsp;ročník běžeckého závodu "Lesempolem", jehož nultý ročník proběhl v červnu 2013.
                Tento rok budou závody v ultramaratonském duchu. Pokud si na 62 km dlouho trať netroufneš, můžeš zkusit i něco kratšího. Bližší informace a registrace jsou v přípravách.

                {*
                Soutěžit se bude
                v několika kategoriích na běžeckých trasách délky 200&nbsp;m, 600&nbsp;m, 1&nbsp;350&nbsp;m, 5&nbsp;km, 21&nbsp;km, 42&nbsp;km a 63&nbsp;km.
                Lesempolem, to nejsou jen běžecké závody, ale kulturní záležitost! Každý rok jsou
                připraveny nejrůznější atrakce, kterých se můžeš zúčastnit. Živá kapela, příjemné posezení a mnoho
                dalšího!
                *}
            </p>

            <a n:href="info" class="btn btn-success btn-lg">MČR ultramaroton 2021</a>

        </div>

        <div class="row gallery-under more-photo">
            <div class="col-lg-12">
                <h3>Fotky ze závodu:</h3>
            </div>
            <div class="col-xs-6">
                <img src="{$basePath}/images/results/ze_zavodu_1.jpg" class="img-responsive"
                     alt="Fotka z průběhu závodu #1">
            </div>
            <div class="col-xs-6">
                <img src="{$basePath}/images/results/ze_zavodu_3.jpg" class="img-responsive"
                     alt="Fotka z průběhu závodu #3">
            </div>
        </div>
    </div>


</div>

{include './footer.latte'}


</body>
{/block}
</html>