<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Podmínky registrace | Lesempolem</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block|strip}

    {include './nav.latte', active => 'payment'}
    <div class="container">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Folkrockové odpoledne s Kotržinou</h1>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <img style="border: 2px #000 solid" class="img-responsive" src="{$basePath}/images/festival_2019.png"
                     alt="Plakát festival 2019"/>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p>
                    Tento rok si pro vás Kotržna připravila folkrockový festiválek. Všichni účastníci letošního
                    Lesempolem mají <strong>vstup zdarma</strong>. Festiválek se koná v sobotu <strong>15.&nbsp;6.&nbsp;2019&nbsp;od&nbsp;13:00</strong>
                    ve sportovním areálu ve Veselici.
                </p>

                <h2>Účinkující:</h2>

                <ul>
                    <li>Lee Banda</li>
                    <li>Aleš Petržela</li>
                    <li>Hovaduo</li>
                    <li>aKamarádi</li>
                    <li>Trio Kent</li>
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p>
                    <span class="btn-lg btn-success">15. 6. 2019 od 13:00 ve Veselici</span>
                </p>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p>
                    <a n:href="registration" class="btn-lg btn-success">Zaregistrovat se</a><br>
                </p>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p>
                    <a target="_blank" class="btn-lg btn-primary"
                       href="https://www.facebook.com/events/411022959740713/">Facebooková událost</a>
                </p>
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>
    {include './footer.latte'}
{/block}
</body>
</html>