<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{$basePath}/static_files/styles_{$cssVersion}.css" type="text/css">
<script src="{$basePath}/static_files/scripts_{$jsVersion}.js"></script>