<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Informace | Lesempolem</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block |strip}

{include './nav.latte', active => 'info'}

<div class="container">

    {include covid.latte}

    <div class="row" n:if="false">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                Informace pro rok 2021 jsou v přípravě.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Informace pro účastníky</h1>

            <div n:if="false" class="alert alert-success" role="alert">Hlídání dětí během hlavního závodu zajištěno -
                malování a
                hry
            </div>


            <p>Pro všechny příchozí je připraveno pamětní startovní číslo a pamětní list! Protože věříme, že opět
                pokvete
                bez, bude z něj již tradičně vyroben nápoj, který bude závodníkům k dispozici během celého konání
                závodu. Na závodníky po doběhu čeká
                občerstvení z regionálních produktů v podobě Černohorského piva a uzených klobás z nedalekých Němčic.
                Pro vegetariány bude připraven těstovinový salát se zeleninou z místních zahrad, co hrdlo račí.
                První tři v každé kategorii obdrží medaile a diplomy. Pro všechny pak bohatá tombola včetně putovního
                poháru štěstí.
                Zdarma můžete navštívit rozhlednu v
                Podvrší, Horní a Dolní můstek propasti Macocha. Letos se opět objeví na pódiu živá hudba. Jako každý rok
                bude
                ochutnávka produktů zdravé výživy.</p>

            <p>Ubytovaní bude možné zdarma v obřím stanu umíštěném na startu závodu. Tato možnost přepokládá spánek ve
                vlastních spacích pytlech. Sprchy a záchody jsou zajištěny v kulturním domě (100
                m).</p>

            <p>Celá akce spočívá na práci společenství Kotržiny, složené z dobrovolných hasičů, oddílu stolního tenisu.
                Je dobré vědět, že k uspořádání akce
                tohoto charakteru ve složitém terénu je potřeba kolem 50 pořadatelů - dobrovolníků.</p>

            <p>Snad se za všechnu vynaloženou námahu atmosféra příprav přenese až k vám, účastníkům a návštěvníkům
                tohoto závodu. Těšíme se na vás!</p>

        </div>
        <div class="col-sm-12 col-md-6">
            <h2>Kategorie a harmonogram</h2>
            <table class="table">
                <tbody>
                <tr>
                    <td></td>
                    <td>Prezence</td>
                    <td colspan="2">pá 17:00 - 22:00</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Prezence</td>
                    <td colspan="2">so 06:00 - 08:45</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Prezence min 15 min před startem závodu</td>
                </tr>

                <tr>
                    <th></th>
                    <th>Kategorie</th>
                    <th>Start</th>
                    <th>Závod</th>
                    <th>Trať</th>
                </tr>

                {*ULTRAMARATON*}
                {var $start = "07:00"}
                {var $name = "MČR Ultramaraton"}
                {var $distance = "63 km"}

                <tr class="success">
                    <td><img src="/images/male.png" alt="Ikona pohlavi"></td>
                    <td>Muži</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/female.png" alt="Ikona pohlavi"></td>
                    <td>Ženy</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>
                {var $name = "MČR Ultramaraton veteránů"}

                <tr class="success">
                    <td><img src="/images/male.png" alt="Ikona pohlavi"></td>
                    <td>Muži (35 - 39 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/male.png" alt="Ikona pohlavi"></td>
                    <td>Muži (40 - 44 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/male.png" alt="Ikona pohlavi"></td>
                    <td>Muži (45 - 49 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/male.png" alt="Ikona pohlavi"></td>
                    <td>Muži (50 - 54 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/male.png" alt="Ikona pohlavi"></td>
                    <td>Muži (55 - 59 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/male.png" alt="Ikona pohlavi"></td>
                    <td>Muži (60 - 64 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/male.png" alt="Ikona pohlavi"></td>
                    <td>Muži (65 - 69 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/male.png" alt="Ikona pohlavi"></td>
                    <td>Muži (70 - 74 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/female.png" alt="Ikona pohlavi"></td>
                    <td>Ženy (35 - 39 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/female.png" alt="Ikona pohlavi"></td>
                    <td>Ženy (40 - 44 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/female.png" alt="Ikona pohlavi"></td>
                    <td>Ženy (45 - 49 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/female.png" alt="Ikona pohlavi"></td>
                    <td>Ženy (50 - 54 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/female.png" alt="Ikona pohlavi"></td>
                    <td>Ženy (55 - 59 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/female.png" alt="Ikona pohlavi"></td>
                    <td>Ženy (60 - 64 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/female.png" alt="Ikona pohlavi"></td>
                    <td>Ženy (65 - 69 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="success">
                    <td><img src="/images/female.png" alt="Ikona pohlavi"></td>
                    <td>Ženy (70 - 74 let)</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                {*Marton*}
                {var $start = "09:00"}
                {var $name = "Maraton"}
                {var $distance = "42 km"}

                <tr class="warning">
                    <td><img src="/images/male.png" alt="Ikona pohlavi"></td>
                    <td>Muži</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                <tr class="warning">
                    <td><img src="/images/female.png" alt="Ikona pohlavi"></td>
                    <td>Ženy</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>

                {*Ostatni*}
                {var $start = "09:00"}
                {var $name = "10.5 km"}
                {var $distance = "10.5 km"}
                <tr class="">
                    <td><img src="/images/male.png" alt="Ikona pohlavi"></td>
                    <td>Muži</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>
                <tr class="">
                    <td><img src="/images/female.png" alt="Ikona pohlavi"></td>
                    <td>Ženy</td>
                    <td>{$start}</td>
                    <td>{$name}</td>
                    <td>{$distance}</td>
                </tr>


                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-6">
            <h2>Propozice</h2>
            <ul>
                <li>Název: LESEMPOLEM</li>
                <li>Datum: 12. 6. 2021</li>
                <li>Ultramaraton je oficiálním závodem mistrovství ČR</li>
                <li>Čas hlavního závodu (63 km / 6 kol): 07:00</li>
                <li>Čas startu 42 km (4 kola) a 10 km (1 kolo): 09:00</li>
                <li>Prezence min. 15 minut před startem závodu</li>
                <li>Místo startu: Hřiště sportovního areálu ve Veselici (směr rozhledna ve Veselici)</li>
                <li>Každý závodník je povinnen uhradit startovné ve výši odpovídající jeho kategorii</li>
                <li>Závod proběhne v souladu s aktuálně platnými protiepidemickými opatřeními souvisejícími s onemocněním COVID-19</li>
            </ul>
            <h2>Startovné</h2>
            <p>Startovné bude hrazeno na místě v den závodu.</p>
            <table class="table">
                <tbody>
                <tr class="success">
                    <td>Ultramaraton</td>
                    <td>600 Kč*</td>
                </tr>
                <tr class="warning">
                    <td>Maraton</td>
                    <td>400 Kč**</td>
                </tr>
                <tr class="">
                    <td>10 km</td>
                    <td>100 Kč</td>
                </tr>
                </tbody>
            </table>
            <p><i>* Pro členy ČAU 420 Kč</i></p>
            <p><i>** Pro členy ČAU 280 Kč</i></p>
            <p><i>Část startovného bude věnována místním dětem na vytoužený skákací hrad.</i></p>
            <h2>Pravidla</h2>
            <ul>
                <li>Závodí se dle pravidel Českého svazu atletiky a propozic závodu, každý účastník na vlastní
                    nebezpečí
                </li>
                <li>Závod se koná za každého počasí</li>
                <li>Registrace online nebo na místě před startem závodu</li>
                <li>Předregistrace na stránkách <a n:href="registration">www.lesempolem.cz</a> - rychlejší odbavení na
                    závodě
                </li>
                <li>Závody jsou určené pro veřejnost a nejsou limitovány žádným omezením. Každý se zde zúčastňuje na
                    vlastní nebezpečí a běží s intenzitou podle svého zdravotního stavu a kondice
                </li>
            </ul>
            <h2>Popis tratě</h2>
            <ul>
                <li><strong>Kolo 10,5 km</strong></li>
                <li>Trať vede převážně po polních a lesních cestách (90&nbsp;%)
                    a pouze 10&nbsp;% po asfaltových cestách
                </li>
                <li>Každých 5 km občerstvovací stanice - voda, čaj, bezinková štáva, iontový napoj, CocaCola, chleba se
                    sádlem, banány, meloun, čokoláda, sůl, rum
                </li>
                <li><a n:href="trat">Detailní informace o trati včetně videa</a></li>
            </ul>
            <a class="btn btn-success" n:href="registration">Chci se zaregistrovat</a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row gallery-under more-photo">
        <div class="col-lg-12">
            <h2>Fotky ze závodu:</h2>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="{$basePath}/images/information/pod_rozhlednou.jpg" class="img-responsive"
                 alt="Fotka trati pod rozhlednou">
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="{$basePath}/images/information/hriste.jpg" class="img-responsive"
                 alt="Fotka trati z výběhu ze hřiště">
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="{$basePath}/images/information/cesta.jpg" class="img-responsive"
                 alt="Cesta na rozhlednu">
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="{$basePath}/images/information/z_rozhledny.jpg" class="img-responsive"
                 alt="Fotka z dronu nad rozhlednou.">
        </div>
    </div>

</div>

{include './footer.latte'}

</body>
{/block}
</html>