<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Kontakty | Lesempolem</title>
    {include './head.latte'}
    {include './headImport.latte'}
    <script src="//api.mapy.cz/loader.js"></script>
    <script>Loader.load();</script>
</head>
<body>
{block|strip}

    {include './nav.latte', active => 'kontakty'}
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-md-12">
                <h1>Kontakty na pořadatele</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="userImage" src="{$basePath}/kontakty/jirka.jpg" alt="Fotka Jiřího Skotáka">
                    <div class="caption">
                        <h3>Jirka Skoták</h3>
                        <p>Jirka je hlavním myslitelem běhu Lesempolem a dělá pro něj skoro vše. Oficiálně pak figuruje
                            jako
                            hlavní pořadatel a řešitel ostatních průserů.</p>
                        <div class="inner-addon left-addon addon-space-after">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <input name="email" type="text" class="form-control" value="skotak@jiskel.cz"/>
                        </div>
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-earphone"></i>
                            <input name="email" type="text" class="form-control" value="777 250 164"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="userImage" src="{$basePath}/kontakty/dan.jpg" alt="Fotka Dana Orálka">
                    <div class="caption">
                        <h3>Dan Orálek</h3>
                        <p>
                            <a target="_blank" href="https://cs.wikipedia.org/wiki/Daniel_Or%C3%A1lek">Dan</a> z pozice
                            veselského domorodce a sportovního ředitele Lesempolem předává své bohaté zkušenosti a
                            piluje závod takřka k dokonalosti.
                        </p>
                        <div class="inner-addon left-addon addon-space-after">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <input name="email" type="text" class="form-control" value="Daniel.Oralek@anet.eu"/>
                        </div>
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-earphone"></i>
                            <input name="email" type="text" class="form-control" value="603 179 381"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="userImage" src="{$basePath}/kontakty/tom2.jpg" alt="Fotka Toma">
                    <div class="caption">
                        <h3>Tomáš Kozák</h3>
                        <p>Pro Lesempolem zajišťuje grafiku, web, platby a především měření výsledků přímo na
                            závodech. Najdete ho v cíli u počítače nebo na mailu.</p>
                        <div class="inner-addon left-addon addon-space-after">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <input name="email" type="text" class="form-control" value="kozak@talko.cz"/>
                        </div>
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-earphone"></i>
                            <input name="email" type="text" class="form-control" value="730 996 957"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="userImage" src="{$basePath}/kontakty/kozel.jpg" alt="Fotka Lubomíra Němce">
                    <div class="caption">
                        <h3>Luba Němec</h3>
                        <p>Náš Kozlík shání a diriguje tu spoustu lidí, kteří vás pak po trati směrují, abyste nám někde
                            nezabloudili. Také zajištuje všechny dobroty k jídlu a pití.</p>
                        <div class="inner-addon left-addon addon-space-after">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <input name="email" type="text" class="form-control" value="lubanemec88@gmail.com"/>
                        </div>
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-earphone"></i>
                            <input name="email" type="text" class="form-control" value="728 637 987"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Mapka:</h2>
                <div class="map">
                    <div id="m" style="height:500px"></div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <h2>Open source</h2>
                <p>Zdrojové kódy stránky lesempolem.cz jsou dostupné na adrese
                    <a href="https://gitlab.com/kotrzina/lesempolem" target="_blank">
                        https://gitlab.com/kotrzina/lesempolem
                    </a>.
                    Pull request určitě uvítáme!
                </p>
            </div>

        </div>
    </div>


{include './footer.latte'}


    <script src="{$basePath}/js/map.js"></script>
{/block}
</body>
</html>