<div id="allnav">
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-main"
                        aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">{$pageTitleMobile}</span>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    {if $showOnline}
                        <li class="live"><a n:href="live">LIVE 2019</a></li>
                    {/if}
                    <li n:class="($active == 'default') ? 'current'"><a n:href="default">Lesempolem</a></li>
                    <li n:if="!$showOnline" n:class="($active == 'registration') ? 'current'">
                        <a n:href="registration">Registrace 2021</a>
                    </li>
                    <li n:class="($active == 'info') ? 'current'"><a n:href="info">Informace</a></li>
                    {*<li n:class="($active == 'festival') ? 'current'"><a n:href="festival">Festival</a></li>*}
                    <li n:class="($active == 'vysledky') ? 'current'"><a n:href="vysledky">Výsledky</a></li>
                    <li n:class="($active == 'video') ? 'current'"><a n:href="video">Video</a></li>
                    <li n:class="($active == 'trat') ? 'current'"><a n:href="trat">Trať</a></li>
                    <li n:class="($active == 'kontakty') ? 'current'"><a n:href="kontakty">Kontakty</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>

