<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Registrace závodníků | Lesempolem</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block|strip}

{include './nav.latte', active => 'registration'}

<div class="container">

    {include covid.latte}

    <div class="row">
        <div class="col-md-12">
            <h1>Registrace na Lesempolem</h1>

            <p n:if="false">Zde se můžeš na Lesempolem zaregistrovat a zaplatit startovné na náš účet.
                Závody se uskuteční 12. 6. 2021. Zajistíš si tím, že už tě budeme mít v
                počítači a tvoje odbavení při přidělení čísla na místě bude mnohem
                rychlejší. Registraci je možné přovést na všechny závody. Pro maratonské běhy bude ještě nutné provést
                platbu pomocí bankovního převodu. Všechny potřebné údaje ti dorazí hned po dokončení registrace na
                email. Pokud stále nejsi rozhodnutý,
                <a n:href="info">rozklikni si další pravidla a informace o Lesempolem</a>.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                Registrace pro rok 2021 je v přípravě.
            </div>
        </div>
    </div>

    <div class="row" n:if="false">
        {form registrationForm}
            <div class="col-md-4">
                {foreach $flashes as $flash}
                    <div class="alert alert-success message-success" role="alert">{$flash->message}</div>
                {/foreach}
                {foreach $form->errors as $error}
                    <div class="alert alert-danger" role="alert">{$error}</div>
                {/foreach}

                <div class="form-group has-feedback">
                    {label name class=>'control-label'/}
                    {input name class=>'form-control'}
                    <span class="validation form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    {label surname class=>'control-label'/}
                    {input surname class=>'form-control'}
                    <span class="validation form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    {label email class=>'control-label'/}
                    {input email class=>'form-control'}
                    <span class="validation form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    {label club class=>'control-label'/}
                    {input club class=>'form-control'}
                    <span class="validation form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    {label born class=>'control-label'/}
                    {input born class=>'form-control', type=>'date'}
                    <span class="validation form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    {label sex class=>'control-label'/}
                    {input sex class=>'form-control'}
                    <span class="validation"></span>
                </div>

                <div n:if="false" class="form-group has-feedback">
                    {label category class=>'control-label'/}
                    {input category class=>'form-control'}
                    <span class="validation"></span>
                </div>

                <div class="checkbox">
                    {input agree} Souhlasím s <a n:href="rules">podmínkami registrace</a>
                </div>

                {input ok class=>'btn btn-success btn-lg', id => 'ok-button'}

                <p n:if="false" class="small">* Pokud chceš běžet jinou trať než určuje tvůj věk a pohlaví, je třeba to
                    nahlásit před
                    závodem při registraci přímo na závodu.</p>
                <hr>
            </div>
        {/form}

        <div class="col-md-2 hidden-sm hidden-xs"></div>
        <div class="col-md-6 hidden-sm hidden-xs one-photo">
            <h3>Medaile z roku 2016</h3>
            <img src="{$basePath}/images/rsz_img_0361.jpg" class="img-responsive" alt="Medaile z roku 2015">
        </div>

        <div class="clearfix"></div>

        <div n:if="count($men) > 0" class="col-md-5">
            <h2>Již zaregistrovaní MUŽI</h2>
            <ul>
                {foreach $men as $racer}
                    <li>
                        {$racer->getName()} {$racer->getSurname()}
                        <span>({$racer->getClub()|truncate:25})</span>
                    </li>
                {/foreach}
            </ul>
        </div>

        <div n:if="count($women) > 0" class="col-md-5">
            <h2>Již zaregistrované ŽENY</h2>
            <ul>
                {foreach $women as $racer}
                    <li>
                        {$racer->getName()} {$racer->getSurname()}
                        <span>({$racer->getClub()|truncate:25})</span>
                    </li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>


{include './footer.latte'}

</body>
{/block}
</html>
