<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Trať | Lesempolem.cz</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block|strip}


{include './nav.latte', active => 'trat'}
<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Video - 10.5km kolo z pohledu závodníka</h1>
            <p>
                Abyste věděli do čeho jdete, objel Martin celou trať na kole a pomocí outdoorové kamery ji celou natočil. Na
                výsledné video, které jsme patřičně zrychlili, se můžete podívat níže.
            </p>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class=".embed-responsive-item" src="https://www.youtube.com/embed/PYLhII_MQ9s?rel=0"
                        allowfullscreen></iframe>
            </div>

            <h3 n:if="false">Profil závodu (výškové převýšení)</h3>
            <a n:if="false" href="{$basePath}/images/profil_zavodu.jpg">
                <img class="img-responsive" src="{$basePath}/images/profil_zavodu.jpg" alt="Profil závodu"/>
            </a>
        </div>

    </div>
</div>

{include './footer.latte'}


</body>
{/block}
</html>