<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Trať | Lesempolem.cz</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block|strip}


{include './nav.latte', active => 'trat'}
<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Trať</h1>
            <p>
                Trať jednoho kola (10,5 km).
            </p>

            <iframe src="https://www.google.com/maps/d/embed?mid=1k1C0Q-ZJPitjidSe98vClAma_f4yHD2-" width="100%" height="600px"></iframe>

            <p>
                <strong>Ke stažení:</strong>
                <ul>
                    <li><a href="/maps/2021/lesempolem2021_102nodes.gpx" download>lesempolem2021_102nodes.gpx</a></li>
                    <li><a href="/maps/2021/lesempolem2021_102nodes.kml" download>lesempolem2021_102nodes.kml</a></li>
                </ul>
        </div>
    </div>
</div>

{*
<h2>Video</h2>
<p>
    Abyste věděli do čeho jdete, objel Martin celou trať na kole a pomocí outdoorové kamery ji celou natočil. Na
    výsledné video, které jsme patřičně zrychlili, se můžete podívat níže.
</p>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class=".embed-responsive-item" src="https://www.youtube.com/embed/PYLhII_MQ9s?rel=0"
            allowfullscreen></iframe>
</div>

<h3 n:if="false">Profil závodu (výškové převýšení)</h3>
<a n:if="false" href="{$basePath}/images/profil_zavodu.jpg">
    <img class="img-responsive" src="{$basePath}/images/profil_zavodu.jpg" alt="Profil závodu"/>
</a>
*}

{include './footer.latte'}


</body>
{/block}
</html>