<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Výsledky závodu v roce 2018 | Lesempolem.cz</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block|strip}
{include './nav.latte', active => 'vysledky'}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Výsledky závodu v roce 2018</h1>
            <h2>10 km</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>9</td>
                        <td>Grün Vojtěch</td>
                        <td>Elite Sport Boskovice/Rozběháme Česko</td>
                        <td>M</td>
                        <td>1.</td>
                        <td> 00:38:27</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>47</td>
                        <td>Široký Stanislav</td>
                        <td>Ak Blansko Dvorská</td>
                        <td>MV1</td>
                        <td>1.</td>
                        <td> 00:40:11</td>
                        <td>+ 1m 44s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>38</td>
                        <td>Hrnčíř Tomáš</td>
                        <td>Řícmanice</td>
                        <td>MV1</td>
                        <td>2.</td>
                        <td> 00:41:22</td>
                        <td>+ 2m 55s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>8</td>
                        <td>Dvořáček Jiří</td>
                        <td>ELITE SPORT MAX TRAINING Petrovice</td>
                        <td>MV2</td>
                        <td>1.</td>
                        <td> 00:41:46</td>
                        <td>+ 3m 19s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>44</td>
                        <td>Jančík Tomáš</td>
                        <td>Elite Sport Boskovice</td>
                        <td>MV1</td>
                        <td>3.</td>
                        <td> 00:42:51</td>
                        <td>+ 4m 24s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>83</td>
                        <td>Polachová Lenka</td>
                        <td>Horizont Kola Novák Blansko</td>
                        <td>Ž</td>
                        <td>1.</td>
                        <td> 00:44:32</td>
                        <td>+ 6m 5s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>33</td>
                        <td>Šamonil Robert</td>
                        <td>Horizont Kola Novák Blansko</td>
                        <td>MV1</td>
                        <td>4.</td>
                        <td> 00:44:54</td>
                        <td>+ 6m 27s</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>76</td>
                        <td>Beneš Petr</td>
                        <td>blansko</td>
                        <td>M</td>
                        <td>2.</td>
                        <td> 00:44:57</td>
                        <td>+ 6m 30s</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>55</td>
                        <td>Šindelář Ondřej</td>
                        <td>Elite Sport Boskovice</td>
                        <td>M</td>
                        <td>3.</td>
                        <td> 00:45:05</td>
                        <td>+ 6m 38s</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>19</td>
                        <td>Grün Gustav</td>
                        <td>AC Okrouhlá</td>
                        <td>MV2</td>
                        <td>2.</td>
                        <td> 00:45:09</td>
                        <td>+ 6m 42s</td>
                    </tr>
                    <tr>
                        <td>11.</td>
                        <td>7</td>
                        <td>Buš Ondřej</td>
                        <td>Ráječko</td>
                        <td>M</td>
                        <td>4.</td>
                        <td> 00:45:11</td>
                        <td>+ 6m 44s</td>
                    </tr>
                    <tr>
                        <td>12.</td>
                        <td>16</td>
                        <td>Weis Josef</td>
                        <td>Elite Sport Boskovice</td>
                        <td>MV1</td>
                        <td>5.</td>
                        <td> 00:45:45</td>
                        <td>+ 7m 18s</td>
                    </tr>
                    <tr>
                        <td>13.</td>
                        <td>6</td>
                        <td>Kinc Pavel</td>
                        <td>VF Sport Team Černá Hora</td>
                        <td>MV1</td>
                        <td>6.</td>
                        <td> 00:45:57</td>
                        <td>+ 7m 30s</td>
                    </tr>
                    <tr>
                        <td>14.</td>
                        <td>82</td>
                        <td>Bachratý Pavel</td>
                        <td>Blansko</td>
                        <td>MV2</td>
                        <td>3.</td>
                        <td> 00:46:11</td>
                        <td>+ 7m 44s</td>
                    </tr>
                    <tr>
                        <td>15.</td>
                        <td>21</td>
                        <td>Jančařík Petr</td>
                        <td>AAC Brno</td>
                        <td>MV2</td>
                        <td>4.</td>
                        <td> 00:46:45</td>
                        <td>+ 8m 18s</td>
                    </tr>
                    <tr>
                        <td>16.</td>
                        <td>48</td>
                        <td>Slezák Matrin</td>
                        <td>Běžecký klub Brno</td>
                        <td>M</td>
                        <td>5.</td>
                        <td> 00:46:47</td>
                        <td>+ 8m 20s</td>
                    </tr>
                    <tr>
                        <td>17.</td>
                        <td>29</td>
                        <td>Sotolář Stanislav</td>
                        <td>OB Veselice</td>
                        <td>MV1</td>
                        <td>7.</td>
                        <td> 00:46:55</td>
                        <td>+ 8m 28s</td>
                    </tr>
                    <tr>
                        <td>18.</td>
                        <td>17</td>
                        <td>Kriklová Alena</td>
                        <td>Jaroměřice</td>
                        <td>Ž</td>
                        <td>2.</td>
                        <td> 00:47:09</td>
                        <td>+ 8m 42s</td>
                    </tr>
                    <tr>
                        <td>19.</td>
                        <td>13</td>
                        <td>Horský Radek</td>
                        <td>OB Veselice</td>
                        <td>MV1</td>
                        <td>8.</td>
                        <td> 00:47:33</td>
                        <td>+ 9m 6s</td>
                    </tr>
                    <tr>
                        <td>20.</td>
                        <td>66</td>
                        <td>Klepalová Kamila</td>
                        <td>Perunteam Blansko</td>
                        <td>Ž</td>
                        <td>3.</td>
                        <td> 00:48:07</td>
                        <td>+ 9m 40s</td>
                    </tr>
                    <tr>
                        <td>21.</td>
                        <td>79</td>
                        <td>Martinek Jan</td>
                        <td>SC Ráječko</td>
                        <td>MV1</td>
                        <td>9.</td>
                        <td> 00:48:30</td>
                        <td>+ 10m 3s</td>
                    </tr>
                    <tr>
                        <td>22.</td>
                        <td>46</td>
                        <td>Fabiánek Jan</td>
                        <td>Občerstvení Veselice</td>
                        <td>M</td>
                        <td>6.</td>
                        <td> 00:49:05</td>
                        <td>+ 10m 38s</td>
                    </tr>
                    <tr>
                        <td>23.</td>
                        <td>62</td>
                        <td>Závodná Pavla</td>
                        <td>Niva</td>
                        <td>Ž</td>
                        <td>4.</td>
                        <td> 00:49:30</td>
                        <td>+ 11m 3s</td>
                    </tr>
                    <tr>
                        <td>24.</td>
                        <td>50</td>
                        <td>Kakáčová Jana</td>
                        <td>Elite Sport Max Training Blansko</td>
                        <td>ŽV1</td>
                        <td>1.</td>
                        <td> 00:49:52</td>
                        <td>+ 11m 25s</td>
                    </tr>
                    <tr>
                        <td>25.</td>
                        <td>10</td>
                        <td>Zoubek Karel</td>
                        <td>Vanovice</td>
                        <td>MV2</td>
                        <td>5.</td>
                        <td> 00:50:02</td>
                        <td>+ 11m 35s</td>
                    </tr>
                    <tr>
                        <td>26.</td>
                        <td>59</td>
                        <td>Macura Jan</td>
                        <td>Horizont Kola Novák Blansko</td>
                        <td>MV1</td>
                        <td>10.</td>
                        <td> 00:50:06</td>
                        <td>+ 11m 39s</td>
                    </tr>
                    <tr>
                        <td>27.</td>
                        <td>74</td>
                        <td>Odehnal Tomáš</td>
                        <td>Boskovice</td>
                        <td>MV2</td>
                        <td>6.</td>
                        <td> 00:50:27</td>
                        <td>+ 12m</td>
                    </tr>
                    <tr>
                        <td>28.</td>
                        <td>4</td>
                        <td>Zemánek Miroslav</td>
                        <td>Bořitov</td>
                        <td>M</td>
                        <td>7.</td>
                        <td> 00:50:34</td>
                        <td>+ 12m 7s</td>
                    </tr>
                    <tr>
                        <td>29.</td>
                        <td>75</td>
                        <td>Manoušek Ivo</td>
                        <td>Blansko</td>
                        <td>MV1</td>
                        <td>11.</td>
                        <td> 00:50:43</td>
                        <td>+ 12m 16s</td>
                    </tr>
                    <tr>
                        <td>30.</td>
                        <td>78</td>
                        <td>Kellner Ondřej</td>
                        <td>Slavkov</td>
                        <td>M</td>
                        <td>8.</td>
                        <td> 00:50:59</td>
                        <td>+ 12m 32s</td>
                    </tr>
                    <tr>
                        <td>31.</td>
                        <td>80</td>
                        <td>Ambros Jiří</td>
                        <td>Slatinice</td>
                        <td>MV1</td>
                        <td>12.</td>
                        <td> 00:51:08</td>
                        <td>+ 12m 41s</td>
                    </tr>
                    <tr>
                        <td>32.</td>
                        <td>43</td>
                        <td>Zavadil Pavel</td>
                        <td>AT&amp;T</td>
                        <td>M</td>
                        <td>9.</td>
                        <td> 00:51:31</td>
                        <td>+ 13m 4s</td>
                    </tr>
                    <tr>
                        <td>33.</td>
                        <td>12</td>
                        <td>Buš Jiří</td>
                        <td>Rájec-Jestřebí</td>
                        <td>M</td>
                        <td>10.</td>
                        <td> 00:51:48</td>
                        <td>+ 13m 21s</td>
                    </tr>
                    <tr>
                        <td>34.</td>
                        <td>72</td>
                        <td>Vrána Filip</td>
                        <td>Jundrov</td>
                        <td>MV1</td>
                        <td>13.</td>
                        <td> 00:51:54</td>
                        <td>+ 13m 27s</td>
                    </tr>
                    <tr>
                        <td>35.</td>
                        <td>51</td>
                        <td>Ondroušková Ivana</td>
                        <td>Blansko</td>
                        <td>ŽV1</td>
                        <td>2.</td>
                        <td> 00:51:57</td>
                        <td>+ 13m 30s</td>
                    </tr>
                    <tr>
                        <td>36.</td>
                        <td>57</td>
                        <td>Münster Libor</td>
                        <td>Blansko</td>
                        <td>MV2</td>
                        <td>7.</td>
                        <td> 00:52:07</td>
                        <td>+ 13m 40s</td>
                    </tr>
                    <tr>
                        <td>37.</td>
                        <td>5</td>
                        <td>Mořický Lukáš</td>
                        <td>Nesovice</td>
                        <td>M</td>
                        <td>11.</td>
                        <td> 00:52:12</td>
                        <td>+ 13m 45s</td>
                    </tr>
                    <tr>
                        <td>38.</td>
                        <td>61</td>
                        <td>Hromek Jiří</td>
                        <td>FENYX Adamov</td>
                        <td>MV2</td>
                        <td>8.</td>
                        <td> 00:53:12</td>
                        <td>+ 14m 45s</td>
                    </tr>
                    <tr>
                        <td>39.</td>
                        <td>71</td>
                        <td>Svoboda Pavel</td>
                        <td>TJ Sloup</td>
                        <td>MV3</td>
                        <td>1.</td>
                        <td> 00:53:30</td>
                        <td>+ 15m 3s</td>
                    </tr>
                    <tr>
                        <td>40.</td>
                        <td>25</td>
                        <td>Krusinova Andrea</td>
                        <td>Letovice</td>
                        <td>Ž</td>
                        <td>5.</td>
                        <td> 00:54:11</td>
                        <td>+ 15m 44s</td>
                    </tr>
                    <tr>
                        <td>41.</td>
                        <td>39</td>
                        <td>Novák Pavel</td>
                        <td>Suchdol</td>
                        <td>M</td>
                        <td>12.</td>
                        <td> 00:54:29</td>
                        <td>+ 16m 2s</td>
                    </tr>
                    <tr>
                        <td>42.</td>
                        <td>54</td>
                        <td>Žejšek Martin</td>
                        <td>Kašpaři VM</td>
                        <td>M</td>
                        <td>13.</td>
                        <td> 00:54:46</td>
                        <td>+ 16m 19s</td>
                    </tr>
                    <tr>
                        <td>43.</td>
                        <td>65</td>
                        <td>Šperka Oldřich</td>
                        <td>Jedovnice</td>
                        <td>MV3</td>
                        <td>2.</td>
                        <td> 00:55:18</td>
                        <td>+ 16m 51s</td>
                    </tr>
                    <tr>
                        <td>44.</td>
                        <td>84</td>
                        <td>Novák Zdeněk</td>
                        <td>Horizont Kola Novák Blansko</td>
                        <td>MV2</td>
                        <td>9.</td>
                        <td> 00:55:18</td>
                        <td>+ 16m 51s</td>
                    </tr>
                    <tr>
                        <td>45.</td>
                        <td>77</td>
                        <td>Lorenc Antonín</td>
                        <td>Bertík Blansko</td>
                        <td>MV2</td>
                        <td>10.</td>
                        <td> 00:55:26</td>
                        <td>+ 16m 59s</td>
                    </tr>
                    <tr>
                        <td>46.</td>
                        <td>35</td>
                        <td>Kacetl Jan</td>
                        <td>Těchov</td>
                        <td>M</td>
                        <td>14.</td>
                        <td> 00:55:42</td>
                        <td>+ 17m 15s</td>
                    </tr>
                    <tr>
                        <td>47.</td>
                        <td>41</td>
                        <td>Novotný Karel</td>
                        <td>Brno</td>
                        <td>M</td>
                        <td>15.</td>
                        <td> 00:57:10</td>
                        <td>+ 18m 43s</td>
                    </tr>
                    <tr>
                        <td>48.</td>
                        <td>37</td>
                        <td>Širůčková Martina</td>
                        <td>Rehacentrum Letovice</td>
                        <td>Ž</td>
                        <td>6.</td>
                        <td> 00:57:32</td>
                        <td>+ 19m 5s</td>
                    </tr>
                    <tr>
                        <td>49.</td>
                        <td>32</td>
                        <td>Fabiánek Filip</td>
                        <td>OB Veselice</td>
                        <td>M</td>
                        <td>16.</td>
                        <td> 00:57:52</td>
                        <td>+ 19m 25s</td>
                    </tr>
                    <tr>
                        <td>50.</td>
                        <td>11</td>
                        <td>Buš Roman</td>
                        <td>Rájec</td>
                        <td>MV2</td>
                        <td>11.</td>
                        <td> 00:58:03</td>
                        <td>+ 19m 36s</td>
                    </tr>
                    <tr>
                        <td>51.</td>
                        <td>28</td>
                        <td>Žákovská alenazak</td>
                        <td>horizont Blansko</td>
                        <td>ŽV2</td>
                        <td>1.</td>
                        <td> 00:58:21</td>
                        <td>+ 19m 54s</td>
                    </tr>
                    <tr>
                        <td>52.</td>
                        <td>34</td>
                        <td>Hlaváč Libor</td>
                        <td>Brno Borci Zdar!</td>
                        <td>MV1</td>
                        <td>14.</td>
                        <td> 00:58:40</td>
                        <td>+ 20m 13s</td>
                    </tr>
                    <tr>
                        <td>53.</td>
                        <td>63</td>
                        <td>Polášková Martina</td>
                        <td>Blansko</td>
                        <td>ŽV1</td>
                        <td>3.</td>
                        <td> 00:58:56</td>
                        <td>+ 20m 29s</td>
                    </tr>
                    <tr>
                        <td>54.</td>
                        <td>42</td>
                        <td>Petřek Zdenek</td>
                        <td>Sokol Bohuňovice</td>
                        <td>MV3</td>
                        <td>3.</td>
                        <td> 01:00:01</td>
                        <td>+ 21m 34s</td>
                    </tr>
                    <tr>
                        <td>55.</td>
                        <td>56</td>
                        <td>Jalová Margita</td>
                        <td>Elite Sport Boskovice</td>
                        <td>ŽV2</td>
                        <td>2.</td>
                        <td> 01:00:33</td>
                        <td>+ 22m 6s</td>
                    </tr>
                    <tr>
                        <td>56.</td>
                        <td>40</td>
                        <td>Petržela Lukáš</td>
                        <td>Skalice</td>
                        <td>M</td>
                        <td>17.</td>
                        <td> 01:00:47</td>
                        <td>+ 22m 20s</td>
                    </tr>
                    <tr>
                        <td>57.</td>
                        <td>14</td>
                        <td>Jančík Petr</td>
                        <td>Unín 62</td>
                        <td>M</td>
                        <td>18.</td>
                        <td> 01:00:53</td>
                        <td>+ 22m 26s</td>
                    </tr>
                    <tr>
                        <td>58.</td>
                        <td>18</td>
                        <td>Kobeda Lubomir</td>
                        <td>Holubice</td>
                        <td>MV1</td>
                        <td>15.</td>
                        <td> 01:01:38</td>
                        <td>+ 23m 11s</td>
                    </tr>
                    <tr>
                        <td>59.</td>
                        <td>15</td>
                        <td>Kukla Jan</td>
                        <td>Telnice</td>
                        <td>M</td>
                        <td>19.</td>
                        <td> 01:03:46</td>
                        <td>+ 25m 19s</td>
                    </tr>
                    <tr>
                        <td>60.</td>
                        <td>60</td>
                        <td>Daněk Milan</td>
                        <td>Horizont kola Novák Blansko</td>
                        <td>MV2</td>
                        <td>12.</td>
                        <td> 01:04:29</td>
                        <td>+ 26m 2s</td>
                    </tr>
                    <tr>
                        <td>61.</td>
                        <td>58</td>
                        <td>Medek Jiří</td>
                        <td>Černá Hora</td>
                        <td>MV1</td>
                        <td>16.</td>
                        <td> 01:04:40</td>
                        <td>+ 26m 13s</td>
                    </tr>
                    <tr>
                        <td>62.</td>
                        <td>26</td>
                        <td>Kuběna Vít</td>
                        <td>Ráječko</td>
                        <td>MV1</td>
                        <td>17.</td>
                        <td> 01:05:31</td>
                        <td>+ 27m 4s</td>
                    </tr>
                    <tr>
                        <td>63.</td>
                        <td>85</td>
                        <td>Palátová Veronika</td>
                        <td>Blansko</td>
                        <td>Ž</td>
                        <td>7.</td>
                        <td> 01:05:52</td>
                        <td>+ 27m 25s</td>
                    </tr>
                    <tr>
                        <td>64.</td>
                        <td>64</td>
                        <td>Sobotková Irena</td>
                        <td>Macháček a spol.</td>
                        <td>Ž</td>
                        <td>8.</td>
                        <td> 01:06:41</td>
                        <td>+ 28m 14s</td>
                    </tr>
                    <tr>
                        <td>65.</td>
                        <td>23</td>
                        <td>Střítežská Jolana</td>
                        <td>Lelekovice</td>
                        <td>ŽV1</td>
                        <td>4.</td>
                        <td> 01:08:43</td>
                        <td>+ 30m 16s</td>
                    </tr>
                    <tr>
                        <td>66.</td>
                        <td>49</td>
                        <td>Šebková Iva</td>
                        <td>Blansko</td>
                        <td>ŽV1</td>
                        <td>5.</td>
                        <td> 01:09:35</td>
                        <td>+ 31m 8s</td>
                    </tr>
                    <tr>
                        <td>67.</td>
                        <td>27</td>
                        <td>Kopecká Barbora</td>
                        <td>OCR Runners Olomouc</td>
                        <td>Ž</td>
                        <td>9.</td>
                        <td> 01:09:58</td>
                        <td>+ 31m 31s</td>
                    </tr>
                    <tr>
                        <td>68.</td>
                        <td>36</td>
                        <td>Weisová Barbora</td>
                        <td>Elite Sport Boskovice</td>
                        <td>Ž</td>
                        <td>10.</td>
                        <td> 01:13:29</td>
                        <td>+ 35m 2s</td>
                    </tr>
                    <tr>
                        <td>69.</td>
                        <td>70</td>
                        <td>Klepal Petr</td>
                        <td>PerunTeam Blansko</td>
                        <td>MV2</td>
                        <td>13.</td>
                        <td> 01:17:02</td>
                        <td>+ 38m 35s</td>
                    </tr>
                    <tr>
                        <td>70.</td>
                        <td>67</td>
                        <td>Klepalová Lenka</td>
                        <td>PerunTeam Blansko</td>
                        <td>ŽV2</td>
                        <td>3.</td>
                        <td> 01:17:02</td>
                        <td>+ 38m 35s</td>
                    </tr>
                    <tr>
                        <td>71.</td>
                        <td>73</td>
                        <td>Růžička Bohuslav</td>
                        <td>SC Ráječko</td>
                        <td>MV3</td>
                        <td>4.</td>
                        <td> 01:20:09</td>
                        <td>+ 41m 42s</td>
                    </tr>
                    <tr>
                        <td>72.</td>
                        <td>68</td>
                        <td>Stráník Aleš</td>
                        <td>Blansko</td>
                        <td>MV3</td>
                        <td>5.</td>
                        <td> 01:26:55</td>
                        <td>+ 48m 28s</td>
                    </tr>
                    <tr>
                        <td>73.</td>
                        <td>69</td>
                        <td>Krejčiříková Kateřina</td>
                        <td>Svatá Kateřina</td>
                        <td>ŽV1</td>
                        <td>6.</td>
                        <td> 01:26:57</td>
                        <td>+ 48m 30s</td>
                    </tr>
                    <tr>
                        <td>74.</td>
                        <td>24</td>
                        <td>Hrubý Milan</td>
                        <td>Blansko</td>
                        <td>MV3</td>
                        <td>6.</td>
                        <td> 01:31:56</td>
                        <td>+ 53m 29s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>81</td>
                        <td>Macháček Martin</td>
                        <td>Macháček a spol.</td>
                        <td>MV3</td>
                        <td></td>
                        <td> NA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>20</td>
                        <td>Grünová Ivana</td>
                        <td>AC Okrouhlá</td>
                        <td>ŽV1</td>
                        <td></td>
                        <td> NA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>22</td>
                        <td>Jančaříková Lenka</td>
                        <td>AAC Brno</td>
                        <td>ŽV1</td>
                        <td></td>
                        <td> NA</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>5 km</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>D84</td>
                        <td>Říha Jaroslav</td>
                        <td>UNI Brno/Újezd u Černé Hory</td>
                        <td>J</td>
                        <td>1.</td>
                        <td> 00:23:25</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>D85</td>
                        <td>Jančařík Tomáš</td>
                        <td>UNI Brno</td>
                        <td>P</td>
                        <td>1.</td>
                        <td> 00:24:20</td>
                        <td>+ 55s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>30</td>
                        <td>Haasová Radka</td>
                        <td>Moravec team</td>
                        <td>P</td>
                        <td>1.</td>
                        <td> 00:32:17</td>
                        <td>+ 8m 52s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>52</td>
                        <td>Charvárová Lenka</td>
                        <td>Adamov</td>
                        <td>P</td>
                        <td>2.</td>
                        <td> 00:32:37</td>
                        <td>+ 9m 12s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>53</td>
                        <td>Šamonilová Eva</td>
                        <td>Horizont Blansko</td>
                        <td>P</td>
                        <td>3.</td>
                        <td> 00:32:38</td>
                        <td>+ 9m 13s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>45</td>
                        <td>Hamadová Ivana</td>
                        <td>Bílovice nad Svitavou</td>
                        <td>P</td>
                        <td>4.</td>
                        <td> 00:36:57</td>
                        <td>+ 13m 32s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Žáci - 1&nbsp;350&nbsp;m</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>D76</td>
                        <td>Dobrovský Michal</td>
                        <td>Biatlon Blansko</td>
                        <td>ŽciS</td>
                        <td>1.</td>
                        <td> 00:05:51</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>D79</td>
                        <td>Charvát Matyáš</td>
                        <td>Elite Sport Boskovice</td>
                        <td>ŽciM</td>
                        <td>1.</td>
                        <td> 00:05:55</td>
                        <td>+ 4s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>D62</td>
                        <td>Kroupa Kryštof</td>
                        <td>AK Blansko Dvorská</td>
                        <td>ŽciM</td>
                        <td>2.</td>
                        <td> 00:05:58</td>
                        <td>+ 7s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>D14</td>
                        <td>Jančařík Tomáš</td>
                        <td>VSK UNI Brno</td>
                        <td>ŽciM</td>
                        <td>3.</td>
                        <td> 00:06:15</td>
                        <td>+ 24s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>D10</td>
                        <td>Křížová Viktorie</td>
                        <td>Elite Sport Boskovice</td>
                        <td>ŽkyM</td>
                        <td>1.</td>
                        <td> 00:06:37</td>
                        <td>+ 46s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>D8</td>
                        <td>Malits Marek</td>
                        <td>ASK Blansko/</td>
                        <td>ŽciS</td>
                        <td>2.</td>
                        <td> 00:06:44</td>
                        <td>+ 53s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>D82</td>
                        <td>Matušková Julie</td>
                        <td>ASK Blansko</td>
                        <td>ŽkyM</td>
                        <td>2.</td>
                        <td> 00:06:45</td>
                        <td>+ 54s</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>D77</td>
                        <td>Dobrovská Lucie</td>
                        <td>ASK BLANSKO</td>
                        <td>ŽkyM</td>
                        <td>3.</td>
                        <td> 00:06:48</td>
                        <td>+ 57s</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>D74</td>
                        <td>Bresser Timothy</td>
                        <td>Elite sport Boskovice</td>
                        <td>ŽciM</td>
                        <td>4.</td>
                        <td> 00:06:49</td>
                        <td>+ 58s</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>D16</td>
                        <td>Kubinová Adéla</td>
                        <td>Elite Sport Boskovice</td>
                        <td>ŽkyS</td>
                        <td>1.</td>
                        <td> 00:06:56</td>
                        <td>+ 1m 5s</td>
                    </tr>
                    <tr>
                        <td>11.</td>
                        <td>D1</td>
                        <td>Dvořák Tomáš</td>
                        <td>Kulířov</td>
                        <td>ŽciS</td>
                        <td>3.</td>
                        <td> 00:07:11</td>
                        <td>+ 1m 20s</td>
                    </tr>
                    <tr>
                        <td>12.</td>
                        <td>D63</td>
                        <td>Jandáková Leona</td>
                        <td>ASK Blansko</td>
                        <td>ŽkyM</td>
                        <td>4.</td>
                        <td> 00:07:21</td>
                        <td>+ 1m 30s</td>
                    </tr>
                    <tr>
                        <td>13.</td>
                        <td>D71</td>
                        <td>Kovácsová Alžběta</td>
                        <td>Elite Sport Boskovice</td>
                        <td>ŽkyM</td>
                        <td>5.</td>
                        <td> 00:07:46</td>
                        <td>+ 1m 55s</td>
                    </tr>
                    <tr>
                        <td>14.</td>
                        <td>D22</td>
                        <td>Daněk Štěpán</td>
                        <td>horizont Blansko</td>
                        <td>ŽciS</td>
                        <td>4.</td>
                        <td> 00:09:10</td>
                        <td>+ 3m 19s</td>
                    </tr>
                    <tr>
                        <td>15.</td>
                        <td>D24</td>
                        <td>Skorepa petr</td>
                        <td>elite boskovice</td>
                        <td>ŽciM</td>
                        <td>5.</td>
                        <td> 00:10:12</td>
                        <td>+ 4m 21s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Přípravka holky - 600 m</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>D4</td>
                        <td>Šamšulová Martina</td>
                        <td>Elite Sport Boskovice/Letovice</td>
                        <td>PříD</td>
                        <td>1.</td>
                        <td> 00:02:03</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>D80</td>
                        <td>Kniesová Lucie</td>
                        <td>AK Blansko Dvorská</td>
                        <td>PříD</td>
                        <td>2.</td>
                        <td> 00:02:04</td>
                        <td>+ 1s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>D15</td>
                        <td>Jančaříková Karolína</td>
                        <td>VSK UNI Brno</td>
                        <td>PříD</td>
                        <td>3.</td>
                        <td> 00:02:05</td>
                        <td>+ 2s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>D59</td>
                        <td>Rozkošná Klára</td>
                        <td>Biatlon Blansko</td>
                        <td>PříD</td>
                        <td>4.</td>
                        <td> 00:02:09</td>
                        <td>+ 6s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>D81</td>
                        <td>Králová Ema</td>
                        <td>AK Blansko Dvorská</td>
                        <td>PříD</td>
                        <td>5.</td>
                        <td> 00:02:18</td>
                        <td>+ 15s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>D61</td>
                        <td>Kroupová Bára</td>
                        <td>AK Blansko Dvorská</td>
                        <td>PříD</td>
                        <td>6.</td>
                        <td> 00:02:31</td>
                        <td>+ 28s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>D12</td>
                        <td>Prunerová Klára</td>
                        <td>Praha</td>
                        <td>PříD</td>
                        <td>7.</td>
                        <td> 00:02:33</td>
                        <td>+ 30s</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>D60</td>
                        <td>Václavová Klára</td>
                        <td>Svitávka</td>
                        <td>PříD</td>
                        <td>8.</td>
                        <td> 00:02:44</td>
                        <td>+ 41s</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>D67</td>
                        <td>Kaňová Barbora</td>
                        <td>Lipovec</td>
                        <td>PříD</td>
                        <td>9.</td>
                        <td> 00:02:45</td>
                        <td>+ 42s</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>D41</td>
                        <td>Vybíhalová Nikola</td>
                        <td>OB Veselice</td>
                        <td>PříD</td>
                        <td>10.</td>
                        <td> 00:03:01</td>
                        <td>+ 58s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>D64</td>
                        <td>Vrbová Anna Marie</td>
                        <td>Elit Train Max Training Blansko</td>
                        <td>PříD</td>
                        <td></td>
                        <td> DNF</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Přípravka kluci - 600 m</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>D2</td>
                        <td>Ellinger Denis</td>
                        <td>ASK Blansko</td>
                        <td>PříCh</td>
                        <td>1.</td>
                        <td> 00:02:03</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>D25</td>
                        <td>Worbis Radim</td>
                        <td>Kotvrdovice, Kotvrdovice</td>
                        <td>PříCh</td>
                        <td>2.</td>
                        <td> 00:02:07</td>
                        <td>+ 4s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>D5</td>
                        <td>Šafránek Jáchym</td>
                        <td>Doubravice/Elite Sport Boskovice</td>
                        <td>PříCh</td>
                        <td>3.</td>
                        <td> 00:02:08</td>
                        <td>+ 5s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>D78</td>
                        <td>Zouhar Jan</td>
                        <td>Kotvrdovice</td>
                        <td>PříCh</td>
                        <td>4.</td>
                        <td> 00:02:12</td>
                        <td>+ 9s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>D19</td>
                        <td>Krusina Daniel</td>
                        <td>Letovice</td>
                        <td>PříCh</td>
                        <td>5.</td>
                        <td> 00:02:21</td>
                        <td>+ 18s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>D75</td>
                        <td>Kleb Jiř</td>
                        <td>Kotvrdovice</td>
                        <td>PříCh</td>
                        <td>6.</td>
                        <td> 00:02:37</td>
                        <td>+ 34s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>D7</td>
                        <td>Malits Radek</td>
                        <td>ASK Blansko /</td>
                        <td>PříCh</td>
                        <td>7.</td>
                        <td> 00:03:29</td>
                        <td>+ 1m 26s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Svišti holky</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>D65</td>
                        <td>Jandáková Zuzana</td>
                        <td>ASK Blansko</td>
                        <td>STIh</td>
                        <td>1.</td>
                        <td> 00:00:32</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>D11</td>
                        <td>Meluzínová Nela</td>
                        <td>Elite Sport Boskovice</td>
                        <td>STIh</td>
                        <td>2.</td>
                        <td> 00:00:33</td>
                        <td>+ 1s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>D66</td>
                        <td>Hegedüšová Simona</td>
                        <td>Elite sport Boskovice</td>
                        <td>STIh</td>
                        <td>3.</td>
                        <td> 00:00:33</td>
                        <td>+ 1s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>D72</td>
                        <td>Zukalová Linda</td>
                        <td>Atletika Blansko</td>
                        <td>STIh</td>
                        <td>4.</td>
                        <td> 00:00:36</td>
                        <td>+ 4s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>D17</td>
                        <td>Kriklová Lenka</td>
                        <td>Jaroměřice</td>
                        <td>STIh</td>
                        <td>5.</td>
                        <td> 00:00:37</td>
                        <td>+ 5s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>D9</td>
                        <td>Horská Nikol</td>
                        <td>OB Veselice</td>
                        <td>STIh</td>
                        <td>6.</td>
                        <td> 00:00:37</td>
                        <td>+ 5s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>D6</td>
                        <td>Šafránková Anna</td>
                        <td>Doubravice nad Svitavou</td>
                        <td>STIh</td>
                        <td>7.</td>
                        <td> 00:00:38</td>
                        <td>+ 6s</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>D48</td>
                        <td>Juračková Karolína</td>
                        <td>AK Blansko Dvorská</td>
                        <td>STIh</td>
                        <td>8.</td>
                        <td> 00:00:38</td>
                        <td>+ 6s</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>D29</td>
                        <td>Sotolářová Barbora</td>
                        <td>OB Veselice</td>
                        <td>STIh</td>
                        <td>9.</td>
                        <td> 00:00:39</td>
                        <td>+ 7s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Svišti kluci</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>D21</td>
                        <td>Dostál Dominik</td>
                        <td>Elite Sport Boskovice</td>
                        <td>STIk</td>
                        <td>1.</td>
                        <td> 00:00:29</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>D58</td>
                        <td>Rozkošný Jakub</td>
                        <td>Lelekovice - biatlon</td>
                        <td>STIk</td>
                        <td>2.</td>
                        <td> 00:00:29</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>D73</td>
                        <td>Lachman Vojtěch</td>
                        <td>Letovice</td>
                        <td>STIk</td>
                        <td>3.</td>
                        <td> 00:00:30</td>
                        <td>+ 1s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>D49</td>
                        <td>Korgo Vojta</td>
                        <td>SPORT MAX TRAININ JAN KOHUT</td>
                        <td>STIk</td>
                        <td>4.</td>
                        <td> 00:00:30</td>
                        <td>+ 1s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>D3</td>
                        <td>Ellinger Šimon</td>
                        <td>ASK Blansko</td>
                        <td>STIk</td>
                        <td>5.</td>
                        <td> 00:00:31</td>
                        <td>+ 2s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>D35</td>
                        <td>Kovařík Daniel</td>
                        <td>Klepačov</td>
                        <td>STIk</td>
                        <td>6.</td>
                        <td> 00:00:32</td>
                        <td>+ 3s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>D18</td>
                        <td>Řehák Šimon</td>
                        <td>Atletika Boskovice</td>
                        <td>STIk</td>
                        <td>7.</td>
                        <td> 00:00:33</td>
                        <td>+ 4s</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>D69</td>
                        <td>Hrnčíř Tadeáš</td>
                        <td>Řícmanice</td>
                        <td>STIk</td>
                        <td>8.</td>
                        <td> 00:00:35</td>
                        <td>+ 6s</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>D46</td>
                        <td>Martinek Tomáš</td>
                        <td>Těchov</td>
                        <td>STIk</td>
                        <td>9.</td>
                        <td> 00:00:37</td>
                        <td>+ 8s</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>D34</td>
                        <td>Jarůšek Alex</td>
                        <td>Veselice</td>
                        <td>STIk</td>
                        <td>10.</td>
                        <td> 00:00:38</td>
                        <td>+ 9s</td>
                    </tr>
                    <tr>
                        <td>11.</td>
                        <td>D37</td>
                        <td>Ondroušek Petr</td>
                        <td>OB Veselice</td>
                        <td>STIk</td>
                        <td>11.</td>
                        <td> 00:00:39</td>
                        <td>+ 10s</td>
                    </tr>
                    <tr>
                        <td>12.</td>
                        <td>D20</td>
                        <td>Krusina Adam</td>
                        <td>Letovice</td>
                        <td>STIk</td>
                        <td>12.</td>
                        <td> 00:00:41</td>
                        <td>+ 12s</td>
                    </tr>
                    <tr>
                        <td>13.</td>
                        <td>D33</td>
                        <td>Kala David</td>
                        <td>Ostrov u Macochy</td>
                        <td>STIk</td>
                        <td>13.</td>
                        <td> 00:00:49</td>
                        <td>+ 20s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Svištíci holky</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>D23</td>
                        <td>Sofie SKOREPOVA</td>
                        <td>elite boskovice</td>
                        <td>SVCh</td>
                        <td>1.</td>
                        <td> 00:00:17</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>D26</td>
                        <td>Černa Adéla</td>
                        <td>Blansko</td>
                        <td>SVCh</td>
                        <td>2.</td>
                        <td> 00:00:19</td>
                        <td>+ 2s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>D42</td>
                        <td>Vybíhalová Denisa</td>
                        <td>OB Veselice</td>
                        <td>SVCh</td>
                        <td>3.</td>
                        <td> 00:00:19</td>
                        <td>+ 2s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>D57</td>
                        <td>Rozkošná Erika</td>
                        <td>Lelekovice</td>
                        <td>SVCh</td>
                        <td>4.</td>
                        <td> 00:00:21</td>
                        <td>+ 4s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>D43</td>
                        <td>Suchá Ema</td>
                        <td>Olomučany</td>
                        <td>SVCh</td>
                        <td>5.</td>
                        <td> 00:00:22</td>
                        <td>+ 5s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>D36</td>
                        <td>Kovaříková Anita</td>
                        <td>Klepačov</td>
                        <td>SVCh</td>
                        <td>6.</td>
                        <td> 00:00:24</td>
                        <td>+ 7s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>D70</td>
                        <td>Weisová Amálie</td>
                        <td>Olešnice</td>
                        <td>SVCh</td>
                        <td>7.</td>
                        <td> 00:00:24</td>
                        <td>+ 7s</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>D68</td>
                        <td>Hrnčířová Venuše</td>
                        <td>Řícmanice</td>
                        <td>SVCh</td>
                        <td>8.</td>
                        <td> 00:00:25</td>
                        <td>+ 8s</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>D54</td>
                        <td>Kacetlová Simona</td>
                        <td>Těchov</td>
                        <td>SVCh</td>
                        <td>9.</td>
                        <td> 00:00:26</td>
                        <td>+ 9s</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>D45</td>
                        <td>Šamonilová Běla</td>
                        <td>Horizont Blansko</td>
                        <td>SVCh</td>
                        <td>10.</td>
                        <td> 00:00:28</td>
                        <td>+ 11s</td>
                    </tr>
                    <tr>
                        <td>11.</td>
                        <td>D44</td>
                        <td>Šamonilová Ria</td>
                        <td>Horizont Blansko</td>
                        <td>SVCh</td>
                        <td>11.</td>
                        <td> 00:00:33</td>
                        <td>+ 16s</td>
                    </tr>
                    <tr>
                        <td>12.</td>
                        <td>D32</td>
                        <td>Novotná Alžběta</td>
                        <td>Veselice</td>
                        <td>SVCh</td>
                        <td>12.</td>
                        <td> 00:00:35</td>
                        <td>+ 18s</td>
                    </tr>
                    <tr>
                        <td>13.</td>
                        <td>D38</td>
                        <td>Ondroušková Eva</td>
                        <td>OB Veselice</td>
                        <td>SVCh</td>
                        <td>13.</td>
                        <td> 00:00:38</td>
                        <td>+ 21s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Svištíci kluci</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>D47</td>
                        <td>Martinek Lukáš</td>
                        <td>Těchov</td>
                        <td>SVCk</td>
                        <td>1.</td>
                        <td> 00:00:18</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>D53</td>
                        <td>Kacetl Richard</td>
                        <td>Těchov</td>
                        <td>SVCk</td>
                        <td>2.</td>
                        <td> 00:00:18</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>D50</td>
                        <td>Korgo Matouš</td>
                        <td>SPORT MAX TRAINING JAN KOHUT</td>
                        <td>SVCk</td>
                        <td>3.</td>
                        <td> 00:00:18</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>D13</td>
                        <td>Pruner Matyáš</td>
                        <td>Praha</td>
                        <td>SVCk</td>
                        <td>4.</td>
                        <td> 00:00:18</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>D28</td>
                        <td>Sotolář Adam</td>
                        <td>OB Veselice</td>
                        <td>SVCk</td>
                        <td>5.</td>
                        <td> 00:00:19</td>
                        <td>+ 1s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>D39</td>
                        <td>Ondroušek Felix</td>
                        <td>OB Veselice</td>
                        <td>SVCk</td>
                        <td>6.</td>
                        <td> 00:00:20</td>
                        <td>+ 2s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>D56</td>
                        <td>Hlouška Filip</td>
                        <td>Svitávka</td>
                        <td>SVCk</td>
                        <td>7.</td>
                        <td> 00:00:20</td>
                        <td>+ 2s</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>D27</td>
                        <td>Černý Ondřej</td>
                        <td>Blansko</td>
                        <td>SVCk</td>
                        <td>8.</td>
                        <td> 00:00:20</td>
                        <td>+ 2s</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>D55</td>
                        <td>Krikl Tomáš</td>
                        <td>Jaroměřice</td>
                        <td>SVCk</td>
                        <td>9.</td>
                        <td> 00:00:21</td>
                        <td>+ 3s</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>D51</td>
                        <td>Felšöci Marek</td>
                        <td>Brno Borci Zdar!</td>
                        <td>SVCk</td>
                        <td>10.</td>
                        <td> 00:00:22</td>
                        <td>+ 4s</td>
                    </tr>
                    <tr>
                        <td>11.</td>
                        <td>D31</td>
                        <td>Novotný Jan</td>
                        <td>Nové Dvory</td>
                        <td>SVCk</td>
                        <td>11.</td>
                        <td> 00:00:23</td>
                        <td>+ 5s</td>
                    </tr>
                    <tr>
                        <td>12.</td>
                        <td>D30</td>
                        <td>Novák Max</td>
                        <td>Suchdol</td>
                        <td>SVCk</td>
                        <td>12.</td>
                        <td> 00:00:23</td>
                        <td>+ 5s</td>
                    </tr>
                    <tr>
                        <td>13.</td>
                        <td>D52</td>
                        <td>Hlaváč Radim</td>
                        <td>Brno Borci Zdar!</td>
                        <td>SVCk</td>
                        <td>13.</td>
                        <td> 00:00:25</td>
                        <td>+ 7s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a class="btn btn-primary toTop">
                <span class="glyphicon glyphicon-chevron-up"></span>&nbsp;Nahoru
            </a>
            <a class="btn btn-warning" n:href="vysledky">
                <span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Zpět na výsledky
            </a>
        </div>


    </div>
</div>


{include './footer.latte'}


</body>
{/block}
</html>