<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Výsledky závodu v roce 2019 | Lesempolem.cz</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block |strip}
{include './nav.latte', active => 'vysledky'}
<div class="container">

    <div class="row">
        <div>
            <h1>MČR ultramaraton - 63 km</h1>
            <h2>Celkové výsledky</h2>
            <table class="table table-striped table-hover" id="bigger-text">
                <tr>
                    <th>Poř.</th>
                    <th>S. číslo</th>
                    <th>Jméno</th>
                    <th>Kat.</th>
                    <th>10.5 km</th>
                    <th>21 km</th>
                    <th>31.5 km</th>
                    <th>42 km</th>
                    <th>52.5 km</th>
                    <th>63 km</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>1</td>
                    <td>
                        Daniel Orálek
                    </td>
                    <td>
                        (50-54)
                    </td>
                    <td>
                        00:50:34&nbsp;[3]
                    </td>
                    <td>
                        01:38:55&nbsp;[1]
                    </td>
                    <td>
                        02:27:13&nbsp;[1]
                    </td>
                    <td>
                        03:19:03&nbsp;[1]
                    </td>
                    <td>
                        04:19:45&nbsp;[1]
                    </td>
                    <td>
                        05:30:58&nbsp;[1]
                    </td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>23</td>
                    <td>
                        Ivan Urbánek
                    </td>
                    <td>
                        (35-39)
                    </td>
                    <td>
                        00:50:33&nbsp;[2]
                    </td>
                    <td>
                        01:40:57&nbsp;[5]
                    </td>
                    <td>
                        02:34:48&nbsp;[5]
                    </td>
                    <td>
                        03:32:14&nbsp;[4]
                    </td>
                    <td>
                        04:32:55&nbsp;[3]
                    </td>
                    <td>
                        05:32:32&nbsp;[2]
                    </td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>3</td>
                    <td>
                        Ondřej Pouč
                    </td>
                    <td>
                        (45-49)
                    </td>
                    <td>
                        00:54:02&nbsp;[9]
                    </td>
                    <td>
                        01:48:36&nbsp;[9]
                    </td>
                    <td>
                        02:41:54&nbsp;[6]
                    </td>
                    <td>
                        03:37:08&nbsp;[6]
                    </td>
                    <td>
                        04:35:54&nbsp;[5]
                    </td>
                    <td>
                        05:34:07&nbsp;[3]
                    </td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>24</td>
                    <td>
                        Jan Šunka
                    </td>
                    <td>
                        (40-44)
                    </td>
                    <td>
                        00:50:32&nbsp;[1]
                    </td>
                    <td>
                        01:38:56&nbsp;[2]
                    </td>
                    <td>
                        02:30:26&nbsp;[3]
                    </td>
                    <td>
                        03:29:37&nbsp;[3]
                    </td>
                    <td>
                        04:32:51&nbsp;[2]
                    </td>
                    <td>
                        05:36:39&nbsp;[4]
                    </td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>17</td>
                    <td>
                        Filip Švrček
                    </td>
                    <td>
                        (35-39)
                    </td>
                    <td>
                        00:50:34&nbsp;[4]
                    </td>
                    <td>
                        01:40:34&nbsp;[4]
                    </td>
                    <td>
                        02:33:54&nbsp;[4]
                    </td>
                    <td>
                        03:32:50&nbsp;[5]
                    </td>
                    <td>
                        04:40:40&nbsp;[6]
                    </td>
                    <td>
                        05:40:23&nbsp;[5]
                    </td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>19</td>
                    <td>
                        Jakub Kolman
                    </td>
                    <td>
                        (45-49)
                    </td>
                    <td>
                        00:56:28&nbsp;[17]
                    </td>
                    <td>
                        01:53:17&nbsp;[14]
                    </td>
                    <td>
                        02:50:03&nbsp;[11]
                    </td>
                    <td>
                        03:47:52&nbsp;[9]
                    </td>
                    <td>
                        04:46:34&nbsp;[8]
                    </td>
                    <td>
                        05:43:45&nbsp;[6]
                    </td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>21</td>
                    <td>
                        Stanislav Široký
                    </td>
                    <td>
                        (40-44)
                    </td>
                    <td>
                        00:50:35&nbsp;[5]
                    </td>
                    <td>
                        01:38:56&nbsp;[3]
                    </td>
                    <td>
                        02:28:46&nbsp;[2]
                    </td>
                    <td>
                        03:29:20&nbsp;[2]
                    </td>
                    <td>
                        04:35:29&nbsp;[4]
                    </td>
                    <td>
                        05:44:13&nbsp;[7]
                    </td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>6</td>
                    <td>
                        Ladislav Erbert
                    </td>
                    <td>
                        (40-44)
                    </td>
                    <td>
                        00:54:04&nbsp;[10]
                    </td>
                    <td>
                        01:48:35&nbsp;[8]
                    </td>
                    <td>
                        02:42:54&nbsp;[7]
                    </td>
                    <td>
                        03:41:05&nbsp;[7]
                    </td>
                    <td>
                        04:45:07&nbsp;[7]
                    </td>
                    <td>
                        05:48:17&nbsp;[8]
                    </td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>28</td>
                    <td>
                        Martina Dvořáková
                    </td>
                    <td>
                        (35-39)
                    </td>
                    <td>
                        00:51:32&nbsp;[6]
                    </td>
                    <td>
                        01:46:55&nbsp;[6]
                    </td>
                    <td>
                        02:44:25&nbsp;[9]
                    </td>
                    <td>
                        03:47:22&nbsp;[8]
                    </td>
                    <td>
                        04:53:47&nbsp;[10]
                    </td>
                    <td>
                        05:59:21&nbsp;[9]
                    </td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>8</td>
                    <td>
                        Miroslav Zemánek
                    </td>
                    <td>
                        (40-44)
                    </td>
                    <td>
                        00:54:01&nbsp;[8]
                    </td>
                    <td>
                        01:49:55&nbsp;[11]
                    </td>
                    <td>
                        02:47:21&nbsp;[10]
                    </td>
                    <td>
                        03:48:10&nbsp;[10]
                    </td>
                    <td>
                        04:53:15&nbsp;[9]
                    </td>
                    <td>
                        05:59:32&nbsp;[10]
                    </td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>99</td>
                    <td>
                        Stanislav Sotolář
                    </td>
                    <td>
                        (50-54)
                    </td>
                    <td>
                        00:55:32&nbsp;[15]
                    </td>
                    <td>
                        01:53:52&nbsp;[15]
                    </td>
                    <td>
                        02:53:13&nbsp;[15]
                    </td>
                    <td>
                        03:55:25&nbsp;[13]
                    </td>
                    <td>
                        04:59:41&nbsp;[11]
                    </td>
                    <td>
                        06:03:42&nbsp;[11]
                    </td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>22</td>
                    <td>
                        Michal Krška
                    </td>
                    <td>
                        (35-39)
                    </td>
                    <td>
                        00:53:05&nbsp;[7]
                    </td>
                    <td>
                        01:48:05&nbsp;[7]
                    </td>
                    <td>
                        02:44:03&nbsp;[8]
                    </td>
                    <td>
                        03:48:48&nbsp;[11]
                    </td>
                    <td>
                        04:59:45&nbsp;[12]
                    </td>
                    <td>
                        06:06:00&nbsp;[12]
                    </td>
                </tr>
                <tr>
                    <td>13.</td>
                    <td>13</td>
                    <td>
                        David Knotek
                    </td>
                    <td>
                        (35-39)
                    </td>
                    <td>
                        00:56:51&nbsp;[19]
                    </td>
                    <td>
                        01:54:22&nbsp;[18]
                    </td>
                    <td>
                        02:53:54&nbsp;[16]
                    </td>
                    <td>
                        03:57:42&nbsp;[14]
                    </td>
                    <td>
                        05:07:33&nbsp;[13]
                    </td>
                    <td>
                        06:23:29&nbsp;[13]
                    </td>
                </tr>
                <tr>
                    <td>14.</td>
                    <td>14</td>
                    <td>
                        Pavel Kinc
                    </td>
                    <td>
                        (45-49)
                    </td>
                    <td>
                        00:55:17&nbsp;[14]
                    </td>
                    <td>
                        01:52:02&nbsp;[12]
                    </td>
                    <td>
                        02:50:16&nbsp;[12]
                    </td>
                    <td>
                        03:55:22&nbsp;[12]
                    </td>
                    <td>
                        05:08:58&nbsp;[14]
                    </td>
                    <td>
                        06:27:22&nbsp;[14]
                    </td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>5</td>
                    <td>
                        Martin Řezáč
                    </td>
                    <td>
                        (35-39)
                    </td>
                    <td>
                        00:55:08&nbsp;[12]
                    </td>
                    <td>
                        01:52:46&nbsp;[13]
                    </td>
                    <td>
                        02:52:59&nbsp;[14]
                    </td>
                    <td>
                        04:03:05&nbsp;[15]
                    </td>
                    <td>
                        05:15:51&nbsp;[15]
                    </td>
                    <td>
                        06:29:04&nbsp;[15]
                    </td>
                </tr>
                <tr>
                    <td>16.</td>
                    <td>2</td>
                    <td>
                        Zdeněk Novák
                    </td>
                    <td>
                        (55-59)
                    </td>
                    <td>
                        00:56:08&nbsp;[16]
                    </td>
                    <td>
                        01:54:01&nbsp;[16]
                    </td>
                    <td>
                        02:54:10&nbsp;[17]
                    </td>
                    <td>
                        04:03:32&nbsp;[16]
                    </td>
                    <td>
                        05:19:26&nbsp;[16]
                    </td>
                    <td>
                        06:30:30&nbsp;[16]
                    </td>
                </tr>
                <tr>
                    <td>17.</td>
                    <td>18</td>
                    <td>
                        Michal Komarek
                    </td>
                    <td>
                        (40-44)
                    </td>
                    <td>
                        00:59:58&nbsp;[20]
                    </td>
                    <td>
                        01:59:50&nbsp;[20]
                    </td>
                    <td>
                        03:01:36&nbsp;[19]
                    </td>
                    <td>
                        04:12:11&nbsp;[19]
                    </td>
                    <td>
                        05:25:00&nbsp;[19]
                    </td>
                    <td>
                        06:34:20&nbsp;[17]
                    </td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>20</td>
                    <td>
                        Pavel Sinkule
                    </td>
                    <td>
                        (40-44)
                    </td>
                    <td>
                        00:59:59&nbsp;[21]
                    </td>
                    <td>
                        01:59:50&nbsp;[21]
                    </td>
                    <td>
                        03:01:36&nbsp;[20]
                    </td>
                    <td>
                        04:12:11&nbsp;[20]
                    </td>
                    <td>
                        05:25:00&nbsp;[20]
                    </td>
                    <td>
                        06:34:20&nbsp;[18]
                    </td>
                </tr>
                <tr>
                    <td>19.</td>
                    <td>16</td>
                    <td>
                        Jana Kakáčová
                    </td>
                    <td>
                        (45-49)
                    </td>
                    <td>
                        00:55:14&nbsp;[13]
                    </td>
                    <td>
                        01:54:13&nbsp;[17]
                    </td>
                    <td>
                        02:57:46&nbsp;[18]
                    </td>
                    <td>
                        04:08:43&nbsp;[18]
                    </td>
                    <td>
                        05:23:19&nbsp;[18]
                    </td>
                    <td>
                        06:37:56&nbsp;[19]
                    </td>
                </tr>
                <tr>
                    <td>20.</td>
                    <td>9</td>
                    <td>
                        Jiří Šplíchal
                    </td>
                    <td>

                    </td>
                    <td>
                        00:54:07&nbsp;[11]
                    </td>
                    <td>
                        01:49:25&nbsp;[10]
                    </td>
                    <td>
                        02:51:10&nbsp;[13]
                    </td>
                    <td>
                        04:03:51&nbsp;[17]
                    </td>
                    <td>
                        05:22:59&nbsp;[17]
                    </td>
                    <td>
                        06:46:34&nbsp;[20]
                    </td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>25</td>
                    <td>
                        Daniel Brázdil
                    </td>
                    <td>
                        (45-49)
                    </td>
                    <td>
                        01:00:29&nbsp;[22]
                    </td>
                    <td>
                        02:02:51&nbsp;[22]
                    </td>
                    <td>
                        03:10:06&nbsp;[22]
                    </td>
                    <td>
                        04:25:46&nbsp;[21]
                    </td>
                    <td>
                        05:45:10&nbsp;[21]
                    </td>
                    <td>
                        06:57:02&nbsp;[21]
                    </td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>26</td>
                    <td>
                        Jiří Vávrů
                    </td>
                    <td>
                        (45-49)
                    </td>
                    <td>
                        00:56:49&nbsp;[18]
                    </td>
                    <td>
                        01:56:10&nbsp;[19]
                    </td>
                    <td>
                        03:05:00&nbsp;[21]
                    </td>
                    <td>
                        04:26:14&nbsp;[22]
                    </td>
                    <td>
                        05:46:42&nbsp;[22]
                    </td>
                    <td>
                        07:03:31&nbsp;[22]
                    </td>
                </tr>
                <tr>
                    <td>23.</td>
                    <td>12</td>
                    <td>
                        Martin Macháček
                    </td>
                    <td>
                        (65-69)
                    </td>
                    <td>
                        01:15:15&nbsp;[23]
                    </td>
                    <td>
                        02:33:52&nbsp;[23]
                    </td>
                    <td>
                        03:55:52&nbsp;[23]
                    </td>
                    <td>
                        05:27:25&nbsp;[23]
                    </td>
                    <td>
                        07:06:40&nbsp;[23]
                    </td>
                    <td>
                        08:46:42&nbsp;[23]
                    </td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>27</td>
                    <td>
                        Alena Žákovská
                    </td>
                    <td>
                        (55-59)
                    </td>
                    <td>
                        01:16:34&nbsp;[24]
                    </td>
                    <td>
                        02:39:18&nbsp;[24]
                    </td>
                    <td>
                        04:06:46&nbsp;[24]
                    </td>
                    <td>
                        05:43:06&nbsp;[24]
                    </td>
                    <td>
                        07:18:35&nbsp;[24]
                    </td>
                    <td>
                        09:01:12&nbsp;[24]
                    </td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>10</td>
                    <td>
                        Martina Ježová
                    </td>
                    <td>
                        (45-49)
                    </td>
                    <td>
                        01:17:46&nbsp;[25]
                    </td>
                    <td>
                        02:48:00&nbsp;[25]
                    </td>
                    <td>
                        04:20:10&nbsp;[25]
                    </td>
                    <td>
                        05:54:13&nbsp;[25]
                    </td>
                    <td>
                        07:37:20&nbsp;[25]
                    </td>
                    <td>
                        09:14:13&nbsp;[25]
                    </td>
                </tr>
                <tr>
                    <td>26.</td>
                    <td>4</td>
                    <td>
                        Martina Němečková
                    </td>
                    <td>
                        (55-59)
                    </td>
                    <td>
                        01:23:12&nbsp;[26]
                    </td>
                    <td>
                        02:55:50&nbsp;[26]
                    </td>
                    <td>
                        04:35:03&nbsp;[26]
                    </td>
                    <td>
                        06:25:19&nbsp;[26]
                    </td>
                    <td>
                        08:14:16&nbsp;[26]
                    </td>
                    <td>
                        10:00:11&nbsp;[26]
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>15</td>
                    <td>Martina Jurgová</td>
                    <td colspan="7">DNF</td>
                </tr>
                <tr>
                    <td></td>
                    <td>7</td>
                    <td>Stanislav Ďurík</td>
                    <td colspan="7">DNF</td>
                </tr>
                <tr>
                    <td></td>
                    <td>11</td>
                    <td>Václav Mensa</td>
                    <td colspan="7">DNF</td>
                </tr>
            </table>


            <h2>Čas na kolo</h2>
            <table class="table table-striped table-hover" id="bigger-text">
                <tr>
                    <th>Poř.</th>
                    <th>S. číslo</th>
                    <th>Jméno</th>
                    <th>1.</th>
                    <th>2.</th>
                    <th>3.</th>
                    <th>4.</th>
                    <th>5.</th>
                    <th>6.</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>1</td>
                    <td>Daniel Orálek</td>
                    <td>
                        00:50:34
                    </td>
                    <td>
                        00:48:21
                    </td>
                    <td>
                        00:48:18
                    </td>
                    <td>
                        00:51:50
                    </td>
                    <td>
                        01:00:42
                    </td>
                    <td>
                        01:11:13
                    </td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>23</td>
                    <td>Ivan Urbánek</td>
                    <td>
                        00:50:33
                    </td>
                    <td>
                        00:50:24
                    </td>
                    <td>
                        00:53:51
                    </td>
                    <td>
                        00:57:26
                    </td>
                    <td>
                        01:00:41
                    </td>
                    <td>
                        00:59:37
                    </td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>3</td>
                    <td>Ondřej Pouč</td>
                    <td>
                        00:54:02
                    </td>
                    <td>
                        00:54:34
                    </td>
                    <td>
                        00:53:18
                    </td>
                    <td>
                        00:55:14
                    </td>
                    <td>
                        00:58:46
                    </td>
                    <td>
                        00:58:13
                    </td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>24</td>
                    <td>Jan Šunka</td>
                    <td>
                        00:50:32
                    </td>
                    <td>
                        00:48:24
                    </td>
                    <td>
                        00:51:30
                    </td>
                    <td>
                        00:59:11
                    </td>
                    <td>
                        01:03:14
                    </td>
                    <td>
                        01:03:48
                    </td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>17</td>
                    <td>Filip Švrček</td>
                    <td>
                        00:50:34
                    </td>
                    <td>
                        00:50:00
                    </td>
                    <td>
                        00:53:20
                    </td>
                    <td>
                        00:58:56
                    </td>
                    <td>
                        01:07:50
                    </td>
                    <td>
                        00:59:43
                    </td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>19</td>
                    <td>Jakub Kolman</td>
                    <td>
                        00:56:28
                    </td>
                    <td>
                        00:56:49
                    </td>
                    <td>
                        00:56:46
                    </td>
                    <td>
                        00:57:49
                    </td>
                    <td>
                        00:58:42
                    </td>
                    <td>
                        00:57:11
                    </td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>21</td>
                    <td>Stanislav Široký</td>
                    <td>
                        00:50:35
                    </td>
                    <td>
                        00:48:21
                    </td>
                    <td>
                        00:49:50
                    </td>
                    <td>
                        01:00:34
                    </td>
                    <td>
                        01:06:09
                    </td>
                    <td>
                        01:08:44
                    </td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>6</td>
                    <td>Ladislav Erbert</td>
                    <td>
                        00:54:04
                    </td>
                    <td>
                        00:54:31
                    </td>
                    <td>
                        00:54:19
                    </td>
                    <td>
                        00:58:11
                    </td>
                    <td>
                        01:04:02
                    </td>
                    <td>
                        01:03:10
                    </td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>28</td>
                    <td>Martina Dvořáková</td>
                    <td>
                        00:51:32
                    </td>
                    <td>
                        00:55:23
                    </td>
                    <td>
                        00:57:30
                    </td>
                    <td>
                        01:02:57
                    </td>
                    <td>
                        01:06:25
                    </td>
                    <td>
                        01:05:34
                    </td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>8</td>
                    <td>Miroslav Zemánek</td>
                    <td>
                        00:54:01
                    </td>
                    <td>
                        00:55:54
                    </td>
                    <td>
                        00:57:26
                    </td>
                    <td>
                        01:00:49
                    </td>
                    <td>
                        01:05:05
                    </td>
                    <td>
                        01:06:17
                    </td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>99</td>
                    <td>Stanislav Sotolář</td>
                    <td>
                        00:55:32
                    </td>
                    <td>
                        00:58:20
                    </td>
                    <td>
                        00:59:21
                    </td>
                    <td>
                        01:02:12
                    </td>
                    <td>
                        01:04:16
                    </td>
                    <td>
                        01:04:01
                    </td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>22</td>
                    <td>Michal Krška</td>
                    <td>
                        00:53:05
                    </td>
                    <td>
                        00:55:00
                    </td>
                    <td>
                        00:55:58
                    </td>
                    <td>
                        01:04:45
                    </td>
                    <td>
                        01:10:57
                    </td>
                    <td>
                        01:06:15
                    </td>
                </tr>
                <tr>
                    <td>13.</td>
                    <td>13</td>
                    <td>David Knotek</td>
                    <td>
                        00:56:51
                    </td>
                    <td>
                        00:57:31
                    </td>
                    <td>
                        00:59:32
                    </td>
                    <td>
                        01:03:48
                    </td>
                    <td>
                        01:09:51
                    </td>
                    <td>
                        01:15:56
                    </td>
                </tr>
                <tr>
                    <td>14.</td>
                    <td>14</td>
                    <td>Pavel Kinc</td>
                    <td>
                        00:55:17
                    </td>
                    <td>
                        00:56:45
                    </td>
                    <td>
                        00:58:14
                    </td>
                    <td>
                        01:05:06
                    </td>
                    <td>
                        01:13:36
                    </td>
                    <td>
                        01:18:24
                    </td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>5</td>
                    <td>Martin Řezáč</td>
                    <td>
                        00:55:08
                    </td>
                    <td>
                        00:57:38
                    </td>
                    <td>
                        01:00:13
                    </td>
                    <td>
                        01:10:06
                    </td>
                    <td>
                        01:12:46
                    </td>
                    <td>
                        01:13:13
                    </td>
                </tr>
                <tr>
                    <td>16.</td>
                    <td>2</td>
                    <td>Zdeněk Novák</td>
                    <td>
                        00:56:08
                    </td>
                    <td>
                        00:57:53
                    </td>
                    <td>
                        01:00:09
                    </td>
                    <td>
                        01:09:22
                    </td>
                    <td>
                        01:15:54
                    </td>
                    <td>
                        01:11:04
                    </td>
                </tr>
                <tr>
                    <td>17.</td>
                    <td>18</td>
                    <td>Michal Komarek</td>
                    <td>
                        00:59:58
                    </td>
                    <td>
                        00:59:52
                    </td>
                    <td>
                        01:01:46
                    </td>
                    <td>
                        01:10:35
                    </td>
                    <td>
                        01:12:49
                    </td>
                    <td>
                        01:09:20
                    </td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>20</td>
                    <td>Pavel Sinkule</td>
                    <td>
                        00:59:59
                    </td>
                    <td>
                        00:59:51
                    </td>
                    <td>
                        01:01:46
                    </td>
                    <td>
                        01:10:35
                    </td>
                    <td>
                        01:12:49
                    </td>
                    <td>
                        01:09:20
                    </td>
                </tr>
                <tr>
                    <td>19.</td>
                    <td>16</td>
                    <td>Jana Kakáčová</td>
                    <td>
                        00:55:14
                    </td>
                    <td>
                        00:58:59
                    </td>
                    <td>
                        01:03:33
                    </td>
                    <td>
                        01:10:57
                    </td>
                    <td>
                        01:14:36
                    </td>
                    <td>
                        01:14:37
                    </td>
                </tr>
                <tr>
                    <td>20.</td>
                    <td>9</td>
                    <td>Jiří Šplíchal</td>
                    <td>
                        00:54:07
                    </td>
                    <td>
                        00:55:18
                    </td>
                    <td>
                        01:01:45
                    </td>
                    <td>
                        01:12:41
                    </td>
                    <td>
                        01:19:08
                    </td>
                    <td>
                        01:23:35
                    </td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>25</td>
                    <td>Daniel Brázdil</td>
                    <td>
                        01:00:29
                    </td>
                    <td>
                        01:02:22
                    </td>
                    <td>
                        01:07:15
                    </td>
                    <td>
                        01:15:40
                    </td>
                    <td>
                        01:19:24
                    </td>
                    <td>
                        01:11:52
                    </td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>26</td>
                    <td>Jiří Vávrů</td>
                    <td>
                        00:56:49
                    </td>
                    <td>
                        00:59:21
                    </td>
                    <td>
                        01:08:50
                    </td>
                    <td>
                        01:21:14
                    </td>
                    <td>
                        01:20:28
                    </td>
                    <td>
                        01:16:49
                    </td>
                </tr>
                <tr>
                    <td>23.</td>
                    <td>12</td>
                    <td>Martin Macháček</td>
                    <td>
                        01:15:15
                    </td>
                    <td>
                        01:18:37
                    </td>
                    <td>
                        01:22:00
                    </td>
                    <td>
                        01:31:33
                    </td>
                    <td>
                        01:39:15
                    </td>
                    <td>
                        01:40:02
                    </td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>27</td>
                    <td>Alena Žákovská</td>
                    <td>
                        01:16:34
                    </td>
                    <td>
                        01:22:44
                    </td>
                    <td>
                        01:27:28
                    </td>
                    <td>
                        01:36:20
                    </td>
                    <td>
                        01:35:29
                    </td>
                    <td>
                        01:42:37
                    </td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>10</td>
                    <td>Martina Ježová</td>
                    <td>
                        01:17:46
                    </td>
                    <td>
                        01:30:14
                    </td>
                    <td>
                        01:32:10
                    </td>
                    <td>
                        01:34:03
                    </td>
                    <td>
                        01:43:07
                    </td>
                    <td>
                        01:36:53
                    </td>
                </tr>
                <tr>
                    <td>26.</td>
                    <td>4</td>
                    <td>Martina Němečková</td>
                    <td>
                        01:23:12
                    </td>
                    <td>
                        01:32:38
                    </td>
                    <td>
                        01:39:13
                    </td>
                    <td>
                        01:50:16
                    </td>
                    <td>
                        01:48:57
                    </td>
                    <td>
                        01:45:55
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div>
            <h1>Maraton - 42 km</h1>
            <h2>Celkové výsledky</h2>
            <table class="table table-striped table-hover" id="bigger-text">
                <tr>
                    <th>Poř.</th>
                    <th>S. číslo</th>
                    <th>Jméno</th>
                    <th>Kat.</th>
                    <th>10.5 km</th>
                    <th>21 km</th>
                    <th>31.5 km</th>
                    <th>42 km</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>108</td>
                    <td>
                        Zdeněk Velocha
                    </td>
                    <td>
                        (Mm)
                    </td>
                    <td>
                        00:54:45&nbsp;[1]
                    </td>
                    <td>
                        01:49:11&nbsp;[1]
                    </td>
                    <td>
                        02:43:59&nbsp;[1]
                    </td>
                    <td>
                        03:42:25&nbsp;[1]
                    </td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>104</td>
                    <td>
                        Jan Horký
                    </td>
                    <td>
                        (Mm)
                    </td>
                    <td>
                        00:54:46&nbsp;[2]
                    </td>
                    <td>
                        01:49:12&nbsp;[2]
                    </td>
                    <td>
                        02:46:05&nbsp;[2]
                    </td>
                    <td>
                        03:45:25&nbsp;[2]
                    </td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>107</td>
                    <td>
                        Pavel Nosek
                    </td>
                    <td>
                        (Mm)
                    </td>
                    <td>
                        00:55:48&nbsp;[3]
                    </td>
                    <td>
                        01:55:28&nbsp;[3]
                    </td>
                    <td>
                        02:57:34&nbsp;[3]
                    </td>
                    <td>
                        04:03:28&nbsp;[3]
                    </td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>101</td>
                    <td>
                        Tereza Krakovičová
                    </td>
                    <td>
                        (Mz)
                    </td>
                    <td>
                        00:57:01&nbsp;[4]
                    </td>
                    <td>
                        01:58:50&nbsp;[4]
                    </td>
                    <td>
                        03:05:35&nbsp;[4]
                    </td>
                    <td>
                        04:09:43&nbsp;[4]
                    </td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>102</td>
                    <td>
                        Roman Šůstek
                    </td>
                    <td>
                        (Mm)
                    </td>
                    <td>
                        01:10:59&nbsp;[7]
                    </td>
                    <td>
                        02:24:17&nbsp;[7]
                    </td>
                    <td>
                        03:40:46&nbsp;[5]
                    </td>
                    <td>
                        05:01:15&nbsp;[5]
                    </td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>110</td>
                    <td>
                        Eva Adamová
                    </td>
                    <td>
                        (Mz)
                    </td>
                    <td>
                        01:07:21&nbsp;[6]
                    </td>
                    <td>
                        02:22:34&nbsp;[6]
                    </td>
                    <td>
                        03:41:48&nbsp;[6]
                    </td>
                    <td>
                        05:03:47&nbsp;[6]
                    </td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>106</td>
                    <td>
                        Milan Daněk
                    </td>
                    <td>
                        (Mm)
                    </td>
                    <td>
                        01:01:03&nbsp;[5]
                    </td>
                    <td>
                        02:16:47&nbsp;[5]
                    </td>
                    <td>
                        03:44:24&nbsp;[7]
                    </td>
                    <td>
                        05:11:51&nbsp;[7]
                    </td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>105</td>
                    <td>
                        Petra Ťupková
                    </td>
                    <td>
                        (Mz)
                    </td>
                    <td>
                        01:16:24&nbsp;[8]
                    </td>
                    <td>
                        02:36:11&nbsp;[8]
                    </td>
                    <td>
                        04:02:17&nbsp;[8]
                    </td>
                    <td>
                        05:33:42&nbsp;[8]
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>103</td>
                    <td>Jan Hebelka</td>
                    <td colspan="5">DNF</td>
                </tr>
                <tr>
                    <td></td>
                    <td>109</td>
                    <td>Vilma Podmelová</td>
                    <td colspan="5">DNF</td>
                </tr>
            </table>


            <h2>Čas na kolo</h2>
            <table class="table table-striped table-hover" id="bigger-text">
                <tr>
                    <th>Poř.</th>
                    <th>S. číslo</th>
                    <th>Jméno</th>
                    <th>1.</th>
                    <th>2.</th>
                    <th>3.</th>
                    <th>4.</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>108</td>
                    <td>Zdeněk Velocha</td>
                    <td>
                        00:54:45
                    </td>
                    <td>
                        00:54:26
                    </td>
                    <td>
                        00:54:48
                    </td>
                    <td>
                        00:58:26
                    </td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>104</td>
                    <td>Jan Horký</td>
                    <td>
                        00:54:46
                    </td>
                    <td>
                        00:54:26
                    </td>
                    <td>
                        00:56:53
                    </td>
                    <td>
                        00:59:20
                    </td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>107</td>
                    <td>Pavel Nosek</td>
                    <td>
                        00:55:48
                    </td>
                    <td>
                        00:59:40
                    </td>
                    <td>
                        01:02:06
                    </td>
                    <td>
                        01:05:54
                    </td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>101</td>
                    <td>Tereza Krakovičová</td>
                    <td>
                        00:57:01
                    </td>
                    <td>
                        01:01:49
                    </td>
                    <td>
                        01:06:45
                    </td>
                    <td>
                        01:04:08
                    </td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>102</td>
                    <td>Roman Šůstek</td>
                    <td>
                        01:10:59
                    </td>
                    <td>
                        01:13:18
                    </td>
                    <td>
                        01:16:29
                    </td>
                    <td>
                        01:20:29
                    </td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>110</td>
                    <td>Eva Adamová</td>
                    <td>
                        01:07:21
                    </td>
                    <td>
                        01:15:13
                    </td>
                    <td>
                        01:19:14
                    </td>
                    <td>
                        01:21:59
                    </td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>106</td>
                    <td>Milan Daněk</td>
                    <td>
                        01:01:03
                    </td>
                    <td>
                        01:15:44
                    </td>
                    <td>
                        01:27:37
                    </td>
                    <td>
                        01:27:27
                    </td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>105</td>
                    <td>Petra Ťupková</td>
                    <td>
                        01:16:24
                    </td>
                    <td>
                        01:19:47
                    </td>
                    <td>
                        01:26:06
                    </td>
                    <td>
                        01:31:25
                    </td>
                </tr>
            </table>

            <hr>
            <h1>10.5 km</h1>
            <h2>Celkové výsledky</h2>
            <table class="table table-striped table-hover" id="bigger-text">
                <tr>
                    <th>Poř.</th>
                    <th>S. číslo</th>
                    <th>Jméno</th>
                    <th>Kat.</th>
                    <th>10.5 km</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>254</td>
                    <td>
                        Vlastimil Lysák
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:40:44&nbsp;[1]
                    </td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>252</td>
                    <td>
                        Martin Vodák
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:42:38&nbsp;[2]
                    </td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>230</td>
                    <td>
                        Ondřej Jágr
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:43:27&nbsp;[3]
                    </td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>253</td>
                    <td>
                        Jiří Potůček
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:44:11&nbsp;[4]
                    </td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>226</td>
                    <td>
                        Martin Šperka
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:44:26&nbsp;[5]
                    </td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>227</td>
                    <td>
                        Tomáš Jančík
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:45:23&nbsp;[6]
                    </td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>223</td>
                    <td>
                        Vladimír Ondruška
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:46:42&nbsp;[7]
                    </td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>240</td>
                    <td>
                        Steve Chalk
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:47:03&nbsp;[8]
                    </td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>239</td>
                    <td>
                        Ondřej Buš
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:47:28&nbsp;[9]
                    </td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>242</td>
                    <td>
                        Martin Šerák
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:47:43&nbsp;[11]
                    </td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>221</td>
                    <td>
                        Petr Meluzín
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:47:43&nbsp;[10]
                    </td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>246</td>
                    <td>
                        Slávek Pícha
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:48:46&nbsp;[12]
                    </td>
                </tr>
                <tr>
                    <td>13.</td>
                    <td>224</td>
                    <td>
                        Jan Ondruška
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:49:36&nbsp;[13]
                    </td>
                </tr>
                <tr>
                    <td>14.</td>
                    <td>229</td>
                    <td>
                        Pavel Novák
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:50:04&nbsp;[14]
                    </td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>228</td>
                    <td>
                        Jakub Kunc
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:51:38&nbsp;[15]
                    </td>
                </tr>
                <tr>
                    <td>16.</td>
                    <td>256</td>
                    <td>
                        Vladimír Matěna
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:53:11&nbsp;[16]
                    </td>
                </tr>
                <tr>
                    <td>17.</td>
                    <td>248</td>
                    <td>
                        Radek Horský
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:54:04&nbsp;[17]
                    </td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>247</td>
                    <td>
                        Petr Palán
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:55:07&nbsp;[18]
                    </td>
                </tr>
                <tr>
                    <td>19.</td>
                    <td>234</td>
                    <td>
                        Pavel Svoboda
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:56:38&nbsp;[19]
                    </td>
                </tr>
                <tr>
                    <td>20.</td>
                    <td>235</td>
                    <td>
                        Petr Šamonil
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:56:50&nbsp;[20]
                    </td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>255</td>
                    <td>
                        Martin Sobotka
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:57:19&nbsp;[21]
                    </td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>236</td>
                    <td>
                        Jana Srnská
                    </td>
                    <td>
                        (10z)
                    </td>
                    <td>
                        00:59:20&nbsp;[22]
                    </td>
                </tr>
                <tr>
                    <td>23.</td>
                    <td>237</td>
                    <td>
                        Libor Jüthner
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        00:59:20&nbsp;[23]
                    </td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>238</td>
                    <td>
                        Jiří Boháč
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        01:01:55&nbsp;[24]
                    </td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>231</td>
                    <td>
                        Jan Češka
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        01:03:15&nbsp;[25]
                    </td>
                </tr>
                <tr>
                    <td>26.</td>
                    <td>111</td>
                    <td>
                        Eva Sedláčková
                    </td>
                    <td>
                        (10z)
                    </td>
                    <td>
                        01:03:34&nbsp;[26]
                    </td>
                </tr>
                <tr>
                    <td>27.</td>
                    <td>244</td>
                    <td>
                        Jiří Buš
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        01:04:23&nbsp;[27]
                    </td>
                </tr>
                <tr>
                    <td>28.</td>
                    <td>245</td>
                    <td>
                        Roman Buš
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        01:06:57&nbsp;[28]
                    </td>
                </tr>
                <tr>
                    <td>29.</td>
                    <td>241</td>
                    <td>
                        Zuzana Vránová
                    </td>
                    <td>
                        (10z)
                    </td>
                    <td>
                        01:07:02&nbsp;[29]
                    </td>
                </tr>
                <tr>
                    <td>30.</td>
                    <td>258</td>
                    <td>
                        Josef Dostál
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        01:09:08&nbsp;[30]
                    </td>
                </tr>
                <tr>
                    <td>31.</td>
                    <td>257</td>
                    <td>
                        Michael Žolcer
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        01:09:24&nbsp;[31]
                    </td>
                </tr>
                <tr>
                    <td>32.</td>
                    <td>251</td>
                    <td>
                        Andrea Jablunková
                    </td>
                    <td>
                        (10z)
                    </td>
                    <td>
                        01:10:06&nbsp;[32]
                    </td>
                </tr>
                <tr>
                    <td>33.</td>
                    <td>222</td>
                    <td>
                        Eva Meluzínová
                    </td>
                    <td>
                        (10z)
                    </td>
                    <td>
                        01:10:42&nbsp;[33]
                    </td>
                </tr>
                <tr>
                    <td>34.</td>
                    <td>232</td>
                    <td>
                        Romana Jakucová
                    </td>
                    <td>
                        (10z)
                    </td>
                    <td>
                        01:11:54&nbsp;[34]
                    </td>
                </tr>
                <tr>
                    <td>35.</td>
                    <td>233</td>
                    <td>
                        Veronika Pešová
                    </td>
                    <td>
                        (10z)
                    </td>
                    <td>
                        01:11:54&nbsp;[35]
                    </td>
                </tr>
                <tr>
                    <td>36.</td>
                    <td>249</td>
                    <td>
                        Jan Jablunka
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        01:12:46&nbsp;[36]
                    </td>
                </tr>
                <tr>
                    <td>37.</td>
                    <td>250</td>
                    <td>
                        Dušan Jablunka
                    </td>
                    <td>
                        (10m)
                    </td>
                    <td>
                        01:12:48&nbsp;[37]
                    </td>
                </tr>
                <tr>
                    <td>38.</td>
                    <td>225</td>
                    <td>
                        Renáta Žižlavská
                    </td>
                    <td>
                        (10z)
                    </td>
                    <td>
                        01:21:00&nbsp;[38]
                    </td>
                </tr>
                <tr>
                    <td>39.</td>
                    <td>243</td>
                    <td>
                        Kateřina Krejčiříková
                    </td>
                    <td>
                        (10z)
                    </td>
                    <td>
                        01:21:00&nbsp;[39]
                    </td>
                </tr>
                <tr>
                    <td>40.</td>
                    <td>220</td>
                    <td>
                        Barbora Fleissigová
                    </td>
                    <td>
                        (10z)
                    </td>
                    <td>
                        02:05:00&nbsp;[40]
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div>
            <a class="btn btn-primary toTop">
                <span class="glyphicon glyphicon-chevron-up"></span>&nbsp;Nahoru
            </a>
            <a class="btn btn-warning" n:href="vysledky">
                <span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Zpět na výsledky
            </a>
        </div>
    </div>

</div>


{include './footer.latte'}


</body>
{/block}
</html>