<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Výsledky závodu v roce 2015 | Lesempolem.cz</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block|strip}
{include './nav.latte', active => 'vysledky'}
<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Výsledky závodu v roce 2016</h1>

            <div class="vysledky">

                <h2>10 KM</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>40</td>
                            <td>Pukl Rostislav</td>
                            <td>VSK Univerzita Brno</td>
                            <td>M</td>
                            <td>1.</td>
                            <td>00:39:01</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>27</td>
                            <td>Koudelka Lukáš</td>
                            <td>AC Okrouhlá/AK Drnovice</td>
                            <td>M</td>
                            <td>2.</td>
                            <td>00:39:32</td>
                            <td>00:00:31</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>24</td>
                            <td>Večeřa Tomáš</td>
                            <td>AK Blansko Dvorská</td>
                            <td>M</td>
                            <td>3.</td>
                            <td>00:40:15</td>
                            <td>00:01:14</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>46</td>
                            <td>Široký Stanislav</td>
                            <td>AK Blansko Dvorská</td>
                            <td>M</td>
                            <td>4.</td>
                            <td>00:40:43</td>
                            <td>00:01:42</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>6</td>
                            <td>Vemola Jiří</td>
                            <td>Bukovice</td>
                            <td>M</td>
                            <td>5.</td>
                            <td>00:41:43</td>
                            <td>00:02:42</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>25</td>
                            <td>Jančík Tomáš</td>
                            <td>Elite Sport Boskovice</td>
                            <td>MV1</td>
                            <td>1.</td>
                            <td>00:41:55</td>
                            <td>00:02:54</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>16</td>
                            <td>Weis Josef</td>
                            <td>Elite Sport Boskovice</td>
                            <td>MV1</td>
                            <td>2.</td>
                            <td>00:42:27</td>
                            <td>00:03:26</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>78</td>
                            <td>Karlík Petr</td>
                            <td>SkiKlub Márovky- Blansko</td>
                            <td>M</td>
                            <td>6.</td>
                            <td>00:42:35</td>
                            <td>00:03:34</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>31</td>
                            <td>Šimunek Martin</td>
                            <td>Botanka Running / Modřice</td>
                            <td>MV2</td>
                            <td>1.</td>
                            <td>00:42:57</td>
                            <td>00:03:56</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>55</td>
                            <td>Macura Jan</td>
                            <td>Horizont Kola Novák Blansko</td>
                            <td>MV1</td>
                            <td>3.</td>
                            <td>00:43:16</td>
                            <td>00:04:15</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>52</td>
                            <td>Opletal Jan</td>
                            <td>Jedovnice</td>
                            <td>M</td>
                            <td>7.</td>
                            <td>00:43:32</td>
                            <td>00:04:31</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>43</td>
                            <td>Puklová Patricia</td>
                            <td>Run and Mum</td>
                            <td>Ž</td>
                            <td>1.</td>
                            <td>00:43:34</td>
                            <td>00:04:33</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>70</td>
                            <td>Hlavička Lukáš</td>
                            <td>Černá Hora</td>
                            <td>M</td>
                            <td>8.</td>
                            <td>00:43:40</td>
                            <td>00:04:39</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>8</td>
                            <td>Škvařil Jan</td>
                            <td>Blansko</td>
                            <td>MV1</td>
                            <td>4.</td>
                            <td>00:45:03</td>
                            <td>00:06:02</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>75</td>
                            <td>Daniel Petr</td>
                            <td>Start Brno</td>
                            <td>MV1</td>
                            <td>5.</td>
                            <td>00:45:05</td>
                            <td>00:06:04</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>9</td>
                            <td>Jílek Ladislav</td>
                            <td>Aquaskipper Olešnice</td>
                            <td>MV1</td>
                            <td>6.</td>
                            <td>00:45:55</td>
                            <td>00:06:54</td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td>47</td>
                            <td>Bejček Patrik</td>
                            <td>Ostrov u Macochy</td>
                            <td>M</td>
                            <td>9.</td>
                            <td>00:46:01</td>
                            <td>00:07:00</td>
                        </tr>
                        <tr>
                            <td>18.</td>
                            <td>29</td>
                            <td>Kolínek František</td>
                            <td>AK Perná</td>
                            <td>MV3</td>
                            <td>1.</td>
                            <td>00:46:05</td>
                            <td>00:07:04</td>
                        </tr>
                        <tr>
                            <td>19.</td>
                            <td>66</td>
                            <td>Krška Michal</td>
                            <td>Blansko</td>
                            <td>M</td>
                            <td>10.</td>
                            <td>00:46:07</td>
                            <td>00:07:06</td>
                        </tr>
                        <tr>
                            <td>20.</td>
                            <td>48</td>
                            <td>Uličný Tomáš</td>
                            <td>Blansko</td>
                            <td>MV1</td>
                            <td>7.</td>
                            <td>00:46:07</td>
                            <td>00:07:06</td>
                        </tr>
                        <tr>
                            <td>21.</td>
                            <td>44</td>
                            <td>Kolková Lucie</td>
                            <td>AC Moravská Slavia - Run and Mum</td>
                            <td>Ž</td>
                            <td>2.</td>
                            <td>00:46:08</td>
                            <td>00:07:07</td>
                        </tr>
                        <tr>
                            <td>22.</td>
                            <td>11</td>
                            <td>Jančařík Petr</td>
                            <td>AAC Brno</td>
                            <td>MV1</td>
                            <td>8.</td>
                            <td>00:46:30</td>
                            <td>00:07:29</td>
                        </tr>
                        <tr>
                            <td>23.</td>
                            <td>68</td>
                            <td>Hegr Jiří</td>
                            <td>Šošůvka</td>
                            <td>M</td>
                            <td>11.</td>
                            <td>00:46:38</td>
                            <td>00:07:37</td>
                        </tr>
                        <tr>
                            <td>24.</td>
                            <td>2</td>
                            <td>Zeman Zdeněk</td>
                            <td>Blansko</td>
                            <td>MV1</td>
                            <td>9.</td>
                            <td>00:46:40</td>
                            <td>00:07:39</td>
                        </tr>
                        <tr>
                            <td>25.</td>
                            <td>76</td>
                            <td>Kinc Pavel</td>
                            <td>VF Team Černá Hora</td>
                            <td>MV1</td>
                            <td>10.</td>
                            <td>00:46:40</td>
                            <td>00:07:39</td>
                        </tr>
                        <tr>
                            <td>26.</td>
                            <td>5</td>
                            <td>Sotolář Stanislav</td>
                            <td>Veselice</td>
                            <td>MV1</td>
                            <td>11.</td>
                            <td>00:46:50</td>
                            <td>00:07:49</td>
                        </tr>
                        <tr>
                            <td>27.</td>
                            <td>10</td>
                            <td>Kolaja Marcel</td>
                            <td>Red Hat</td>
                            <td>M</td>
                            <td>12.</td>
                            <td>00:47:31</td>
                            <td>00:08:30</td>
                        </tr>
                        <tr>
                            <td>28.</td>
                            <td>77</td>
                            <td>Smutný Zdeněk</td>
                            <td>AK Drnovice</td>
                            <td>MV2</td>
                            <td>2.</td>
                            <td>00:47:44</td>
                            <td>00:08:43</td>
                        </tr>
                        <tr>
                            <td>29.</td>
                            <td>57</td>
                            <td>Fiala Ondřej</td>
                            <td>Boskovice</td>
                            <td>M</td>
                            <td>13.</td>
                            <td>00:47:52</td>
                            <td>00:08:51</td>
                        </tr>
                        <tr>
                            <td>30.</td>
                            <td>42</td>
                            <td>Anderlová Dorota</td>
                            <td>RUN and MUM</td>
                            <td>Ž</td>
                            <td>3.</td>
                            <td>00:47:57</td>
                            <td>00:08:56</td>
                        </tr>
                        <tr>
                            <td>31.</td>
                            <td>36</td>
                            <td>Komárková Zdeňka</td>
                            <td>kometky olešnice</td>
                            <td>ŽV1</td>
                            <td>1.</td>
                            <td>00:48:10</td>
                            <td>00:09:09</td>
                        </tr>
                        <tr>
                            <td>32.</td>
                            <td>73</td>
                            <td>Bednář Zbyněk</td>
                            <td>Tišnov</td>
                            <td>MV1</td>
                            <td>12.</td>
                            <td>00:48:14</td>
                            <td>00:09:13</td>
                        </tr>
                        <tr>
                            <td>33.</td>
                            <td>39</td>
                            <td>Zoubek Karel</td>
                            <td>Vanovice</td>
                            <td>MV2</td>
                            <td>3.</td>
                            <td>00:48:19</td>
                            <td>00:09:18</td>
                        </tr>
                        <tr>
                            <td>34.</td>
                            <td>79</td>
                            <td>Potůček Jiří</td>
                            <td>FIT plus Blansko</td>
                            <td>M</td>
                            <td>14.</td>
                            <td>00:48:25</td>
                            <td>00:09:24</td>
                        </tr>
                        <tr>
                            <td>35.</td>
                            <td>69</td>
                            <td>Janková Magda</td>
                            <td>Run and Mum</td>
                            <td>Ž</td>
                            <td>4.</td>
                            <td>00:48:52</td>
                            <td>00:09:51</td>
                        </tr>
                        <tr>
                            <td>36.</td>
                            <td>13</td>
                            <td>Procházka Jan</td>
                            <td>Ráječko</td>
                            <td>M</td>
                            <td>15.</td>
                            <td>00:48:56</td>
                            <td>00:09:55</td>
                        </tr>
                        <tr>
                            <td>37.</td>
                            <td>63</td>
                            <td>Odehnalová Ludmila</td>
                            <td>Boskovice</td>
                            <td>Ž</td>
                            <td>5.</td>
                            <td>00:49:12</td>
                            <td>00:10:11</td>
                        </tr>
                        <tr>
                            <td>38.</td>
                            <td>34</td>
                            <td>Mullerová Hana</td>
                            <td>AK Drnovice</td>
                            <td>ŽV1</td>
                            <td>2.</td>
                            <td>00:49:18</td>
                            <td>00:10:17</td>
                        </tr>
                        <tr>
                            <td>39.</td>
                            <td>56</td>
                            <td>Menšík Ondřej</td>
                            <td>Boskovice</td>
                            <td>M</td>
                            <td>16.</td>
                            <td>00:49:54</td>
                            <td>00:10:53</td>
                        </tr>
                        <tr>
                            <td>40.</td>
                            <td>80</td>
                            <td>Bedan Petr</td>
                            <td>Spešov</td>
                            <td>MV1</td>
                            <td>13.</td>
                            <td>00:50:41</td>
                            <td>00:11:40</td>
                        </tr>
                        <tr>
                            <td>41.</td>
                            <td>12</td>
                            <td>Farská Michaela</td>
                            <td>Elite Sport Boskovice</td>
                            <td>Ž</td>
                            <td>6.</td>
                            <td>00:50:55</td>
                            <td>00:11:54</td>
                        </tr>
                        <tr>
                            <td>42.</td>
                            <td>74</td>
                            <td>Hojač Petr</td>
                            <td>Start Brno</td>
                            <td>MV1</td>
                            <td>14.</td>
                            <td>00:50:55</td>
                            <td>00:11:54</td>
                        </tr>
                        <tr>
                            <td>43.</td>
                            <td>53</td>
                            <td>Stloukal Jaroslav</td>
                            <td>ART Adamov</td>
                            <td>MV1</td>
                            <td>15.</td>
                            <td>00:51:01</td>
                            <td>00:12:00</td>
                        </tr>
                        <tr>
                            <td>44.</td>
                            <td>26</td>
                            <td>Hynštová Marie</td>
                            <td>AK Drnovice</td>
                            <td>ŽV2</td>
                            <td>1.</td>
                            <td>00:51:16</td>
                            <td>00:12:15</td>
                        </tr>
                        <tr>
                            <td>45.</td>
                            <td>32</td>
                            <td>Březa Miroslav</td>
                            <td>Brno</td>
                            <td>MV2</td>
                            <td>4.</td>
                            <td>00:51:35</td>
                            <td>00:12:34</td>
                        </tr>
                        <tr>
                            <td>46.</td>
                            <td>45</td>
                            <td>Horský Radek</td>
                            <td>OB Veselice</td>
                            <td>M</td>
                            <td>17.</td>
                            <td>00:52:08</td>
                            <td>00:13:07</td>
                        </tr>
                        <tr>
                            <td>47.</td>
                            <td>49</td>
                            <td>Tichá Karolína</td>
                            <td>Elite Sport Boskovice</td>
                            <td>Jky</td>
                            <td>1.</td>
                            <td>00:52:41</td>
                            <td>00:13:40</td>
                        </tr>
                        <tr>
                            <td>48.</td>
                            <td>14</td>
                            <td>Charvát Bohdan</td>
                            <td>Elite Sport Boskovice</td>
                            <td>MV1</td>
                            <td>16.</td>
                            <td>00:52:44</td>
                            <td>00:13:43</td>
                        </tr>
                        <tr>
                            <td>49.</td>
                            <td>22</td>
                            <td>Hlaváč Libor</td>
                            <td>Borci Zdar!</td>
                            <td>M</td>
                            <td>18.</td>
                            <td>00:52:54</td>
                            <td>00:13:53</td>
                        </tr>
                        <tr>
                            <td>50.</td>
                            <td>65</td>
                            <td>Hájková Veronika</td>
                            <td>Doubravice</td>
                            <td>ŽV1</td>
                            <td>3.</td>
                            <td>00:52:59</td>
                            <td>00:13:58</td>
                        </tr>
                        <tr>
                            <td>51.</td>
                            <td>28</td>
                            <td>Hromádka Patrik</td>
                            <td>Blansko</td>
                            <td>M</td>
                            <td>19.</td>
                            <td>00:53:23</td>
                            <td>00:14:22</td>
                        </tr>
                        <tr>
                            <td>52.</td>
                            <td>20</td>
                            <td>Kohoutek Jaromír</td>
                            <td>WSSC Brno</td>
                            <td>MV3</td>
                            <td>2.</td>
                            <td>00:53:33</td>
                            <td>00:14:32</td>
                        </tr>
                        <tr>
                            <td>53.</td>
                            <td>30</td>
                            <td>Ševčíková Lucie</td>
                            <td>Sokol Luleč/ Brno</td>
                            <td>Ž</td>
                            <td>7.</td>
                            <td>00:53:37</td>
                            <td>00:14:36</td>
                        </tr>
                        <tr>
                            <td>54.</td>
                            <td>54</td>
                            <td>Buš Roman</td>
                            <td>Rájec</td>
                            <td>MV2</td>
                            <td>5.</td>
                            <td>00:54:30</td>
                            <td>00:15:29</td>
                        </tr>
                        <tr>
                            <td>55.</td>
                            <td>1</td>
                            <td>Fiala Josef</td>
                            <td>Ústí nad Orlicí</td>
                            <td>M</td>
                            <td>20.</td>
                            <td>00:54:35</td>
                            <td>00:15:34</td>
                        </tr>
                        <tr>
                            <td>56.</td>
                            <td>59</td>
                            <td>Žákovská Alena</td>
                            <td>Horizont Kola Novák Blansko</td>
                            <td>ŽV2</td>
                            <td>2.</td>
                            <td>00:54:40</td>
                            <td>00:15:39</td>
                        </tr>
                        <tr>
                            <td>57.</td>
                            <td>33</td>
                            <td>Boháč Jiří</td>
                            <td>BehejBrno.com</td>
                            <td>MV3</td>
                            <td>3.</td>
                            <td>00:54:54</td>
                            <td>00:15:53</td>
                        </tr>
                        <tr>
                            <td>58.</td>
                            <td>72</td>
                            <td>Čermáková Tereza</td>
                            <td>FITPLUSBLANSKO</td>
                            <td>Ž</td>
                            <td>8.</td>
                            <td>00:55:06</td>
                            <td>00:16:05</td>
                        </tr>
                        <tr>
                            <td>59.</td>
                            <td>61</td>
                            <td>Ryšavý Miloš</td>
                            <td>Brno</td>
                            <td>MV1</td>
                            <td>17.</td>
                            <td>00:55:15</td>
                            <td>00:16:14</td>
                        </tr>
                        <tr>
                            <td>60.</td>
                            <td>3</td>
                            <td>Studená Jarmila</td>
                            <td>Brno</td>
                            <td>ŽV1</td>
                            <td>4.</td>
                            <td>00:55:15</td>
                            <td>00:16:14</td>
                        </tr>
                        <tr>
                            <td>61.</td>
                            <td>15</td>
                            <td>Suchy Marek</td>
                            <td>Olomucany</td>
                            <td>MV1</td>
                            <td>18.</td>
                            <td>00:55:21</td>
                            <td>00:16:20</td>
                        </tr>
                        <tr>
                            <td>62.</td>
                            <td>62</td>
                            <td>Ochotná Blanka</td>
                            <td>Biatlon Blansko</td>
                            <td>ŽV1</td>
                            <td>5.</td>
                            <td>00:55:26</td>
                            <td>00:16:25</td>
                        </tr>
                        <tr>
                            <td>63.</td>
                            <td>58</td>
                            <td>Horňová Adriana</td>
                            <td>ACT Lerak</td>
                            <td>Jky</td>
                            <td>2.</td>
                            <td>00:55:52</td>
                            <td>00:16:51</td>
                        </tr>
                        <tr>
                            <td>64.</td>
                            <td>18</td>
                            <td>Bayer Miloslav</td>
                            <td>ask blansko</td>
                            <td>MV3</td>
                            <td>4.</td>
                            <td>00:56:33</td>
                            <td>00:17:32</td>
                        </tr>
                        <tr>
                            <td>65.</td>
                            <td>7</td>
                            <td>Vemolová Barbora</td>
                            <td>Bukovice</td>
                            <td>Ž</td>
                            <td>9.</td>
                            <td>00:56:40</td>
                            <td>00:17:39</td>
                        </tr>
                        <tr>
                            <td>66.</td>
                            <td>51</td>
                            <td>Stráník Aleš</td>
                            <td>Blansko</td>
                            <td>MV3</td>
                            <td>5.</td>
                            <td>00:57:43</td>
                            <td>00:18:42</td>
                        </tr>
                        <tr>
                            <td>67.</td>
                            <td>23</td>
                            <td>Freitinger Pavel</td>
                            <td>Vanovice</td>
                            <td>MV2</td>
                            <td>6.</td>
                            <td>00:57:56</td>
                            <td>00:18:55</td>
                        </tr>
                        <tr>
                            <td>68.</td>
                            <td>4</td>
                            <td>Fabiánek Filip</td>
                            <td>OB Veselice</td>
                            <td>Jři</td>
                            <td>1.</td>
                            <td>00:58:09</td>
                            <td>00:19:08</td>
                        </tr>
                        <tr>
                            <td>69.</td>
                            <td>19</td>
                            <td>Jablunka Dušan</td>
                            <td>Valchov</td>
                            <td>M</td>
                            <td>21.</td>
                            <td>00:58:43</td>
                            <td>00:19:42</td>
                        </tr>
                        <tr>
                            <td>70.</td>
                            <td>38</td>
                            <td>Daněk Milan</td>
                            <td>Horizont Kola Novák Blansko</td>
                            <td>MV2</td>
                            <td>7.</td>
                            <td>00:58:58</td>
                            <td>00:19:57</td>
                        </tr>
                        <tr>
                            <td>71.</td>
                            <td>50</td>
                            <td>Jalová Margita</td>
                            <td>Letovice</td>
                            <td>ŽV2</td>
                            <td>3.</td>
                            <td>01:00:02</td>
                            <td>00:21:01</td>
                        </tr>
                        <tr>
                            <td>72.</td>
                            <td>35</td>
                            <td>Vyroubal Michal</td>
                            <td>Tři Veteráni</td>
                            <td>MV1</td>
                            <td>19.</td>
                            <td>01:00:02</td>
                            <td>00:21:01</td>
                        </tr>
                        <tr>
                            <td>73.</td>
                            <td>17</td>
                            <td>Weisová Barbora</td>
                            <td>Elite Sport Boskovice</td>
                            <td>Ž</td>
                            <td>10.</td>
                            <td>01:04:01</td>
                            <td>00:25:00</td>
                        </tr>
                        <tr>
                            <td>74.</td>
                            <td>64</td>
                            <td>Nevřivová Lucie</td>
                            <td>KK Blansko</td>
                            <td>Ž</td>
                            <td>11.</td>
                            <td>01:05:22</td>
                            <td>00:26:21</td>
                        </tr>
                        <tr>
                            <td>75.</td>
                            <td>60</td>
                            <td>Nečasova Simona</td>
                            <td>Kuřim</td>
                            <td>ŽV1</td>
                            <td>6.</td>
                            <td>01:06:22</td>
                            <td>00:27:21</td>
                        </tr>
                        <tr>
                            <td>76.</td>
                            <td>67</td>
                            <td>Krejčiříková Kateřina</td>
                            <td>Svatá Kateřina</td>
                            <td>ŽV1</td>
                            <td>7.</td>
                            <td>01:07:24</td>
                            <td>00:28:23</td>
                        </tr>
                        <tr>
                            <td>77.</td>
                            <td>21</td>
                            <td>Ježová Martina</td>
                            <td>Brno</td>
                            <td>ŽV1</td>
                            <td>8.</td>
                            <td>01:07:29</td>
                            <td>00:28:28</td>
                        </tr>
                        <tr>
                            <td>78.</td>
                            <td>37</td>
                            <td>Růžička Bohuslav</td>
                            <td>SC Ráječko</td>
                            <td>MV3</td>
                            <td>6.</td>
                            <td>01:08:32</td>
                            <td>00:29:31</td>
                        </tr>
                        <tr>
                            <td>79.</td>
                            <td>71</td>
                            <td>Kalová Renata</td>
                            <td>Fit Plus Blansko</td>
                            <td>ŽV1</td>
                            <td>9.</td>
                            <td>01:11:55</td>
                            <td>00:32:54</td>
                        </tr>
                        <tr>
                            <td>80.</td>
                            <td>41</td>
                            <td>Boudníková Věra</td>
                            <td>Elite sport team Blansko</td>
                            <td>ŽV1</td>
                            <td>10.</td>
                            <td>01:12:52</td>
                            <td>00:33:51</td>
                        </tr>
                        </tbody>
                    </table>

                    <h2>5 KM</h2>
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>163</td>
                            <td>Štoudková Pavla</td>
                            <td>ASK Blansko</td>
                            <td>Dky</td>
                            <td>1.</td>
                            <td>00:22:29</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>152</td>
                            <td>Křivánek Richard</td>
                            <td>elite sport boskovice</td>
                            <td>Dci</td>
                            <td>1.</td>
                            <td>00:24:06</td>
                            <td>00:01:37</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>153</td>
                            <td>Králík Martin</td>
                            <td>OB Veselice</td>
                            <td>Dci</td>
                            <td>2.</td>
                            <td>00:25:50</td>
                            <td>00:03:21</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>156</td>
                            <td>Hošková Justina</td>
                            <td>Elite Sport Boskovice</td>
                            <td>Dky</td>
                            <td>2.</td>
                            <td>00:27:53</td>
                            <td>00:05:24</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>155</td>
                            <td>Karásek Antonín</td>
                            <td>Wanami</td>
                            <td>PříchM</td>
                            <td>1.</td>
                            <td>00:28:03</td>
                            <td>00:05:34</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>157</td>
                            <td>Charvát Matyáš</td>
                            <td>Elite Sport Boskovice</td>
                            <td>Dci</td>
                            <td>3.</td>
                            <td>00:28:04</td>
                            <td>00:05:35</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>151</td>
                            <td>Šinkovská Markéta</td>
                            <td>Letohrad</td>
                            <td>Dky</td>
                            <td>3.</td>
                            <td>00:30:18</td>
                            <td>00:07:49</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>160</td>
                            <td>Jablunková Andrea</td>
                            <td>Valchov</td>
                            <td>PříchŽ</td>
                            <td>1.</td>
                            <td>00:32:52</td>
                            <td>00:10:23</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>159</td>
                            <td>Jablunka Jan</td>
                            <td>Valchov</td>
                            <td>Dci</td>
                            <td>4.</td>
                            <td>00:32:53</td>
                            <td>00:10:24</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>158</td>
                            <td>Kovácsová Alžběta</td>
                            <td>Elite Sport Boskovice</td>
                            <td>Dky</td>
                            <td>4.</td>
                            <td>00:32:57</td>
                            <td>00:10:28</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>162</td>
                            <td>Jančová Jolana</td>
                            <td>Elite Sport Boskovice</td>
                            <td>Dky</td>
                            <td>5.</td>
                            <td>00:34:07</td>
                            <td>00:11:38</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>154</td>
                            <td>Kachlová Jana</td>
                            <td>Bukovice</td>
                            <td>PříchŽ</td>
                            <td>2.</td>
                            <td>00:36:44</td>
                            <td>00:14:15</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>161</td>
                            <td>Kohoutková Jaroslava</td>
                            <td>WSSC Brno</td>
                            <td>PříchŽ</td>
                            <td>3.</td>
                            <td>00:41:41</td>
                            <td>00:19:12</td>
                        </tr>
                        </tbody>
                    </table>


                    <h2>Žáci</h2>
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>D1</td>
                            <td>Štoudková Pavla</td>
                            <td>ASK Blansko</td>
                            <td>ŽkyM</td>
                            <td>1.</td>
                            <td>00:04:37</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>D32</td>
                            <td>Tlamka Filip</td>
                            <td>Elite Sport Boskovice</td>
                            <td>ŽciS</td>
                            <td>1.</td>
                            <td>00:04:43</td>
                            <td>00:00:06</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>D17</td>
                            <td>Přibyl Miroslav</td>
                            <td>OB Veselice</td>
                            <td>ŽciS</td>
                            <td>2.</td>
                            <td>00:05:01</td>
                            <td>00:00:24</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>D24</td>
                            <td>Musil Milan</td>
                            <td>Blansko</td>
                            <td>ŽciS</td>
                            <td>3.</td>
                            <td>00:05:30</td>
                            <td>00:00:53</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>D26</td>
                            <td>Trávníček David</td>
                            <td>AHA Vyškov</td>
                            <td>ŽciM</td>
                            <td>1.</td>
                            <td>00:05:36</td>
                            <td>00:00:59</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>D15</td>
                            <td>Jarůšek Štěpán</td>
                            <td>OB Veselice</td>
                            <td>ŽciM</td>
                            <td>2.</td>
                            <td>00:05:54</td>
                            <td>00:01:17</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>D18</td>
                            <td>Němcová Veronika</td>
                            <td>OB Veselice</td>
                            <td>ŽkyS</td>
                            <td>1.</td>
                            <td>00:06:01</td>
                            <td>00:01:24</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>D22</td>
                            <td>Vemola Jiří</td>
                            <td>Bukovice</td>
                            <td>ŽciM</td>
                            <td>3.</td>
                            <td>00:06:04</td>
                            <td>00:01:27</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>D25</td>
                            <td>Široká Eliška</td>
                            <td>AK Blansko Dvorská</td>
                            <td>ŽkyM</td>
                            <td>2.</td>
                            <td>00:06:08</td>
                            <td>00:01:31</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>D28</td>
                            <td>Škvařilová Stela</td>
                            <td>AK Blansko Dvorská</td>
                            <td>ŽkyM</td>
                            <td>3.</td>
                            <td>00:06:12</td>
                            <td>00:01:35</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>D29</td>
                            <td>Trávníček Radek</td>
                            <td>KPS Vyškov</td>
                            <td>ŽciS</td>
                            <td>4.</td>
                            <td>00:06:50</td>
                            <td>00:02:13</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>D39</td>
                            <td>Daněk Štěpán</td>
                            <td>Horizont Blansko</td>
                            <td>ŽciM</td>
                            <td>4.</td>
                            <td>00:06:56</td>
                            <td>00:02:19</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>D16</td>
                            <td>Přibyl Adam</td>
                            <td>OB Veselice</td>
                            <td>ŽciM</td>
                            <td>5.</td>
                            <td>00:07:12</td>
                            <td>00:02:35</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>D14</td>
                            <td>Fabiánek Tomáš</td>
                            <td>OB Veselice</td>
                            <td>ŽciM</td>
                            <td>6.</td>
                            <td>00:07:19</td>
                            <td>00:02:42</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>D13</td>
                            <td>Šebela Marek</td>
                            <td>OB Veselice</td>
                            <td>ŽciM</td>
                            <td>7.</td>
                            <td>00:07:27</td>
                            <td>00:02:50</td>
                        </tr>
                        </tbody>
                    </table>


                    <h2>Svišti</h2>
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>D4</td>
                            <td>Křivánek Richard</td>
                            <td>elite sport boskovice</td>
                            <td>Svišti kluci</td>
                            <td>1.</td>
                            <td>00:00:38</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>D36</td>
                            <td>Kroupa Kryštof</td>
                            <td>AK Blansko Dvorská</td>
                            <td>Svišti kluci</td>
                            <td>2.</td>
                            <td>00:00:41</td>
                            <td>00:00:03</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>D35</td>
                            <td>Jančová Jolana</td>
                            <td>Elite Sport Boskovice</td>
                            <td>Svišti holky</td>
                            <td>1.</td>
                            <td>00:00:42</td>
                            <td>00:00:04</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>D40</td>
                            <td>Jančařík Tomáš</td>
                            <td>Uni Brno</td>
                            <td>Svišti kluci</td>
                            <td>3.</td>
                            <td>00:00:43</td>
                            <td>00:00:05</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>D31</td>
                            <td>Matušková Julie</td>
                            <td>ASK Blansko</td>
                            <td>Svišti holky</td>
                            <td>2.</td>
                            <td>00:00:43</td>
                            <td>00:00:05</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>D27</td>
                            <td>Škvařil Hynek</td>
                            <td>AK Blansko Dvorská</td>
                            <td>Svišti kluci</td>
                            <td>4.</td>
                            <td>00:00:46</td>
                            <td>00:00:08</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>D33</td>
                            <td>Králová Ema</td>
                            <td>AK Blansko Dvorská</td>
                            <td>Svišti holky</td>
                            <td>3.</td>
                            <td>00:00:46</td>
                            <td>00:00:08</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>D49</td>
                            <td>Rošek Marek</td>
                            <td>SDH Tučapy</td>
                            <td>Svišti kluci</td>
                            <td>5.</td>
                            <td>00:00:49</td>
                            <td>00:00:11</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>D46</td>
                            <td>Kovácsová Alžběta</td>
                            <td>Elite Sport Boskovice</td>
                            <td>Svišti holky</td>
                            <td>4.</td>
                            <td>00:00:49</td>
                            <td>00:00:11</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>D12</td>
                            <td>Jarůšek Kryštof</td>
                            <td>OB Veselice</td>
                            <td>Svišti kluci</td>
                            <td>6.</td>
                            <td>00:00:49</td>
                            <td>00:00:11</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>D9</td>
                            <td>Opustil Daniel</td>
                            <td>OB Veselice</td>
                            <td>Svišti kluci</td>
                            <td>7.</td>
                            <td>00:00:50</td>
                            <td>00:00:12</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>D11</td>
                            <td>Němec Filip</td>
                            <td>OB Veselice</td>
                            <td>Svišti kluci</td>
                            <td>8.</td>
                            <td>00:00:51</td>
                            <td>00:00:13</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>D21</td>
                            <td>Vemola Matěj</td>
                            <td>Bukovice</td>
                            <td>Svišti kluci</td>
                            <td>9.</td>
                            <td>00:00:51</td>
                            <td>00:00:13</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>D41</td>
                            <td>Jančaříková Karolína</td>
                            <td>UNI Brno</td>
                            <td>Svišti holky</td>
                            <td>5.</td>
                            <td>00:00:52</td>
                            <td>00:00:14</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>D47</td>
                            <td>Ševčík Šimon</td>
                            <td>Sokol Luleč/ Brno</td>
                            <td>Svišti kluci</td>
                            <td>10.</td>
                            <td>00:00:53</td>
                            <td>00:00:15</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>D38</td>
                            <td>Šťastná Anna</td>
                            <td>AC Track &amp; Field Brno</td>
                            <td>Svišti holky</td>
                            <td>6.</td>
                            <td>00:00:53</td>
                            <td>00:00:15</td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td>D37</td>
                            <td>Kroupová Bára</td>
                            <td>AK Blansko Dvorská</td>
                            <td>Svišti holky</td>
                            <td>7.</td>
                            <td>00:00:53</td>
                            <td>00:00:15</td>
                        </tr>
                        <tr>
                            <td>18.</td>
                            <td>D10</td>
                            <td>Přibylová Veronika</td>
                            <td>OB Veselice</td>
                            <td>Svišti holky</td>
                            <td>8.</td>
                            <td>00:00:54</td>
                            <td>00:00:16</td>
                        </tr>
                        <tr>
                            <td>19.</td>
                            <td>D34</td>
                            <td>Charvát Matyáš</td>
                            <td>Elite Sport Boskovice</td>
                            <td>Svišti kluci</td>
                            <td>11.</td>
                            <td>00:01:13</td>
                            <td>00:00:35</td>
                        </tr>
                        </tbody>
                    </table>


                    <h2>Svištíci</h2>
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>D8</td>
                            <td>Opustil Adrian</td>
                            <td>OB Veselice</td>
                            <td>Svištíci kluci</td>
                            <td>1.</td>
                            <td>00:00:51</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>D20</td>
                            <td>Vemolová Johana</td>
                            <td>Bukovice</td>
                            <td>Svištíci holky</td>
                            <td>1.</td>
                            <td>00:00:55</td>
                            <td>00:00:04</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>D7</td>
                            <td>Ondroušek Petr</td>
                            <td>OB Veselice</td>
                            <td>Svištíci kluci</td>
                            <td>2.</td>
                            <td>00:00:56</td>
                            <td>00:00:05</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>D2</td>
                            <td>Cihlář Jiří</td>
                            <td>Veselice</td>
                            <td>Svištíci kluci</td>
                            <td>3.</td>
                            <td>00:01:00</td>
                            <td>00:00:09</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>D5</td>
                            <td>Sotolářová Barbora</td>
                            <td>OB Veselice</td>
                            <td>Svištíci holky</td>
                            <td>2.</td>
                            <td>00:01:02</td>
                            <td>00:00:11</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>D30</td>
                            <td>Matuška Jan</td>
                            <td>Rozstání</td>
                            <td>Svištíci kluci</td>
                            <td>4.</td>
                            <td>00:01:03</td>
                            <td>00:00:12</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>D43</td>
                            <td>Hájek Ondřej</td>
                            <td>Ráječko</td>
                            <td>Svištíci kluci</td>
                            <td>5.</td>
                            <td>00:01:06</td>
                            <td>00:00:15</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>D3</td>
                            <td>Zeman Denis</td>
                            <td>Brno</td>
                            <td>Svištíci kluci</td>
                            <td>6.</td>
                            <td>00:01:06</td>
                            <td>00:00:15</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>D23</td>
                            <td>Musil Matěj</td>
                            <td>Blansko</td>
                            <td>Svištíci kluci</td>
                            <td>7.</td>
                            <td>00:01:07</td>
                            <td>00:00:16</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>D48</td>
                            <td>Jablunková Lucie</td>
                            <td>Valchov</td>
                            <td>Svištíci holky</td>
                            <td>3.</td>
                            <td>00:01:09</td>
                            <td>00:00:18</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>D6</td>
                            <td>Sotolář Adam</td>
                            <td>OB Veselice</td>
                            <td>Svištíci kluci</td>
                            <td>8.</td>
                            <td>00:01:19</td>
                            <td>00:00:28</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>D44</td>
                            <td>Weisová Amálie</td>
                            <td>Olešnice</td>
                            <td>Svištíci holky</td>
                            <td>4.</td>
                            <td>00:01:38</td>
                            <td>00:00:47</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>D45</td>
                            <td>Suchá Ema</td>
                            <td>Olomučany</td>
                            <td>Svištíci holky</td>
                            <td>5.</td>
                            <td>00:01:41</td>
                            <td>00:00:50</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>D42</td>
                            <td>Procházková Magda</td>
                            <td>Ráječko</td>
                            <td>Svištíci holky</td>
                            <td>6.</td>
                            <td>00:01:42</td>
                            <td>00:00:51</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>D19</td>
                            <td>Vemola Jonáš</td>
                            <td>Bukovice</td>
                            <td>Svištíci kluci</td>
                            <td>9.</td>
                            <td>00:01:59</td>
                            <td>00:01:08</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>D51</td>
                            <td>Hromádková Ela</td>
                            <td>Blansko</td>
                            <td>Svištíci holky</td>
                            <td>7.</td>
                            <td>00:02:00</td>
                            <td>00:01:09</td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td>D50</td>
                            <td>Voldán Gabriel</td>
                            <td>Jestřebí</td>
                            <td>Svištíci kluci</td>
                            <td>10.</td>
                            <td>00:02:04</td>
                            <td>00:01:13</td>
                        </tr>
                        </tbody>
                    </table>

                    <a class="btn btn-primary toTop">
                        <span class="glyphicon glyphicon-chevron-up"></span>&nbsp;Nahoru
                    </a>
                    <a class="btn btn-warning" n:href="vysledky">
                        <span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Zpět na výsledky
                    </a>

                </div>
            </div>
        </div>


    </div>
</div>


{include './footer.latte'}


</body>
{/block}
</html>