<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Výsledky závodu v roce 2013 | Lesempolem.cz</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block|strip}
{include './nav.latte', active => 'vysledky'}
<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Výsledky závodu v roce 2013</h1>


            <div class="vysledky">
                <h2>10 KM</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Příjmení, Jméno</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>5</td>
                            <td>Ryška Vít</td>
                            <td>00:40:09</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>27</td>
                            <td>Dolák Hynek</td>
                            <td>00:40:27</td>
                            <td>00:00:18</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>28</td>
                            <td>Boháček Petr</td>
                            <td>00:40:49</td>
                            <td>00:00:40</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>17</td>
                            <td>Stloukal Jaroslav</td>
                            <td>00:43:25</td>
                            <td>00:03:16</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>18</td>
                            <td>Dvořák Jaromír</td>
                            <td>00:43:48</td>
                            <td>00:03:39</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>39</td>
                            <td>Možný Radek</td>
                            <td>00:44:55</td>
                            <td>00:04:46</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>34</td>
                            <td>Odehnal Tomáš</td>
                            <td>00:45:13</td>
                            <td>00:05:04</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>21</td>
                            <td>Nožka Jiří</td>
                            <td>00:45:17</td>
                            <td>00:05:08</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>31</td>
                            <td>Němec Richard</td>
                            <td>00:45:32</td>
                            <td>00:05:23</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>6</td>
                            <td>Kubík Pavel</td>
                            <td>00:46:14</td>
                            <td>00:06:05</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>43</td>
                            <td>Kyzlink Karel</td>
                            <td>00:47:06</td>
                            <td>00:06:57</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>30</td>
                            <td>Šerák Martin</td>
                            <td>00:47:27</td>
                            <td>00:07:18</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>33</td>
                            <td>Hubert František</td>
                            <td>00:47:50</td>
                            <td>00:07:41</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>15</td>
                            <td>Knotek David</td>
                            <td>00:48:04</td>
                            <td>00:07:55</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>42</td>
                            <td>Buš Roman</td>
                            <td>00:48:05</td>
                            <td>00:07:56</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>22</td>
                            <td>Zoubek Karel</td>
                            <td>00:48:48</td>
                            <td>00:08:39</td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td>9</td>
                            <td>Jančařík Petr</td>
                            <td>00:49:37</td>
                            <td>00:09:28</td>
                        </tr>
                        <tr>
                            <td>18.</td>
                            <td>25</td>
                            <td>Hromek Jiří</td>
                            <td>00:50:21</td>
                            <td>00:10:12</td>
                        </tr>
                        <tr>
                            <td>19.</td>
                            <td>38</td>
                            <td>Stejskal Roman</td>
                            <td>00:51:16</td>
                            <td>00:11:07</td>
                        </tr>
                        <tr>
                            <td>20.</td>
                            <td>32</td>
                            <td>Skoták Hynek</td>
                            <td>00:51:21</td>
                            <td>00:11:12</td>
                        </tr>
                        <tr>
                            <td>21.</td>
                            <td>35</td>
                            <td>Procházka Jan</td>
                            <td>00:51:30</td>
                            <td>00:11:21</td>
                        </tr>
                        <tr>
                            <td>22.</td>
                            <td>1</td>
                            <td>Hloušek Michal</td>
                            <td>00:51:35</td>
                            <td>00:11:26</td>
                        </tr>
                        <tr>
                            <td>23.</td>
                            <td>40</td>
                            <td>Brtník Jiří</td>
                            <td>00:51:36</td>
                            <td>00:11:27</td>
                        </tr>
                        <tr>
                            <td>24.</td>
                            <td>36</td>
                            <td>Drábek Jan</td>
                            <td>00:52:12</td>
                            <td>00:12:03</td>
                        </tr>
                        <tr>
                            <td>25.</td>
                            <td>7</td>
                            <td>Vodička Marek</td>
                            <td>00:52:27</td>
                            <td>00:12:18</td>
                        </tr>
                        <tr>
                            <td>26.</td>
                            <td>8</td>
                            <td>Nešpor Petr</td>
                            <td>00:52:27</td>
                            <td>00:12:18</td>
                        </tr>
                        <tr>
                            <td>27.</td>
                            <td>29</td>
                            <td>Haresta Petr</td>
                            <td>00:52:48</td>
                            <td>00:12:39</td>
                        </tr>
                        <tr>
                            <td>28.</td>
                            <td>26</td>
                            <td>Šperka Oldřich</td>
                            <td>00:52:57</td>
                            <td>00:12:48</td>
                        </tr>
                        <tr>
                            <td>29.</td>
                            <td>37</td>
                            <td>Kubíček Jan</td>
                            <td>00:53:16</td>
                            <td>00:13:07</td>
                        </tr>
                        <tr>
                            <td>30.</td>
                            <td>10</td>
                            <td>Skoták Jiří</td>
                            <td>00:53:18</td>
                            <td>00:13:09</td>
                        </tr>
                        <tr>
                            <td>31.</td>
                            <td>19</td>
                            <td>Munster Libor</td>
                            <td>00:53:57</td>
                            <td>00:13:48</td>
                        </tr>
                        <tr>
                            <td>32.</td>
                            <td>16</td>
                            <td>Stráník Aleš</td>
                            <td>00:54:57</td>
                            <td>00:14:48</td>
                        </tr>
                        <tr>
                            <td>33.</td>
                            <td>20</td>
                            <td>Veselý Karel</td>
                            <td>00:55:41</td>
                            <td>00:15:32</td>
                        </tr>
                        <tr>
                            <td>34.</td>
                            <td>23</td>
                            <td>Macháček Martin</td>
                            <td>00:56:56</td>
                            <td>00:16:47</td>
                        </tr>
                        <tr>
                            <td>35.</td>
                            <td>13</td>
                            <td>Knotek Ilja</td>
                            <td>00:58:06</td>
                            <td>00:17:57</td>
                        </tr>
                        <tr>
                            <td>36.</td>
                            <td>14</td>
                            <td>Vojtíšek Tomáš</td>
                            <td>00:58:22</td>
                            <td>00:18:13</td>
                        </tr>
                        <tr>
                            <td>37.</td>
                            <td>11</td>
                            <td>Jablunka Dušan</td>
                            <td>00:58:27</td>
                            <td>00:18:18</td>
                        </tr>
                        <tr>
                            <td>38.</td>
                            <td>41</td>
                            <td>Frint Jiří</td>
                            <td>00:59:12</td>
                            <td>00:19:03</td>
                        </tr>
                        <tr>
                            <td>39.</td>
                            <td>3</td>
                            <td>Suchý Libor</td>
                            <td>01:04:47</td>
                            <td>00:24:38</td>
                        </tr>
                        <tr>
                            <td>40.</td>
                            <td>44</td>
                            <td>Jablunková Andrea</td>
                            <td>01:06:20</td>
                            <td>00:26:11</td>
                        </tr>
                        <tr>
                            <td>41.</td>
                            <td>24</td>
                            <td>Fuksa Karel</td>
                            <td>01:13:13</td>
                            <td>00:33:04</td>
                        </tr>
                        <tr>
                            <td>42.</td>
                            <td>12</td>
                            <td>Kubík Josef</td>
                            <td>01:16:12</td>
                            <td>00:36:03</td>
                        </tr>
                    </table>

                    <h2>5 KM</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Příjmení, Jméno</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>25</td>
                            <td>Havelka Jan</td>
                            <td>00:22:33</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>17</td>
                            <td>Barešová Milada</td>
                            <td>00:23:07</td>
                            <td>00:00:34</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>6</td>
                            <td>Jančaříková Lenka</td>
                            <td>00:23:43</td>
                            <td>00:01:10</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>13</td>
                            <td>Krejčová Magda</td>
                            <td>00:25:01</td>
                            <td>00:02:28</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>18</td>
                            <td>Filipiová Andrea</td>
                            <td>00:26:09</td>
                            <td>00:03:36</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>16</td>
                            <td>Komárková Zdena</td>
                            <td>00:26:37</td>
                            <td>00:04:04</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>12</td>
                            <td>Nedomová Lucie</td>
                            <td>00:27:54</td>
                            <td>00:05:21</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>3</td>
                            <td>Vodičková Šárka</td>
                            <td>00:28:21</td>
                            <td>00:05:48</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>14</td>
                            <td>Klimešová Inka</td>
                            <td>00:29:15</td>
                            <td>00:06:42</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>20</td>
                            <td>Kopecká Radka</td>
                            <td>00:29:16</td>
                            <td>00:06:43</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>15</td>
                            <td>Krejčiříková Kateřina</td>
                            <td>00:30:37</td>
                            <td>00:08:04</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>8</td>
                            <td>Žáčková Jitka</td>
                            <td>00:31:19</td>
                            <td>00:08:46</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>21</td>
                            <td>Zitová Iva</td>
                            <td>00:31:27</td>
                            <td>00:08:54</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>5</td>
                            <td>Nečasová Simona</td>
                            <td>00:32:38</td>
                            <td>00:10:05</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>19</td>
                            <td>Kopecká Naděžda</td>
                            <td>00:34:30</td>
                            <td>00:11:57</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>11</td>
                            <td>Sotáková Miroslava</td>
                            <td>00:34:47</td>
                            <td>00:12:14</td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td>7</td>
                            <td>Martínková Romana</td>
                            <td>00:35:00</td>
                            <td>00:12:27</td>
                        </tr>
                        <tr>
                            <td>18.</td>
                            <td>1</td>
                            <td>Karásek Antonín</td>
                            <td>00:35:08</td>
                            <td>00:12:35</td>
                        </tr>
                        <tr>
                            <td>19.</td>
                            <td>4</td>
                            <td>Koňariková Lenka</td>
                            <td>00:35:31</td>
                            <td>00:12:58</td>
                        </tr>
                        <tr>
                            <td>20.</td>
                            <td>2</td>
                            <td>Novotná Zuzana</td>
                            <td>00:38:07</td>
                            <td>00:15:34</td>
                        </tr>
                        <tr>
                            <td>21.</td>
                            <td>24</td>
                            <td>Novotný Miloslav</td>
                            <td>00:38:08</td>
                            <td>00:15:35</td>
                        </tr>
                        <tr>
                            <td>22.</td>
                            <td>10</td>
                            <td>Sotáková Lenka</td>
                            <td>00:40:25</td>
                            <td>00:17:52</td>
                        </tr>
                        <tr>
                            <td>23.</td>
                            <td>22</td>
                            <td>Kudělková Eva</td>
                            <td>00:44:59</td>
                            <td>00:22:26</td>
                        </tr>
                        <tr>
                            <td>24.</td>
                            <td>23</td>
                            <td>Šolc Filip</td>
                            <td>00:45:00</td>
                            <td>00:22:27</td>
                        </tr>
                    </table>

                    <h2>1 350 M</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Příjmení, Jméno</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>2</td>
                            <td>Suchá Lenka</td>
                            <td>00:05:33</td>
                            <td>00:00:42</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>15</td>
                            <td>Plíhal Jiří</td>
                            <td>00:06:01</td>
                            <td>00:01:10</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>14</td>
                            <td>Sedláková Zdislava</td>
                            <td>00:06:28</td>
                            <td>00:01:37</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>6</td>
                            <td>Stehlík Jiří</td>
                            <td>00:08:04</td>
                            <td>00:03:13</td>
                        </tr>
                    </table>

                    <h2>Svišti - 200 M</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Příjmení, Jméno</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>5</td>
                            <td>Štoudková Pavla</td>
                            <td>00:00:55</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>1</td>
                            <td>Augustínová Patricie</td>
                            <td>00:00:56</td>
                            <td>00:00:01</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>32</td>
                            <td>Krejčiříková Klára</td>
                            <td>00:00:58</td>
                            <td>00:00:03</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>18</td>
                            <td>Vodičková Kristýna</td>
                            <td>00:01:00</td>
                            <td>00:00:05</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>21</td>
                            <td>Salčáková Dominika</td>
                            <td>00:01:01</td>
                            <td>00:00:06</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>22</td>
                            <td>Salčáková Martina</td>
                            <td>00:01:03</td>
                            <td>00:00:08</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>26</td>
                            <td>Jarůšek Štěpán</td>
                            <td>00:01:03</td>
                            <td>00:00:08</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>24</td>
                            <td>Jančařík Tomáš</td>
                            <td>00:01:04</td>
                            <td>00:00:09</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>12</td>
                            <td>Sedláková Monika</td>
                            <td>00:01:04</td>
                            <td>00:00:09</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>23</td>
                            <td>Svoboda Lukáš</td>
                            <td>00:01:06</td>
                            <td>00:00:11</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>10</td>
                            <td>Sedláková Anna</td>
                            <td>00:01:08</td>
                            <td>00:00:13</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>17</td>
                            <td>Kubíková Sára</td>
                            <td>00:01:08</td>
                            <td>00:00:13</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>3</td>
                            <td>Suchý Libor</td>
                            <td>00:01:09</td>
                            <td>00:00:14</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>19</td>
                            <td>Vodičková Martina</td>
                            <td>00:01:13</td>
                            <td>00:00:18</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>28</td>
                            <td>Jablunka Jan</td>
                            <td>00:01:20</td>
                            <td>00:00:25</td>
                        </tr>
                    </table>

                    <h2>Svištíci - 200 M</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Příjmení, Jméno</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>4</td>
                            <td>Suchá Jana</td>
                            <td>00:01:17</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>8</td>
                            <td>Ryška Daniel</td>
                            <td>00:01:22</td>
                            <td>00:00:05</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>11</td>
                            <td>Sedláková Barbora</td>
                            <td>00:01:23</td>
                            <td>00:00:06</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>25</td>
                            <td>Jančaříková Karolína</td>
                            <td>00:01:24</td>
                            <td>00:00:07</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>31</td>
                            <td>Vojtíšková Valerie</td>
                            <td>00:01:25</td>
                            <td>00:00:08</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>30</td>
                            <td>Knotková Eliška</td>
                            <td>00:01:32</td>
                            <td>00:00:15</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>29</td>
                            <td>Jarůšek Kryštof</td>
                            <td>00:01:32</td>
                            <td>00:00:15</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>20</td>
                            <td>Nohová Nelinka</td>
                            <td>00:01:39</td>
                            <td>00:00:22</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>9</td>
                            <td>Ryšková Linda</td>
                            <td>00:01:55</td>
                            <td>00:00:38</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>27</td>
                            <td>Jablunková Lucie</td>
                            <td>00:02:09</td>
                            <td>00:00:52</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>33</td>
                            <td>Krejčiříková Anežka</td>
                            <td>00:02:14</td>
                            <td>00:00:57</td>
                        </tr>
                    </table>
                </div>

                <a class="btn btn-primary toTop">
                    <span class="glyphicon glyphicon-chevron-up"></span>&nbsp;Nahoru
                </a>
                <a class="btn btn-warning" n:href="vysledky">
                    <span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Zpět na výsledky
                </a>
            </div>
        </div>
    </div>
</div>


{include './footer.latte'}


</body>
{/block}
</html>