<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Výsledky závodu v roce 2015 | Lesempolem.cz</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block|strip}
{include './nav.latte', active => 'vysledky'}
<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Výsledky závodu v roce 2015</h1>


            <div class="vysledky">
                <h2>10 KM</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>49</td>
                            <td>Orálek Daniel</td>
                            <td>AC Moravská Slávia/Adidas Boost Team</td>
                            <td>MV1</td>
                            <td>1.</td>
                            <td>00:37:49</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>65</td>
                            <td>Klopec Aleš</td>
                            <td>Blansko</td>
                            <td>M</td>
                            <td>1.</td>
                            <td>00:41:45</td>
                            <td>00:03:56</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>6</td>
                            <td>Večeřa Tomáš</td>
                            <td>Relax Olešnice</td>
                            <td>M</td>
                            <td>2.</td>
                            <td>00:42:14</td>
                            <td>00:04:25</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>74</td>
                            <td>Bárta Jaroslav</td>
                            <td>Sobůlky</td>
                            <td>M</td>
                            <td>3.</td>
                            <td>00:42:42</td>
                            <td>00:04:53</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>20</td>
                            <td>Grün Gustav</td>
                            <td>AC Okrouhlá</td>
                            <td>MV1</td>
                            <td>2.</td>
                            <td>00:42:55</td>
                            <td>00:05:06</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>29</td>
                            <td>Dolák Hynek</td>
                            <td>Blansko</td>
                            <td>MV1</td>
                            <td>3.</td>
                            <td>00:43:14</td>
                            <td>00:05:25</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>26</td>
                            <td>Jančík Tomáš</td>
                            <td>Boskovice</td>
                            <td>MV1</td>
                            <td>4.</td>
                            <td>00:43:28</td>
                            <td>00:05:39</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>37</td>
                            <td>Šimunek Martin</td>
                            <td>Modřice</td>
                            <td>MV1</td>
                            <td>5.</td>
                            <td>00:43:37</td>
                            <td>00:05:48</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>16</td>
                            <td>Weis Josef</td>
                            <td>Olešnice</td>
                            <td>MV1</td>
                            <td>6.</td>
                            <td>00:44:09</td>
                            <td>00:06:20</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>22</td>
                            <td>Huťka Jiří</td>
                            <td>Brno</td>
                            <td>M</td>
                            <td>4.</td>
                            <td>00:46:09</td>
                            <td>00:08:20</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>13</td>
                            <td>Zeman Zdeněk</td>
                            <td>Blansko</td>
                            <td>M</td>
                            <td>5.</td>
                            <td>00:46:27</td>
                            <td>00:08:38</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>57</td>
                            <td>Daniel Petr</td>
                            <td>Start Brno</td>
                            <td>MV1</td>
                            <td>7.</td>
                            <td>00:46:34</td>
                            <td>00:08:45</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>42</td>
                            <td>Vejrostová Hana</td>
                            <td>Lukovany</td>
                            <td>Ž</td>
                            <td>1.</td>
                            <td>00:46:45</td>
                            <td>00:08:56</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>51</td>
                            <td>Buš Ondřej</td>
                            <td>Ráječko</td>
                            <td>M</td>
                            <td>6.</td>
                            <td>00:46:53</td>
                            <td>00:09:04</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>66</td>
                            <td>Bachratý Pavel</td>
                            <td>Blansko</td>
                            <td>MV2</td>
                            <td>1.</td>
                            <td>00:47:26</td>
                            <td>00:09:37</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>76</td>
                            <td>Matěna Vladimír</td>
                            <td>VZS Blansko</td>
                            <td>MV2</td>
                            <td>2.</td>
                            <td>00:47:31</td>
                            <td>00:09:42</td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td>11</td>
                            <td>Zouhar Libor</td>
                            <td>Brno - Líšeň</td>
                            <td>M</td>
                            <td>7.</td>
                            <td>00:47:42</td>
                            <td>00:09:53</td>
                        </tr>
                        <tr>
                            <td>18.</td>
                            <td>73</td>
                            <td>Barešová Milada</td>
                            <td>Kunštát</td>
                            <td>ŽV1</td>
                            <td>1.</td>
                            <td>00:48:05</td>
                            <td>00:10:16</td>
                        </tr>
                        <tr>
                            <td>19.</td>
                            <td>48</td>
                            <td>Žejšek Martin</td>
                            <td>Kašpaři VM</td>
                            <td>M</td>
                            <td>8.</td>
                            <td>00:48:14</td>
                            <td>00:10:25</td>
                        </tr>
                        <tr>
                            <td>20.</td>
                            <td>15</td>
                            <td>Fiala Ondřej</td>
                            <td>Boskovice</td>
                            <td>M</td>
                            <td>9.</td>
                            <td>00:48:26</td>
                            <td>00:10:37</td>
                        </tr>
                        <tr>
                            <td>21.</td>
                            <td>7</td>
                            <td>Jančařík Petr</td>
                            <td>AAC Brno</td>
                            <td>MV1</td>
                            <td>8.</td>
                            <td>00:48:30</td>
                            <td>00:10:41</td>
                        </tr>
                        <tr>
                            <td>22.</td>
                            <td>56</td>
                            <td>Hojač Petr</td>
                            <td>Start Brno</td>
                            <td>MV1</td>
                            <td>9.</td>
                            <td>00:48:35</td>
                            <td>00:10:46</td>
                        </tr>
                        <tr>
                            <td>23.</td>
                            <td>40</td>
                            <td>Ševčík Petr</td>
                            <td>Jedovnice</td>
                            <td>M</td>
                            <td>10.</td>
                            <td>00:48:52</td>
                            <td>00:11:03</td>
                        </tr>
                        <tr>
                            <td>24.</td>
                            <td>58</td>
                            <td>Nešpor Michal</td>
                            <td>Brno</td>
                            <td>M</td>
                            <td>11.</td>
                            <td>00:48:52</td>
                            <td>00:11:03</td>
                        </tr>
                        <tr>
                            <td>25.</td>
                            <td>70</td>
                            <td>Koníček Michal</td>
                            <td>AC Senetářov</td>
                            <td>M</td>
                            <td>12.</td>
                            <td>00:49:19</td>
                            <td>00:11:30</td>
                        </tr>
                        <tr>
                            <td>26.</td>
                            <td>71</td>
                            <td>Kuběna Roman</td>
                            <td>AC Senetářov</td>
                            <td>M</td>
                            <td>13.</td>
                            <td>00:49:40</td>
                            <td>00:11:51</td>
                        </tr>
                        <tr>
                            <td>27.</td>
                            <td>45</td>
                            <td>Anderlová Dorota</td>
                            <td>AC Moravská Slávia Brno</td>
                            <td>Ž</td>
                            <td>2.</td>
                            <td>00:49:46</td>
                            <td>00:11:57</td>
                        </tr>
                        <tr>
                            <td>28.</td>
                            <td>43</td>
                            <td>Odehnal Tomáš</td>
                            <td>Skalice</td>
                            <td>MV1</td>
                            <td>10.</td>
                            <td>00:50:03</td>
                            <td>00:12:14</td>
                        </tr>
                        <tr>
                            <td>29.</td>
                            <td>41</td>
                            <td>Komárková Zdeňka</td>
                            <td>Kometky Olešnice</td>
                            <td>ŽV1</td>
                            <td>2.</td>
                            <td>00:50:03</td>
                            <td>00:12:14</td>
                        </tr>
                        <tr>
                            <td>30.</td>
                            <td>46</td>
                            <td>Dokoupil Petr</td>
                            <td></td>
                            <td>M</td>
                            <td>14.</td>
                            <td>00:50:14</td>
                            <td>00:12:25</td>
                        </tr>
                        <tr>
                            <td>31.</td>
                            <td>36</td>
                            <td>Zoubek Karel</td>
                            <td>Vanovice</td>
                            <td>MV2</td>
                            <td>3.</td>
                            <td>00:50:26</td>
                            <td>00:12:37</td>
                        </tr>
                        <tr>
                            <td>32.</td>
                            <td>63</td>
                            <td>Procházka Jan</td>
                            <td>Ráječko</td>
                            <td>M</td>
                            <td>15.</td>
                            <td>00:50:39</td>
                            <td>00:12:50</td>
                        </tr>
                        <tr>
                            <td>33.</td>
                            <td>69</td>
                            <td>Kinc Pavel</td>
                            <td>VF team</td>
                            <td>MV1</td>
                            <td>11.</td>
                            <td>00:50:59</td>
                            <td>00:13:10</td>
                        </tr>
                        <tr>
                            <td>34.</td>
                            <td>50</td>
                            <td>Jančaříková Lenka</td>
                            <td>AAC Brno</td>
                            <td>ŽV1</td>
                            <td>3.</td>
                            <td>00:51:04</td>
                            <td>00:13:15</td>
                        </tr>
                        <tr>
                            <td>35.</td>
                            <td>2</td>
                            <td>Kolaja Marcel</td>
                            <td>Red Hat</td>
                            <td>M</td>
                            <td>16.</td>
                            <td>00:51:27</td>
                            <td>00:13:38</td>
                        </tr>
                        <tr>
                            <td>36.</td>
                            <td>54</td>
                            <td>Hegr Jiří</td>
                            <td>Šošůvka</td>
                            <td>M</td>
                            <td>17.</td>
                            <td>00:51:31</td>
                            <td>00:13:42</td>
                        </tr>
                        <tr>
                            <td>37.</td>
                            <td>3</td>
                            <td>Sotolář Stanislav</td>
                            <td>Veselice</td>
                            <td>MV1</td>
                            <td>12.</td>
                            <td>00:51:39</td>
                            <td>00:13:50</td>
                        </tr>
                        <tr>
                            <td>38.</td>
                            <td>19</td>
                            <td>Vít Vojtěch</td>
                            <td>AC Okruhla</td>
                            <td>M</td>
                            <td>18.</td>
                            <td>00:51:44</td>
                            <td>00:13:55</td>
                        </tr>
                        <tr>
                            <td>39.</td>
                            <td>24</td>
                            <td>Pohanka Pavel</td>
                            <td>Lotrando Brno</td>
                            <td>MV1</td>
                            <td>13.</td>
                            <td>00:51:50</td>
                            <td>00:14:01</td>
                        </tr>
                        <tr>
                            <td>40.</td>
                            <td>77</td>
                            <td>Bedan Petr</td>
                            <td>Spešov</td>
                            <td>MV1</td>
                            <td>14.</td>
                            <td>00:52:39</td>
                            <td>00:14:50</td>
                        </tr>
                        <tr>
                            <td>41.</td>
                            <td>55</td>
                            <td>Ondroušková Ivana</td>
                            <td>Blansko</td>
                            <td>ŽV1</td>
                            <td>4.</td>
                            <td>00:52:44</td>
                            <td>00:14:55</td>
                        </tr>
                        <tr>
                            <td>42.</td>
                            <td>9</td>
                            <td>Kalová Jitka</td>
                            <td>Sk Skol Brno</td>
                            <td>ŽV1</td>
                            <td>5.</td>
                            <td>00:53:23</td>
                            <td>00:15:34</td>
                        </tr>
                        <tr>
                            <td>43.</td>
                            <td>10</td>
                            <td>Svoboda Pavel</td>
                            <td>TJ Sloup</td>
                            <td>MV3</td>
                            <td>1.</td>
                            <td>00:53:42</td>
                            <td>00:15:53</td>
                        </tr>
                        <tr>
                            <td>44.</td>
                            <td>1</td>
                            <td>Dvořák Jiří</td>
                            <td>CLEAN LINE Boskovice</td>
                            <td>M</td>
                            <td>19.</td>
                            <td>00:53:49</td>
                            <td>00:16:00</td>
                        </tr>
                        <tr>
                            <td>45.</td>
                            <td>39</td>
                            <td>Březa Miroslav</td>
                            <td>Kohoutovice</td>
                            <td>MV2</td>
                            <td>4.</td>
                            <td>00:54:09</td>
                            <td>00:16:20</td>
                        </tr>
                        <tr>
                            <td>46.</td>
                            <td>59</td>
                            <td>Münster Libor</td>
                            <td>Blansko</td>
                            <td>MV1</td>
                            <td>15.</td>
                            <td>00:54:15</td>
                            <td>00:16:26</td>
                        </tr>
                        <tr>
                            <td>47.</td>
                            <td>47</td>
                            <td>Kopecká Michaela</td>
                            <td>Boskovice</td>
                            <td>Ž</td>
                            <td>3.</td>
                            <td>00:54:20</td>
                            <td>00:16:31</td>
                        </tr>
                        <tr>
                            <td>48.</td>
                            <td>8</td>
                            <td>Studená Jarmila</td>
                            <td>BehejBrno.com</td>
                            <td>ŽV1</td>
                            <td>6.</td>
                            <td>00:55:48</td>
                            <td>00:17:59</td>
                        </tr>
                        <tr>
                            <td>49.</td>
                            <td>28</td>
                            <td>Boháč Jiří</td>
                            <td>BehejBrno.com</td>
                            <td>MV3</td>
                            <td>2.</td>
                            <td>00:55:51</td>
                            <td>00:18:02</td>
                        </tr>
                        <tr>
                            <td>50.</td>
                            <td>38</td>
                            <td>Šamonil Petr</td>
                            <td>Rájec-Jestřebí</td>
                            <td>MV2</td>
                            <td>5.</td>
                            <td>00:55:56</td>
                            <td>00:18:07</td>
                        </tr>
                        <tr>
                            <td>51.</td>
                            <td>64</td>
                            <td>Brtník Jiří</td>
                            <td>Orel Obřany</td>
                            <td>MV3</td>
                            <td>3.</td>
                            <td>00:56:02</td>
                            <td>00:18:13</td>
                        </tr>
                        <tr>
                            <td>52.</td>
                            <td>27</td>
                            <td>Ramša Aleš</td>
                            <td>Hostěnice</td>
                            <td>M</td>
                            <td>20.</td>
                            <td>00:56:05</td>
                            <td>00:18:16</td>
                        </tr>
                        <tr>
                            <td>53.</td>
                            <td>52</td>
                            <td>Bařina Jiří</td>
                            <td>VF team</td>
                            <td>M</td>
                            <td>21.</td>
                            <td>00:57:30</td>
                            <td>00:19:41</td>
                        </tr>
                        <tr>
                            <td>54.</td>
                            <td>33</td>
                            <td>Wagner Petr</td>
                            <td>Biatlon Vyškov</td>
                            <td>MV1</td>
                            <td>16.</td>
                            <td>00:58:07</td>
                            <td>00:20:18</td>
                        </tr>
                        <tr>
                            <td>55.</td>
                            <td>12</td>
                            <td>Vojtíšek Tomáš</td>
                            <td>SC Testudo</td>
                            <td>MV1</td>
                            <td>17.</td>
                            <td>00:58:10</td>
                            <td>00:20:21</td>
                        </tr>
                        <tr>
                            <td>56.</td>
                            <td>60</td>
                            <td>Balák Martin</td>
                            <td>Bruslárna.cz</td>
                            <td>MV1</td>
                            <td>18.</td>
                            <td>00:58:30</td>
                            <td>00:20:41</td>
                        </tr>
                        <tr>
                            <td>57.</td>
                            <td>32</td>
                            <td>Suchy Marek</td>
                            <td>Olomucany</td>
                            <td>M</td>
                            <td>22.</td>
                            <td>00:58:54</td>
                            <td>00:21:05</td>
                        </tr>
                        <tr>
                            <td>58.</td>
                            <td>35</td>
                            <td>Haasová Radka</td>
                            <td>ACT leraK</td>
                            <td>ŽV1</td>
                            <td>7.</td>
                            <td>00:59:21</td>
                            <td>00:21:32</td>
                        </tr>
                        <tr>
                            <td>59.</td>
                            <td>62</td>
                            <td>Nedvěd Martin</td>
                            <td>Blansko</td>
                            <td>M</td>
                            <td>23.</td>
                            <td>01:00:31</td>
                            <td>00:22:42</td>
                        </tr>
                        <tr>
                            <td>60.</td>
                            <td>4</td>
                            <td>Pluháčková Eva</td>
                            <td>Ac Senetářov</td>
                            <td>Ž</td>
                            <td>4.</td>
                            <td>01:00:58</td>
                            <td>00:23:09</td>
                        </tr>
                        <tr>
                            <td>61.</td>
                            <td>25</td>
                            <td>Bayer Miloslav</td>
                            <td>ask blansko</td>
                            <td>MV3</td>
                            <td>4.</td>
                            <td>01:02:01</td>
                            <td>00:24:12</td>
                        </tr>
                        <tr>
                            <td>62.</td>
                            <td>68</td>
                            <td>Polách Petr</td>
                            <td>Blansko</td>
                            <td>MV1</td>
                            <td>19.</td>
                            <td>01:04:23</td>
                            <td>00:26:34</td>
                        </tr>
                        <tr>
                            <td>63.</td>
                            <td>53</td>
                            <td>Jablunka Dušan</td>
                            <td></td>
                            <td>M</td>
                            <td>24.</td>
                            <td>01:06:42</td>
                            <td>00:28:53</td>
                        </tr>
                        <tr>
                            <td>64.</td>
                            <td>23</td>
                            <td>Všetečková Pavla</td>
                            <td>Motor Journal</td>
                            <td>ŽV1</td>
                            <td>8.</td>
                            <td>01:08:34</td>
                            <td>00:30:45</td>
                        </tr>
                        <tr>
                            <td>65.</td>
                            <td>31</td>
                            <td>Stráník Aleš</td>
                            <td>Blansko</td>
                            <td>MV3</td>
                            <td>5.</td>
                            <td>01:08:35</td>
                            <td>00:30:46</td>
                        </tr>
                        <tr>
                            <td>66.</td>
                            <td>72</td>
                            <td>Vašíček Michal</td>
                            <td></td>
                            <td>M</td>
                            <td>25.</td>
                            <td>01:08:36</td>
                            <td>00:30:47</td>
                        </tr>
                        <tr>
                            <td>67.</td>
                            <td>21</td>
                            <td>Grünová Ivana</td>
                            <td>AC Okrouhlá</td>
                            <td>ŽV1</td>
                            <td>9.</td>
                            <td>01:10:38</td>
                            <td>00:32:49</td>
                        </tr>
                        <tr>
                            <td>68.</td>
                            <td>18</td>
                            <td>Daněk Milan</td>
                            <td>Horizont Kola Novák Blansko</td>
                            <td>MV2</td>
                            <td>6.</td>
                            <td>01:12:03</td>
                            <td>00:34:14</td>
                        </tr>
                        <tr>
                            <td>69.</td>
                            <td>61</td>
                            <td>Růžička Bohuslav</td>
                            <td>SC Ráječko</td>
                            <td>MV3</td>
                            <td>6.</td>
                            <td>01:13:26</td>
                            <td>00:35:37</td>
                        </tr>
                        <tr>
                            <td>70.</td>
                            <td>30</td>
                            <td>Krejčiříková Kateřina</td>
                            <td>Svatá Kateřina</td>
                            <td>ŽV1</td>
                            <td>10.</td>
                            <td>01:15:39</td>
                            <td>00:37:50</td>
                        </tr>
                        <tr>
                            <td>71.</td>
                            <td>44</td>
                            <td>Odehnalová Dagmar</td>
                            <td>Skalice</td>
                            <td>ŽV1</td>
                            <td>11.</td>
                            <td>01:15:39</td>
                            <td>00:37:50</td>
                        </tr>
                        <tr>
                            <td>72.</td>
                            <td>67</td>
                            <td>Dražan Libor</td>
                            <td>Univerzita obrany</td>
                            <td>MV2</td>
                            <td>7.</td>
                            <td>01:19:26</td>
                            <td>00:41:37</td>
                        </tr>
                        <tr>
                            <td>73.</td>
                            <td>17</td>
                            <td>Weisová Barbora</td>
                            <td>Olešnice</td>
                            <td>Ž</td>
                            <td>5.</td>
                            <td>01:20:56</td>
                            <td>00:43:07</td>
                        </tr>
                        <tr>
                            <td>74.</td>
                            <td>14</td>
                            <td>Hrubý Milan</td>
                            <td>Blansko</td>
                            <td>MV1</td>
                            <td>20.</td>
                            <td>01:24:46</td>
                            <td>00:46:57</td>
                        </tr>
                        <tr>
                            <td>75.</td>
                            <td>75</td>
                            <td>Matěnová Věra</td>
                            <td>VZS</td>
                            <td>ŽV2</td>
                            <td>1.</td>
                            <td>01:27:45</td>
                            <td>00:49:56</td>
                        </tr>
                    </table>

                    <h2>5 KM</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>208</td>
                            <td>Konečný Petr</td>
                            <td>AC Okrouhlá</td>
                            <td>JŘI</td>
                            <td>1.</td>
                            <td>00:20:07</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>207</td>
                            <td>Říha Jaroslav</td>
                            <td>Újezd u Černé Hory</td>
                            <td>JŘI</td>
                            <td>2.</td>
                            <td>00:21:08</td>
                            <td>00:01:01</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>216</td>
                            <td>Řeháček Marek</td>
                            <td>Letovice</td>
                            <td>JŘI</td>
                            <td>3.</td>
                            <td>00:21:45</td>
                            <td>00:01:38</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>201</td>
                            <td>Klíč David</td>
                            <td>ACT Lerak</td>
                            <td>JŘI</td>
                            <td>4.</td>
                            <td>00:22:56</td>
                            <td>00:02:49</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>205</td>
                            <td>Bejček Patrik</td>
                            <td>Ostrov u Macochy</td>
                            <td>JŘI</td>
                            <td>5.</td>
                            <td>00:23:47</td>
                            <td>00:03:40</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>210</td>
                            <td>Novosad Ondřej</td>
                            <td>Cetkovice</td>
                            <td>JŘI</td>
                            <td>6.</td>
                            <td>00:26:09</td>
                            <td>00:06:02</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>215</td>
                            <td>Skoták Pavel</td>
                            <td>Letovice</td>
                            <td>JŘI</td>
                            <td>7.</td>
                            <td>00:27:29</td>
                            <td>00:07:22</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>206</td>
                            <td>Fabiánek Filip</td>
                            <td>OB Veselice</td>
                            <td>JŘI</td>
                            <td>8.</td>
                            <td>00:28:11</td>
                            <td>00:08:04</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>202</td>
                            <td>Charvátová Tereza</td>
                            <td>Lhota Rapotina</td>
                            <td>JKY</td>
                            <td>1.</td>
                            <td>00:29:11</td>
                            <td>00:09:04</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>212</td>
                            <td>Tichá Karolína</td>
                            <td>Gymnázium Boskovice</td>
                            <td>PŘÍCHŽ</td>
                            <td>1.</td>
                            <td>00:30:18</td>
                            <td>00:10:11</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>211</td>
                            <td>Kejíková Jana</td>
                            <td>Gymbos</td>
                            <td>PŘÍCHŽ</td>
                            <td>2.</td>
                            <td>00:31:13</td>
                            <td>00:11:06</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>214</td>
                            <td>Hubert Michal</td>
                            <td>Horizont Blansko</td>
                            <td>PŘÍCHM</td>
                            <td>1.</td>
                            <td>00:32:14</td>
                            <td>00:12:07</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>213</td>
                            <td>Hubert Jaroslav</td>
                            <td>Horizont Blansko</td>
                            <td>PŘÍCHM</td>
                            <td>2.</td>
                            <td>00:33:11</td>
                            <td>00:13:04</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>203</td>
                            <td>Kubíček Jiří</td>
                            <td>Brno</td>
                            <td>PŘÍCHM</td>
                            <td>3.</td>
                            <td>00:34:45</td>
                            <td>00:14:38</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>204</td>
                            <td>Vojtíšková Kateřina</td>
                            <td>SC Testudo</td>
                            <td>PŘÍCHŽ</td>
                            <td>3.</td>
                            <td>00:42:03</td>
                            <td>00:21:56</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>34</td>
                            <td>Wagner Adam</td>
                            <td>Biatlon Vyškov</td>
                            <td>JŘI</td>
                            <td>9.</td>
                            <td>01:01:46</td>
                            <td>00:41:39</td>
                        </tr>
                    </table>

                    <h2>Mladší žáci - 1 350 M</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>D4</td>
                            <td>Štoudková Pavla</td>
                            <td>ASK Blansko</td>
                            <td>ŽKYM</td>
                            <td>1.</td>
                            <td>00:06:11</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>D26</td>
                            <td>Charvátová Tereza</td>
                            <td>Relax Fit Team</td>
                            <td>ŽKYM</td>
                            <td>2.</td>
                            <td>00:06:38</td>
                            <td>00:00:27</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>D36</td>
                            <td>Pohanka Martin</td>
                            <td>AC Moravská Slavie Brno</td>
                            <td>ŽCíM</td>
                            <td>1.</td>
                            <td>00:06:42</td>
                            <td>00:00:31</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>D3</td>
                            <td>Svoboda Lukáš</td>
                            <td></td>
                            <td>ŽCíM</td>
                            <td>2.</td>
                            <td>00:06:47</td>
                            <td>00:00:36</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>D20</td>
                            <td>Fritzová Aneta</td>
                            <td>Moravec TEAM Protivanov</td>
                            <td>ŽKYM</td>
                            <td>3.</td>
                            <td>00:06:52</td>
                            <td>00:00:41</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>D1</td>
                            <td>Souček Jan</td>
                            <td></td>
                            <td>ŽCíM</td>
                            <td>3.</td>
                            <td>00:07:02</td>
                            <td>00:00:51</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>D38</td>
                            <td>Vymazalová Adéla</td>
                            <td>Rájec - Jestřebí</td>
                            <td>ŽKYM</td>
                            <td>4.</td>
                            <td>00:07:17</td>
                            <td>00:01:06</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>D23</td>
                            <td>Pavlasová Alena</td>
                            <td>AC Track &amp; Field Brno</td>
                            <td>ŽKYM</td>
                            <td>5.</td>
                            <td>00:07:51</td>
                            <td>00:01:40</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>D18</td>
                            <td>Šebela Marek</td>
                            <td>OB Veselice</td>
                            <td>ŽCíM</td>
                            <td>4.</td>
                            <td>00:08:54</td>
                            <td>00:02:43</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>D10</td>
                            <td>Fabiánek Tomáš</td>
                            <td>OB Veselice</td>
                            <td>ŽCíM</td>
                            <td>5.</td>
                            <td>00:10:01</td>
                            <td>00:03:50</td>
                        </tr>
                    </table>

                    <h2>Starší žáci - 1 350 M</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>D2</td>
                            <td>Klíč David</td>
                            <td>ACT Lerak</td>
                            <td>ŽCíM</td>
                            <td>1.</td>
                            <td>00:06:44</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>D7</td>
                            <td>Husovská Andrea</td>
                            <td>Boskovice</td>
                            <td>ŽKYS</td>
                            <td>1.</td>
                            <td>00:06:44</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>D17</td>
                            <td>Přibyl Miroslav</td>
                            <td>OB Veselice</td>
                            <td>ŽCíM</td>
                            <td>2.</td>
                            <td>00:07:08</td>
                            <td>00:00:24</td>
                        </tr>
                    </table>

                    <h2>Svišti - 200 M</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>D25</td>
                            <td>Pijáková Tereza</td>
                            <td>VSK UNI</td>
                            <td>ŠTĚ</td>
                            <td>1.</td>
                            <td>00:01:16</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>D31</td>
                            <td>Křivánek Richard</td>
                            <td>Relax Fit Team</td>
                            <td>ŠTI</td>
                            <td>1.</td>
                            <td>00:01:18</td>
                            <td>00:00:02</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>D12</td>
                            <td>Jarůšek Štěpán</td>
                            <td>OB Veselice</td>
                            <td>ŠTI</td>
                            <td>2.</td>
                            <td>00:01:19</td>
                            <td>00:00:03</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>D5</td>
                            <td>Fojtů Tomáš</td>
                            <td></td>
                            <td>ŠTI</td>
                            <td>3.</td>
                            <td>00:01:21</td>
                            <td>00:00:05</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>D46</td>
                            <td>Kroupa Kryštof</td>
                            <td>AK Blansko Dvorská</td>
                            <td>ŠTI</td>
                            <td>4.</td>
                            <td>00:01:22</td>
                            <td>00:00:06</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>D32</td>
                            <td>Jančařík Tomáš</td>
                            <td>VSK Univerzita</td>
                            <td>ŠTI</td>
                            <td>5.</td>
                            <td>00:01:24</td>
                            <td>00:00:08</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>D16</td>
                            <td>Kovařík David</td>
                            <td>OB Veselice</td>
                            <td>ŠTI</td>
                            <td>6.</td>
                            <td>00:01:26</td>
                            <td>00:00:10</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>D6</td>
                            <td>Fojtů Klára</td>
                            <td></td>
                            <td>ŠTĚ</td>
                            <td>2.</td>
                            <td>00:01:27</td>
                            <td>00:00:11</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>D50</td>
                            <td>Škvařilová Stela</td>
                            <td>AK Blansko Dvorská</td>
                            <td>ŠTĚ</td>
                            <td>3.</td>
                            <td>00:01:27</td>
                            <td>00:00:11</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>D41</td>
                            <td>Kniesová Lucie</td>
                            <td>AK Blansko Dvorská</td>
                            <td>ŠTĚ</td>
                            <td>4.</td>
                            <td>00:01:33</td>
                            <td>00:00:17</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>D54</td>
                            <td>Daněk Štěpán</td>
                            <td>Moravská Svávie</td>
                            <td>ŠTI</td>
                            <td>7.</td>
                            <td>00:01:36</td>
                            <td>00:00:20</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>D33</td>
                            <td>Kala Martin</td>
                            <td>SK Skol Brno</td>
                            <td>ŠTI</td>
                            <td>8.</td>
                            <td>00:01:38</td>
                            <td>00:00:22</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>D52</td>
                            <td>Kovácsová Alžběta</td>
                            <td></td>
                            <td>ŠTĚ</td>
                            <td>5.</td>
                            <td>00:01:42</td>
                            <td>00:00:26</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>D21</td>
                            <td>Fritz Michal</td>
                            <td></td>
                            <td>ŠTI</td>
                            <td>9.</td>
                            <td>00:01:43</td>
                            <td>00:00:27</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>D24</td>
                            <td>Šťastná Anna</td>
                            <td>AC Track &amp; Field Brno</td>
                            <td>ŠTĚ</td>
                            <td>6.</td>
                            <td>00:01:44</td>
                            <td>00:00:28</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>D11</td>
                            <td>Andreas Adam</td>
                            <td>OB Veselice</td>
                            <td>ŠTI</td>
                            <td>10.</td>
                            <td>00:01:46</td>
                            <td>00:00:30</td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td>D27</td>
                            <td>Charvát Matyáš</td>
                            <td>Lhota Rapotina</td>
                            <td>ŠTI</td>
                            <td>11.</td>
                            <td>00:01:48</td>
                            <td>00:00:32</td>
                        </tr>
                        <tr>
                            <td>18.</td>
                            <td>D8</td>
                            <td>Jarůšek Kryštof</td>
                            <td>OB Veselice</td>
                            <td>ŠTI</td>
                            <td>12.</td>
                            <td>00:01:53</td>
                            <td>00:00:37</td>
                        </tr>
                        <tr>
                            <td>19.</td>
                            <td>D43</td>
                            <td>Vojtíšek Filip</td>
                            <td>SC Testudo</td>
                            <td>ŠTI</td>
                            <td>13.</td>
                            <td>00:01:54</td>
                            <td>00:00:38</td>
                        </tr>
                        <tr>
                            <td>20.</td>
                            <td>D44</td>
                            <td>Vojtíšková Valerie</td>
                            <td>SC Testudo</td>
                            <td>ŠTĚ</td>
                            <td>7.</td>
                            <td>00:01:54</td>
                            <td>00:00:38</td>
                        </tr>
                        <tr>
                            <td>21.</td>
                            <td>D35</td>
                            <td>Kučera Kryštov</td>
                            <td></td>
                            <td>ŠTI</td>
                            <td>14.</td>
                            <td>00:01:57</td>
                            <td>00:00:41</td>
                        </tr>
                    </table>

                    <h2>Svištící - 200 M</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>D34</td>
                            <td>Jančaříková Karolína</td>
                            <td>VSK Univerzita</td>
                            <td>ŠTÍCE</td>
                            <td>1.</td>
                            <td>00:01:36</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>D51</td>
                            <td>Škvařil Hynek</td>
                            <td></td>
                            <td>ŠTÍCI</td>
                            <td>1.</td>
                            <td>00:01:41</td>
                            <td>00:00:05</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>D14</td>
                            <td>Opustil Daniel</td>
                            <td>Veselice</td>
                            <td>ŠTÍCI</td>
                            <td>2.</td>
                            <td>00:01:42</td>
                            <td>00:00:06</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>D47</td>
                            <td>Kroupová Bára</td>
                            <td>AK Blansko Dvorská</td>
                            <td>ŠTÍCE</td>
                            <td>2.</td>
                            <td>00:01:46</td>
                            <td>00:00:10</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>D13</td>
                            <td>Opustil Adrian</td>
                            <td>OB Veselice</td>
                            <td>ŠTÍCI</td>
                            <td>3.</td>
                            <td>00:01:48</td>
                            <td>00:00:12</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>D42</td>
                            <td>Soldánová Julie</td>
                            <td></td>
                            <td>ŠTÍCE</td>
                            <td>3.</td>
                            <td>00:01:49</td>
                            <td>00:00:13</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>D19</td>
                            <td>Kovařík Daniel</td>
                            <td></td>
                            <td>ŠTÍCI</td>
                            <td>4.</td>
                            <td>00:02:01</td>
                            <td>00:00:25</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>D22</td>
                            <td>Fritzová Tereza</td>
                            <td></td>
                            <td>ŠTÍCE</td>
                            <td>4.</td>
                            <td>00:02:03</td>
                            <td>00:00:27</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>D49</td>
                            <td>Zeman Denis</td>
                            <td>Blansko</td>
                            <td>ŠTÍCI</td>
                            <td>5.</td>
                            <td>00:02:19</td>
                            <td>00:00:43</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>D40</td>
                            <td>Cihlář Jiří</td>
                            <td></td>
                            <td>ŠTÍCI</td>
                            <td>6.</td>
                            <td>00:02:32</td>
                            <td>00:00:56</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>D48</td>
                            <td>Ježek Ondřej</td>
                            <td></td>
                            <td>ŠTÍCI</td>
                            <td>7.</td>
                            <td>00:02:32</td>
                            <td>00:00:56</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>D28</td>
                            <td>Stolářová Barbora</td>
                            <td>Veselice</td>
                            <td>ŠTÍCE</td>
                            <td>5.</td>
                            <td>00:02:43</td>
                            <td>00:01:07</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>D37</td>
                            <td>Kalovská Deniska</td>
                            <td></td>
                            <td>ŠTÍCE</td>
                            <td>6.</td>
                            <td>00:02:43</td>
                            <td>00:01:07</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>D55</td>
                            <td>Ramša Jakub</td>
                            <td>Hostěnice</td>
                            <td>ŠTÍCI</td>
                            <td>8.</td>
                            <td>00:02:47</td>
                            <td>00:01:11</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>D29</td>
                            <td>Sotolář Adam</td>
                            <td>Veselice</td>
                            <td>ŠTÍCI</td>
                            <td>9.</td>
                            <td>00:03:26</td>
                            <td>00:01:50</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>D53</td>
                            <td>Weisová Amálie</td>
                            <td></td>
                            <td>ŠTÍCE</td>
                            <td>7.</td>
                            <td>00:03:27</td>
                            <td>00:01:51</td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td>D30</td>
                            <td>Skotáková Julie</td>
                            <td></td>
                            <td>ŠTÍCE</td>
                            <td>8.</td>
                            <td>00:03:44</td>
                            <td>00:02:08</td>
                        </tr>
                        <tr>
                            <td>18.</td>
                            <td>D45</td>
                            <td>Neoralová Rebeca</td>
                            <td></td>
                            <td>ŠTÍCE</td>
                            <td>9.</td>
                            <td>00:03:45</td>
                            <td>00:02:09</td>
                        </tr>
                    </table>
                </div>

                <a class="btn btn-primary toTop">
                    <span class="glyphicon glyphicon-chevron-up"></span>&nbsp;Nahoru
                </a>
                <a class="btn btn-warning" n:href="vysledky">
                    <span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Zpět na výsledky
                </a>
            </div>
        </div>

        <div class="row gallery-under more-photo">
            <div class="col-lg-12">
                <h3>Fotky ze závodu:</h3>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="{$basePath}/images/results/ze_zavodu_1.jpg" class="img-responsive"
                     alt="Fotka z průběhu závodu #1">
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="{$basePath}/images/results/ze_zavodu_2.jpg" class="img-responsive"
                     alt="Fotka z průběhu závodu #2">
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="{$basePath}/images/results/ze_zavodu_3.jpg" class="img-responsive"
                     alt="Fotka z průběhu závodu #3">
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="{$basePath}/images/results/ze_zavodu_4.jpg" class="img-responsive"
                     alt="Fotka z průběhu závodu #4">
            </div>
        </div>

    </div>
</div>


{include './footer.latte'}


</body>
{/block}
</html>