<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Výsledky závodu v roce 2019 | Lesempolem.cz</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block|strip}
{include './nav.latte', active => 'vysledky'}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Výsledky závodu v roce 2019</h1>
            <h2>10 km</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>101</td>
                        <td>Dvořák Pavel</td>
                        <td>Prostějov</td>
                        <td>M</td>
                        <td>1.</td>
                        <td> 00:36:27</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>1</td>
                        <td>Orálek Daniel</td>
                        <td>behejbrno.com/ Veselice</td>
                        <td>MV1</td>
                        <td>1.</td>
                        <td> 00:37:24</td>
                        <td>+ 57s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>104</td>
                        <td>Široký Stanislav</td>
                        <td>AK Blansko Dvorská</td>
                        <td>MV1</td>
                        <td>2.</td>
                        <td> 00:38:26</td>
                        <td>+ 1m 59s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>18</td>
                        <td>Klopec Aleš</td>
                        <td>Blansko</td>
                        <td>MV1</td>
                        <td>3.</td>
                        <td> 00:39:53</td>
                        <td>+ 3m 26s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>114</td>
                        <td>Konečný Aleš</td>
                        <td>Rudice</td>
                        <td>M</td>
                        <td>2.</td>
                        <td> 00:41:36</td>
                        <td>+ 5m 9s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>98</td>
                        <td>Jančík Tomáš</td>
                        <td>Elite Sport Boskovice</td>
                        <td>MV1</td>
                        <td>4.</td>
                        <td> 00:42:02</td>
                        <td>+ 5m 35s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>116</td>
                        <td>Krška Michal</td>
                        <td>Turistický klub Blansko</td>
                        <td>M</td>
                        <td>3.</td>
                        <td> 00:43:29</td>
                        <td>+ 7m 2s</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>69</td>
                        <td>Toman Igor</td>
                        <td>Vyškov</td>
                        <td>MV1</td>
                        <td>5.</td>
                        <td> 00:43:33</td>
                        <td>+ 7m 6s</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>120</td>
                        <td>Buš Ondřej</td>
                        <td>Ráječko</td>
                        <td>M</td>
                        <td>4.</td>
                        <td> 00:44:00</td>
                        <td>+ 7m 33s</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>32</td>
                        <td>Jančaříková Lenka</td>
                        <td>AAC Brno</td>
                        <td>ŽV1</td>
                        <td>1.</td>
                        <td> 00:44:12</td>
                        <td>+ 7m 45s</td>
                    </tr>
                    <tr>
                        <td>11.</td>
                        <td>43</td>
                        <td>Sotolář Stanislav</td>
                        <td>Veselice</td>
                        <td>MV1</td>
                        <td>6.</td>
                        <td> 00:44:18</td>
                        <td>+ 7m 51s</td>
                    </tr>
                    <tr>
                        <td>12.</td>
                        <td>107</td>
                        <td>Goldschmidt Roman</td>
                        <td>SK Mor. Krumlov</td>
                        <td>MV1</td>
                        <td>7.</td>
                        <td> 00:44:29</td>
                        <td>+ 8m 2s</td>
                    </tr>
                    <tr>
                        <td>13.</td>
                        <td>38</td>
                        <td>Fabiánek Jan</td>
                        <td>Norci Veselice</td>
                        <td>M</td>
                        <td>5.</td>
                        <td> 00:45:21</td>
                        <td>+ 8m 54s</td>
                    </tr>
                    <tr>
                        <td>14.</td>
                        <td>109</td>
                        <td>Kinc Pavel</td>
                        <td>VF Sport Team Černá Hora</td>
                        <td>MV1</td>
                        <td>8.</td>
                        <td> 00:45:23</td>
                        <td>+ 8m 56s</td>
                    </tr>
                    <tr>
                        <td>15.</td>
                        <td>19</td>
                        <td>Jančařík Petr</td>
                        <td>AAC Brno</td>
                        <td>MV2</td>
                        <td>1.</td>
                        <td> 00:45:43</td>
                        <td>+ 9m 16s</td>
                    </tr>
                    <tr>
                        <td>16.</td>
                        <td>21</td>
                        <td>Daniel Petr</td>
                        <td>Start Brno</td>
                        <td>MV1</td>
                        <td>9.</td>
                        <td> 00:45:52</td>
                        <td>+ 9m 25s</td>
                    </tr>
                    <tr>
                        <td>17.</td>
                        <td>15</td>
                        <td>Horský Radek</td>
                        <td>OB Veselice/Vavřinec</td>
                        <td>MV1</td>
                        <td>10.</td>
                        <td> 00:45:57</td>
                        <td>+ 9m 30s</td>
                    </tr>
                    <tr>
                        <td>18.</td>
                        <td>14</td>
                        <td>Fiala Ondřej</td>
                        <td>Boskovice</td>
                        <td>M</td>
                        <td>6.</td>
                        <td> 00:46:20</td>
                        <td>+ 9m 53s</td>
                    </tr>
                    <tr>
                        <td>19.</td>
                        <td>5</td>
                        <td>Zemánek Miroslav</td>
                        <td>Bořitov</td>
                        <td>MV1</td>
                        <td>11.</td>
                        <td> 00:46:27</td>
                        <td>+ 10m</td>
                    </tr>
                    <tr>
                        <td>20.</td>
                        <td>96</td>
                        <td>Zouhar Libor</td>
                        <td>Brno Líšeň</td>
                        <td>MV3</td>
                        <td>1.</td>
                        <td> 00:47:05</td>
                        <td>+ 10m 38s</td>
                    </tr>
                    <tr>
                        <td>21.</td>
                        <td>53</td>
                        <td>Martínek Jan</td>
                        <td>Sport Club Ráječko</td>
                        <td>MV1</td>
                        <td>12.</td>
                        <td> 00:47:53</td>
                        <td>+ 11m 26s</td>
                    </tr>
                    <tr>
                        <td>22.</td>
                        <td>100</td>
                        <td>Grün Gustav</td>
                        <td>AC Okrouhlá</td>
                        <td>MV2</td>
                        <td>2.</td>
                        <td> 00:48:22</td>
                        <td>+ 11m 55s</td>
                    </tr>
                    <tr>
                        <td>23.</td>
                        <td>110</td>
                        <td>Kakáčová Jana</td>
                        <td>Elite Sport Team Blansko</td>
                        <td>ŽV1</td>
                        <td>2.</td>
                        <td> 00:48:28</td>
                        <td>+ 12m 1s</td>
                    </tr>
                    <tr>
                        <td>24.</td>
                        <td>17</td>
                        <td>Pícha Slávek</td>
                        <td>Blansko</td>
                        <td>M</td>
                        <td>7.</td>
                        <td> 00:48:38</td>
                        <td>+ 12m 11s</td>
                    </tr>
                    <tr>
                        <td>25.</td>
                        <td>36</td>
                        <td>Fabiánek Filip</td>
                        <td>OB Veselice</td>
                        <td>M</td>
                        <td>8.</td>
                        <td> 00:50:06</td>
                        <td>+ 13m 39s</td>
                    </tr>
                    <tr>
                        <td>26.</td>
                        <td>115</td>
                        <td>Rybář Pavel</td>
                        <td>Suchdol</td>
                        <td>M</td>
                        <td>9.</td>
                        <td> 00:50:06</td>
                        <td>+ 13m 39s</td>
                    </tr>
                    <tr>
                        <td>27.</td>
                        <td>16</td>
                        <td>Zoubek Karel</td>
                        <td>Vanovice</td>
                        <td>MV2</td>
                        <td>3.</td>
                        <td> 00:50:18</td>
                        <td>+ 13m 51s</td>
                    </tr>
                    <tr>
                        <td>28.</td>
                        <td>111</td>
                        <td>Odehnal Tomáš</td>
                        <td>Boskovice</td>
                        <td>MV2</td>
                        <td>4.</td>
                        <td> 00:50:32</td>
                        <td>+ 14m 5s</td>
                    </tr>
                    <tr>
                        <td>29.</td>
                        <td>118</td>
                        <td>Jurová Barbora</td>
                        <td>Blansko</td>
                        <td>Ž</td>
                        <td>1.</td>
                        <td> 00:50:48</td>
                        <td>+ 14m 21s</td>
                    </tr>
                    <tr>
                        <td>30.</td>
                        <td>95</td>
                        <td>Zouhar Libor</td>
                        <td>Brno - Líšeň</td>
                        <td>M</td>
                        <td>10.</td>
                        <td> 00:51:45</td>
                        <td>+ 15m 18s</td>
                    </tr>
                    <tr>
                        <td>31.</td>
                        <td>30</td>
                        <td>Kuchařová Táňa</td>
                        <td>PERUN TEAM BLANSKO</td>
                        <td>ŽV1</td>
                        <td>3.</td>
                        <td> 00:54:10</td>
                        <td>+ 17m 43s</td>
                    </tr>
                    <tr>
                        <td>32.</td>
                        <td>93</td>
                        <td>Müller Pavel</td>
                        <td>Blansko</td>
                        <td>MV1</td>
                        <td>13.</td>
                        <td> 00:56:41</td>
                        <td>+ 20m 14s</td>
                    </tr>
                    <tr>
                        <td>33.</td>
                        <td>119</td>
                        <td>Pernica Josef</td>
                        <td>SDH Kotvrdovice</td>
                        <td>M</td>
                        <td>11.</td>
                        <td> 00:56:48</td>
                        <td>+ 20m 21s</td>
                    </tr>
                    <tr>
                        <td>34.</td>
                        <td>84</td>
                        <td>Hebelka Jan</td>
                        <td>Vícebojaři Blansko</td>
                        <td>M</td>
                        <td>12.</td>
                        <td> 00:57:40</td>
                        <td>+ 21m 13s</td>
                    </tr>
                    <tr>
                        <td>35.</td>
                        <td>122</td>
                        <td>Včela Olin</td>
                        <td></td>
                        <td>MV3</td>
                        <td>2.</td>
                        <td> 00:57:55</td>
                        <td>+ 21m 28s</td>
                    </tr>
                    <tr>
                        <td>36.</td>
                        <td>34</td>
                        <td>Blažková Hana</td>
                        <td>Kotržina</td>
                        <td>ŽV2</td>
                        <td>1.</td>
                        <td> 00:57:55</td>
                        <td>+ 21m 28s</td>
                    </tr>
                    <tr>
                        <td>37.</td>
                        <td>66</td>
                        <td>Tomanová Lenka</td>
                        <td>Orel Vyškov</td>
                        <td>ŽV1</td>
                        <td>4.</td>
                        <td> 00:58:03</td>
                        <td>+ 21m 36s</td>
                    </tr>
                    <tr>
                        <td>38.</td>
                        <td>123</td>
                        <td>Plachá Andrea</td>
                        <td>Prostějov</td>
                        <td>ŽV1</td>
                        <td>5.</td>
                        <td> 00:58:32</td>
                        <td>+ 22m 5s</td>
                    </tr>
                    <tr>
                        <td>39.</td>
                        <td>191</td>
                        <td>Plachý Martin</td>
                        <td>Maratonský klub Prostějov</td>
                        <td>MV2</td>
                        <td>5.</td>
                        <td> 00:58:32</td>
                        <td>+ 22m 5s</td>
                    </tr>
                    <tr>
                        <td>40.</td>
                        <td>112</td>
                        <td>Malinký Ondřej</td>
                        <td>Plzeň</td>
                        <td>M</td>
                        <td>13.</td>
                        <td> 00:59:10</td>
                        <td>+ 22m 43s</td>
                    </tr>
                    <tr>
                        <td>41.</td>
                        <td>113</td>
                        <td>Kadrmas Ivo</td>
                        <td>Blansko</td>
                        <td>MV1</td>
                        <td>14.</td>
                        <td> 01:00:18</td>
                        <td>+ 23m 51s</td>
                    </tr>
                    <tr>
                        <td>42.</td>
                        <td>99</td>
                        <td>Přikryl Aleš</td>
                        <td>KST Blansko</td>
                        <td>MV1</td>
                        <td>15.</td>
                        <td> 01:00:18</td>
                        <td>+ 23m 51s</td>
                    </tr>
                    <tr>
                        <td>43.</td>
                        <td>121</td>
                        <td>Buš Roman</td>
                        <td>Rájec</td>
                        <td>MV2</td>
                        <td>6.</td>
                        <td> 01:00:50</td>
                        <td>+ 24m 23s</td>
                    </tr>
                    <tr>
                        <td>44.</td>
                        <td>4</td>
                        <td>Bouzek Tomáš</td>
                        <td>Mohelno</td>
                        <td>M</td>
                        <td>14.</td>
                        <td> 01:00:55</td>
                        <td>+ 24m 28s</td>
                    </tr>
                    <tr>
                        <td>45.</td>
                        <td>108</td>
                        <td>Medek Jiří</td>
                        <td>Černá Hora</td>
                        <td>MV1</td>
                        <td>16.</td>
                        <td> 01:02:35</td>
                        <td>+ 26m 8s</td>
                    </tr>
                    <tr>
                        <td>46.</td>
                        <td>2</td>
                        <td>Kobéda Lubomír</td>
                        <td>Holubice</td>
                        <td>MV1</td>
                        <td>17.</td>
                        <td> 01:03:37</td>
                        <td>+ 27m 10s</td>
                    </tr>
                    <tr>
                        <td>47.</td>
                        <td>103</td>
                        <td>Vejdělková Iva</td>
                        <td>Bystré</td>
                        <td>ŽV2</td>
                        <td>2.</td>
                        <td> 01:05:34</td>
                        <td>+ 29m 7s</td>
                    </tr>
                    <tr>
                        <td>48.</td>
                        <td>106</td>
                        <td>Klepalová Lenka</td>
                        <td>PERUN TEAM BLANSKO</td>
                        <td>ŽV2</td>
                        <td>3.</td>
                        <td> 01:07:47</td>
                        <td>+ 31m 20s</td>
                    </tr>
                    <tr>
                        <td>49.</td>
                        <td>105</td>
                        <td>Klepal Petr</td>
                        <td>PERUN TEAM BLANSKO</td>
                        <td>MV2</td>
                        <td>7.</td>
                        <td> 01:07:48</td>
                        <td>+ 31m 21s</td>
                    </tr>
                    <tr>
                        <td>50.</td>
                        <td>25</td>
                        <td>Žižlavská Renata</td>
                        <td>Stará Kotržina</td>
                        <td>ŽV2</td>
                        <td>4.</td>
                        <td> 01:13:22</td>
                        <td>+ 36m 55s</td>
                    </tr>
                    <tr>
                        <td>51.</td>
                        <td>83</td>
                        <td>Podmelová Vilma</td>
                        <td>Čau</td>
                        <td>ŽV2</td>
                        <td>5.</td>
                        <td> 01:19:13</td>
                        <td>+ 42m 46s</td>
                    </tr>
                    <tr>
                        <td>52.</td>
                        <td>117</td>
                        <td>Růžička Bohuslav</td>
                        <td>SC Ráječko</td>
                        <td>MV3</td>
                        <td>3.</td>
                        <td> 01:23:38</td>
                        <td>+ 47m 11s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>102</td>
                        <td>Grünová Ivana</td>
                        <td>AC Okrouhlá</td>
                        <td>ŽV1</td>
                        <td></td>
                        <td> DNF</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>7</td>
                        <td>Jonášek Zdeněk</td>
                        <td>Tlumačov</td>
                        <td>M</td>
                        <td></td>
                        <td> DNS</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>9</td>
                        <td>Kubínek Pavel</td>
                        <td>Blansko</td>
                        <td>MV1</td>
                        <td></td>
                        <td> DNS</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>3</td>
                        <td>Ondráček Roman</td>
                        <td>Boskovice</td>
                        <td>M</td>
                        <td></td>
                        <td> DNS</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>10</td>
                        <td>Loukota Tomáš</td>
                        <td>Rozběháme Letovice</td>
                        <td>MV1</td>
                        <td></td>
                        <td> DNS</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>23</td>
                        <td>Bouzková Romana</td>
                        <td>Brno</td>
                        <td>Ž</td>
                        <td></td>
                        <td> DNS</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>5 km</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>68</td>
                        <td>Vašíčková Ivana</td>
                        <td></td>
                        <td>P</td>
                        <td>1.</td>
                        <td> 00:32:18</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>88</td>
                        <td>Plachý Ondřej</td>
                        <td>Maratonský klub Prostějov</td>
                        <td>J</td>
                        <td>1.</td>
                        <td> 00:32:39</td>
                        <td>+ 21s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>78</td>
                        <td>Vymazalová Adéla</td>
                        <td>Elite sport Boskovice</td>
                        <td>Jky</td>
                        <td>1.</td>
                        <td> 00:33:48</td>
                        <td>+ 1m 30s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>87</td>
                        <td>Plachá Aneta</td>
                        <td>Maratonský klub Prostějov</td>
                        <td>Jky</td>
                        <td>2.</td>
                        <td> 00:34:17</td>
                        <td>+ 1m 59s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>92</td>
                        <td>Plachá Andrea</td>
                        <td>Prostějov</td>
                        <td>P</td>
                        <td>2.</td>
                        <td> 00:34:19</td>
                        <td>+ 2m 1s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>91</td>
                        <td>Plachý Martin</td>
                        <td>Maratonský klub Prostějov</td>
                        <td>P</td>
                        <td>1.</td>
                        <td> 00:34:20</td>
                        <td>+ 2m 2s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>89</td>
                        <td>Hebelková Hana</td>
                        <td>Vícebojaři Blansko</td>
                        <td>P</td>
                        <td>3.</td>
                        <td> 00:38:36</td>
                        <td>+ 6m 18s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>20</td>
                        <td>Fučík Kryštof Otto</td>
                        <td>XSports</td>
                        <td>J</td>
                        <td></td>
                        <td> DNS</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Žáci</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>82</td>
                        <td>Charvát Matyáš</td>
                        <td>Elite Sport Boskovice</td>
                        <td>ŽciS</td>
                        <td>1.</td>
                        <td> 00:06:01</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>11</td>
                        <td>Šafránek Jáchym</td>
                        <td>Elite Sport Boskovice / Doubravice</td>
                        <td>ŽciM</td>
                        <td>1.</td>
                        <td> 00:06:10</td>
                        <td>+ 9s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>80</td>
                        <td>Křížová Viktorie</td>
                        <td>Elite Sport Boskovice</td>
                        <td>ŽkyM</td>
                        <td>1.</td>
                        <td> 00:06:26</td>
                        <td>+ 25s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>8</td>
                        <td>Ellinger Denis</td>
                        <td>ASK Blansko</td>
                        <td>ŽciM</td>
                        <td>2.</td>
                        <td> 00:06:39</td>
                        <td>+ 38s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>45</td>
                        <td>Zavřelová Adéla</td>
                        <td>ZŠ Sloup</td>
                        <td>ŽkyM</td>
                        <td>2.</td>
                        <td> 00:06:42</td>
                        <td>+ 41s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>79</td>
                        <td>Dobrovská Lucie</td>
                        <td>ASK Blansko</td>
                        <td>ŽkyM</td>
                        <td>3.</td>
                        <td> 00:06:48</td>
                        <td>+ 47s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>97</td>
                        <td>Worbis Radim</td>
                        <td>Kotvrdovice, Kotvrdovice</td>
                        <td>ŽciM</td>
                        <td>3.</td>
                        <td> 00:06:49</td>
                        <td>+ 48s</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>22</td>
                        <td>Horák Luboš</td>
                        <td>Elite Sport Boskovice/ Okrouhlá</td>
                        <td>ŽciM</td>
                        <td>4.</td>
                        <td> 00:07:11</td>
                        <td>+ 1m 10s</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>81</td>
                        <td>Jandáková Leona</td>
                        <td>ASK Blansko</td>
                        <td>ŽkyM</td>
                        <td>4.</td>
                        <td> 00:07:25</td>
                        <td>+ 1m 24s</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>94</td>
                        <td>Müller Lukáš</td>
                        <td>Blansko</td>
                        <td>ŽciM</td>
                        <td>5.</td>
                        <td> 00:08:14</td>
                        <td>+ 2m 13s</td>
                    </tr>
                    <tr>
                        <td>11.</td>
                        <td>90</td>
                        <td>Plachý Matyáš</td>
                        <td>Maratonský klub Prostějov</td>
                        <td>ŽciM</td>
                        <td>6.</td>
                        <td> 00:10:41</td>
                        <td>+ 4m 40s</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>26</td>
                        <td>Kniesová Lucie</td>
                        <td>ASK Blansko</td>
                        <td>ŽkyM</td>
                        <td></td>
                        <td> DNS</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Přípravka holky</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>35</td>
                        <td>Králová Ema</td>
                        <td>AK Blansko Dvorská</td>
                        <td>PříD</td>
                        <td>1.</td>
                        <td> 00:02:01</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>33</td>
                        <td>Jančaříková Karolína</td>
                        <td>VSK-Uni Brno</td>
                        <td>PříD</td>
                        <td>2.</td>
                        <td> 00:02:02</td>
                        <td>+ 1s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>31</td>
                        <td>Meluzínová Nela</td>
                        <td>Elite sport Boskovice</td>
                        <td>PříD</td>
                        <td>3.</td>
                        <td> 00:02:03</td>
                        <td>+ 2s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>24</td>
                        <td>Krejčí Barbora</td>
                        <td>Elite Sport Boskovice</td>
                        <td>PříD</td>
                        <td>4.</td>
                        <td> 00:02:03</td>
                        <td>+ 2s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>74</td>
                        <td>Jurová Anna</td>
                        <td>Sulíkov / Elite Sport Boskovice</td>
                        <td>PříD</td>
                        <td>5.</td>
                        <td> 00:02:19</td>
                        <td>+ 18s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>29</td>
                        <td>Husáková Jolana</td>
                        <td>ACT leraK Blansko</td>
                        <td>PříD</td>
                        <td>6.</td>
                        <td> 00:02:21</td>
                        <td>+ 20s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>41</td>
                        <td>Sotolářová Barbora</td>
                        <td></td>
                        <td>PříD</td>
                        <td>7.</td>
                        <td> 00:02:43</td>
                        <td>+ 42s</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>73</td>
                        <td>Juračková Karolína</td>
                        <td>AK Blansko Dvorská</td>
                        <td>PříD</td>
                        <td>8.</td>
                        <td> 00:02:47</td>
                        <td>+ 46s</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>70</td>
                        <td>Poláková Karolína</td>
                        <td>Němčice</td>
                        <td>PříD</td>
                        <td>9.</td>
                        <td> 00:02:56</td>
                        <td>+ 55s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Přípravka kluci</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>6</td>
                        <td>Dostál Dominik</td>
                        <td>Elite Sport Boskovice</td>
                        <td>PříCh</td>
                        <td>1.</td>
                        <td> 00:02:08</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>12</td>
                        <td>Korgo Vojtěch</td>
                        <td>Atletický oddíl Jan Kohut Blansko</td>
                        <td>PříCh</td>
                        <td>2.</td>
                        <td> 00:02:12</td>
                        <td>+ 4s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>71</td>
                        <td>Sotolář Jiří</td>
                        <td>Němčice</td>
                        <td>PříCh</td>
                        <td>3.</td>
                        <td> 00:02:13</td>
                        <td>+ 5s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>55</td>
                        <td>Šváb Adrian</td>
                        <td></td>
                        <td>PříCh</td>
                        <td>4.</td>
                        <td> 00:02:18</td>
                        <td>+ 10s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>46</td>
                        <td>Zavřel Jiří</td>
                        <td>Elite sport Boskovice</td>
                        <td>PříCh</td>
                        <td>5.</td>
                        <td> 00:02:31</td>
                        <td>+ 23s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Svišti holky</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>72</td>
                        <td>Sotolářová Alena</td>
                        <td>Němčice</td>
                        <td>STIh</td>
                        <td>1.</td>
                        <td> 00:00:35</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>63</td>
                        <td>Maja Tomanová</td>
                        <td>Orel Vyškov</td>
                        <td>STIh</td>
                        <td>2.</td>
                        <td> 00:00:37</td>
                        <td>+ 2s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>59</td>
                        <td>Přikrylová Adéla</td>
                        <td>Jan Kohut</td>
                        <td>STIh</td>
                        <td>3.</td>
                        <td> 00:00:38</td>
                        <td>+ 3s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>28</td>
                        <td>Horská Nikol</td>
                        <td>OB Veselice/Vavřinec</td>
                        <td>STIh</td>
                        <td>4.</td>
                        <td> 00:00:38</td>
                        <td>+ 3s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>27</td>
                        <td>Šafránková Anna</td>
                        <td>Elite Sport Boskovice / Doubravice</td>
                        <td>STIh</td>
                        <td>5.</td>
                        <td> 00:00:39</td>
                        <td>+ 4s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>56</td>
                        <td>Elen Weinhöferová</td>
                        <td>Ak Blansko Dvorská</td>
                        <td>STIh</td>
                        <td>6.</td>
                        <td> 00:00:41</td>
                        <td>+ 6s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Svišti kluci</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>49</td>
                        <td>Kovařík Daniel</td>
                        <td></td>
                        <td>STIk</td>
                        <td>1.</td>
                        <td> 00:00:34</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>60</td>
                        <td>Přikryl Lukáš</td>
                        <td>Jan Kohut</td>
                        <td>STIk</td>
                        <td>2.</td>
                        <td> 00:00:36</td>
                        <td>+ 2s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>48</td>
                        <td>Martinek Tomáš</td>
                        <td></td>
                        <td>STIk</td>
                        <td>3.</td>
                        <td> 00:00:37</td>
                        <td>+ 3s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>64</td>
                        <td>Bubík Filip</td>
                        <td></td>
                        <td>STIk</td>
                        <td>4.</td>
                        <td> 00:00:37</td>
                        <td>+ 3s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>13</td>
                        <td>Korgo Matouš</td>
                        <td>Atletický oddíl Jan Kohut Blansko</td>
                        <td>STIk</td>
                        <td>5.</td>
                        <td> 00:00:39</td>
                        <td>+ 5s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>65</td>
                        <td>Kalaš David</td>
                        <td></td>
                        <td>STIk</td>
                        <td>6.</td>
                        <td> 00:00:41</td>
                        <td>+ 7s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>40</td>
                        <td>Sotolář Adam</td>
                        <td></td>
                        <td>STIk</td>
                        <td>7.</td>
                        <td> 00:00:41</td>
                        <td>+ 7s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Svištíci holky</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>39</td>
                        <td>Sedláčková Martina</td>
                        <td>AK Blansko Dvorská</td>
                        <td>SVCh</td>
                        <td>1.</td>
                        <td> 00:00:39</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>37</td>
                        <td>Vybíhalová Denisa</td>
                        <td>OB Veselice</td>
                        <td>SVCh</td>
                        <td>2.</td>
                        <td> 00:00:40</td>
                        <td>+ 1s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>50</td>
                        <td>Kovaříková Anita</td>
                        <td></td>
                        <td>SVCh</td>
                        <td>3.</td>
                        <td> 00:00:42</td>
                        <td>+ 3s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>57</td>
                        <td>Adéla Weinhöferová</td>
                        <td>Ak Blansko Dvorská</td>
                        <td>SVCh</td>
                        <td>4.</td>
                        <td> 00:00:42</td>
                        <td>+ 3s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>58</td>
                        <td>Jindrová Ela</td>
                        <td>Jan Kohut</td>
                        <td>SVCh</td>
                        <td>5.</td>
                        <td> 00:00:50</td>
                        <td>+ 11s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>42</td>
                        <td>Opustilová Patricie</td>
                        <td></td>
                        <td>SVCh</td>
                        <td>6.</td>
                        <td> 00:00:51</td>
                        <td>+ 12s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>85</td>
                        <td>Pšikalova Aneta</td>
                        <td></td>
                        <td>SVCh</td>
                        <td>7.</td>
                        <td> 00:01:05</td>
                        <td>+ 26s</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>77</td>
                        <td>Králová Barunka</td>
                        <td>Blansko</td>
                        <td>SVCh</td>
                        <td>8.</td>
                        <td> 00:01:07</td>
                        <td>+ 28s</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>62</td>
                        <td>Novotná Bětka</td>
                        <td></td>
                        <td>SVCh</td>
                        <td>9.</td>
                        <td> 00:01:21</td>
                        <td>+ 42s</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>86</td>
                        <td>Pšikalova Kirstýna</td>
                        <td></td>
                        <td>SVCh</td>
                        <td>10.</td>
                        <td> 00:01:34</td>
                        <td>+ 55s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Svištíci kluci</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Příjmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>51</td>
                        <td>Bernard Šimon</td>
                        <td>Boskovice</td>
                        <td>SVCk</td>
                        <td>1.</td>
                        <td> 00:00:35</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>47</td>
                        <td>Martinek Lukáš</td>
                        <td></td>
                        <td>SVCk</td>
                        <td>2.</td>
                        <td> 00:00:36</td>
                        <td>+ 1s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>75</td>
                        <td>Szábo Martin</td>
                        <td>Bratislava</td>
                        <td>SVCk</td>
                        <td>3.</td>
                        <td> 00:00:42</td>
                        <td>+ 7s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>54</td>
                        <td>Šváb Sebastian</td>
                        <td></td>
                        <td>SVCk</td>
                        <td>4.</td>
                        <td> 00:00:42</td>
                        <td>+ 7s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>76</td>
                        <td>Křivánek Michael</td>
                        <td>Petrovice</td>
                        <td>SVCk</td>
                        <td>5.</td>
                        <td> 00:00:47</td>
                        <td>+ 12s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>61</td>
                        <td>Přikryl Jan</td>
                        <td>Jan Kohut</td>
                        <td>SVCk</td>
                        <td>6.</td>
                        <td> 00:00:50</td>
                        <td>+ 15s</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>52</td>
                        <td>Bernard Denis</td>
                        <td></td>
                        <td>SVCk</td>
                        <td>7.</td>
                        <td> 00:00:58</td>
                        <td>+ 23s</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>67</td>
                        <td>Daniel Florián</td>
                        <td>Blansko</td>
                        <td>SVCk</td>
                        <td>8.</td>
                        <td> 00:01:15</td>
                        <td>+ 40s</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>44</td>
                        <td>Hebelka Tomáš</td>
                        <td></td>
                        <td>SVCk</td>
                        <td>9.</td>
                        <td> 00:01:21</td>
                        <td>+ 46s</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a class="btn btn-primary toTop">
                <span class="glyphicon glyphicon-chevron-up"></span>&nbsp;Nahoru
            </a>
            <a class="btn btn-warning" n:href="vysledky">
                <span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Zpět na výsledky
            </a>
        </div>
    </div>

</div>


{include './footer.latte'}


</body>
{/block}
</html>