<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Výsledky | Lesempolem.cz</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block|strip}
{include './nav.latte', active => 'vysledky'}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Výsledky závodů Lesempolem</h1>
        </div>

        <div class="col-md-6">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-success">
                    <strong>Rekord trati:</strong>
                    Dvořák Pavel - 36:27 v roce 2019
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-3">
            <a class="btn btn-success btn-result" n:href="vysledky2013">Výsledky 2013</a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-success btn-result" n:href="vysledky2014">Výsledky 2014</a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-success btn-result" n:href="vysledky2015">Výsledky 2015</a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-success btn-result" n:href="vysledky2016">Výsledky 2016</a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-success btn-result" n:href="vysledky2017">Výsledky 2017</a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-success btn-result" n:href="vysledky2018">Výsledky 2018</a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-success btn-result" n:href="vysledky2019">Výsledky 2019</a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-success btn-result" n:href="vysledky2021">Výsledky 2021</a>
        </div>

        <div n:if="$showOnline" class="col-md-3">
            <a class="btn btn-danger btn-result btn-last-result" n:href="live">Výsledky 2019</a>
        </div>

    </div>
</div>


{include './footer.latte'}


</body>
{/block}
</html>