<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Výsledky závodu v roce 2017 | Lesempolem.cz</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block|strip}
{include './nav.latte', active => 'vysledky'}
<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Výsledky závodu v roce 2017</h1>

            <div class="vysledky">

                <h2>10 km</h2>
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>Poř.</th>
                        <th>S. číslo</th>
                        <th>Přijmení, Jméno</th>
                        <th>Oddíl/město</th>
                        <th>Kat.</th>
                        <th>Poř.<br>kat.</th>
                        <th>Čas</th>
                        <th>Ztráta</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>31</td>
                        <td>Rubič Daniel</td>
                        <td>New Balance Team</td>
                        <td>M</td>
                        <td>1.</td>
                        <td>00:38:05</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>11</td>
                        <td>Široký Stanislav</td>
                        <td>Blansko</td>
                        <td>MV1</td>
                        <td>1.</td>
                        <td>00:39:15</td>
                        <td>+ 1m 10s</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>27</td>
                        <td>Grün Vojtěch</td>
                        <td>Elite Sport Boskovice</td>
                        <td>M</td>
                        <td>2.</td>
                        <td>00:40:09</td>
                        <td>+ 2m 4s</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>81</td>
                        <td>Čapek Honza</td>
                        <td>TJ SOKOL VALEČ</td>
                        <td>M</td>
                        <td>3.</td>
                        <td>00:40:23</td>
                        <td>+ 2m 18s</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>21</td>
                        <td>Koudelka Lukáš</td>
                        <td>AC Okrouhlá/AK Drnovice</td>
                        <td>M</td>
                        <td>4.</td>
                        <td>00:40:45</td>
                        <td>+ 2m 40s</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>18</td>
                        <td>Jančík Tomáš</td>
                        <td>Elite Sport Boskovice</td>
                        <td>MV1</td>
                        <td>2.</td>
                        <td>00:41:05</td>
                        <td>+ 3m</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>35</td>
                        <td>Ryška Vít</td>
                        <td>VSK Uni Brno</td>
                        <td>MV1</td>
                        <td>3.</td>
                        <td>00:42:02</td>
                        <td>+ 3m 57s</td>
                    </tr>
                    <tr>
                        <td>8.</td>
                        <td>19</td>
                        <td>Bejček Patrik</td>
                        <td>Ostrov u Macochy/AK Drnovice</td>
                        <td>M</td>
                        <td>5.</td>
                        <td>00:42:07</td>
                        <td>+ 4m 2s</td>
                    </tr>
                    <tr>
                        <td>9.</td>
                        <td>79</td>
                        <td>Kovanda Rudy</td>
                        <td>Brno</td>
                        <td>M</td>
                        <td>6.</td>
                        <td>00:42:32</td>
                        <td>+ 4m 27s</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>26</td>
                        <td>Grün Gustav</td>
                        <td>AC Okrouhlá</td>
                        <td>MV1</td>
                        <td>4.</td>
                        <td>00:42:46</td>
                        <td>+ 4m 41s</td>
                    </tr>
                    <tr>
                        <td>11.</td>
                        <td>46</td>
                        <td>Puklová Patrícia</td>
                        <td>Run &amp; Mum</td>
                        <td>Ž</td>
                        <td>1.</td>
                        <td>00:43:01</td>
                        <td>+ 4m 56s</td>
                    </tr>
                    <tr>
                        <td>12.</td>
                        <td>24</td>
                        <td>Huťka Jiří</td>
                        <td>Bořitov/Brno</td>
                        <td>M</td>
                        <td>7.</td>
                        <td>00:43:25</td>
                        <td>+ 5m 20s</td>
                    </tr>
                    <tr>
                        <td>13.</td>
                        <td>43</td>
                        <td>Šimunek Martin</td>
                        <td>Botanka Runing/Modřice</td>
                        <td>MV2</td>
                        <td>1.</td>
                        <td>00:43:47</td>
                        <td>+ 5m 42s</td>
                    </tr>
                    <tr>
                        <td>14.</td>
                        <td>37</td>
                        <td>Hromek Petr</td>
                        <td>AK Drnovice</td>
                        <td>M</td>
                        <td>8.</td>
                        <td>00:44:08</td>
                        <td>+ 6m 3s</td>
                    </tr>
                    <tr>
                        <td>15.</td>
                        <td>64</td>
                        <td>Buš Ondřej</td>
                        <td>Ráječko</td>
                        <td>M</td>
                        <td>9.</td>
                        <td>00:44:20</td>
                        <td>+ 6m 15s</td>
                    </tr>
                    <tr>
                        <td>16.</td>
                        <td>78</td>
                        <td>Bachratý Pavel</td>
                        <td>Blansko</td>
                        <td>MV2</td>
                        <td>2.</td>
                        <td>00:44:24</td>
                        <td>+ 6m 19s</td>
                    </tr>
                    <tr>
                        <td>17.</td>
                        <td>75</td>
                        <td>Jágr Ondřej</td>
                        <td>Brno</td>
                        <td>M</td>
                        <td>10.</td>
                        <td>00:44:33</td>
                        <td>+ 6m 28s</td>
                    </tr>
                    <tr>
                        <td>18.</td>
                        <td>55</td>
                        <td>Haresta Petr</td>
                        <td>VF Sport Team</td>
                        <td>M</td>
                        <td>11.</td>
                        <td>00:45:03</td>
                        <td>+ 6m 58s</td>
                    </tr>
                    <tr>
                        <td>19.</td>
                        <td>63</td>
                        <td>Krška Michal</td>
                        <td>Blansko</td>
                        <td>M</td>
                        <td>12.</td>
                        <td>00:45:25</td>
                        <td>+ 7m 20s</td>
                    </tr>
                    <tr>
                        <td>20.</td>
                        <td>60</td>
                        <td>Korčák Jaroslav</td>
                        <td>TJ Sokol Lažánky</td>
                        <td>M</td>
                        <td>13.</td>
                        <td>00:45:27</td>
                        <td>+ 7m 22s</td>
                    </tr>
                    <tr>
                        <td>21.</td>
                        <td>9</td>
                        <td>Jančařík Petr</td>
                        <td>AAC Brno</td>
                        <td>MV1</td>
                        <td>5.</td>
                        <td>00:45:49</td>
                        <td>+ 7m 44s</td>
                    </tr>
                    <tr>
                        <td>22.</td>
                        <td>10</td>
                        <td>Jančaříková Lenka</td>
                        <td>AAC Brno</td>
                        <td>ŽV1</td>
                        <td>1.</td>
                        <td>00:46:04</td>
                        <td>+ 7m 59s</td>
                    </tr>
                    <tr>
                        <td>23.</td>
                        <td>72</td>
                        <td>Kinc Pavel</td>
                        <td>VF Sport Team Černá Hora</td>
                        <td>MV1</td>
                        <td>6.</td>
                        <td>00:46:20</td>
                        <td>+ 8m 15s</td>
                    </tr>
                    <tr>
                        <td>24.</td>
                        <td>30</td>
                        <td>Janková Magda</td>
                        <td>RUN&amp;MUM</td>
                        <td>Ž</td>
                        <td>2.</td>
                        <td>00:46:22</td>
                        <td>+ 8m 17s</td>
                    </tr>
                    <tr>
                        <td>25.</td>
                        <td>74</td>
                        <td>Odehnal Tomáš</td>
                        <td>Skalice</td>
                        <td>MV1</td>
                        <td>7.</td>
                        <td>00:46:47</td>
                        <td>+ 8m 42s</td>
                    </tr>
                    <tr>
                        <td>26.</td>
                        <td>1</td>
                        <td>Sotolář Stanislav</td>
                        <td>Veselice</td>
                        <td>MV1</td>
                        <td>8.</td>
                        <td>00:46:48</td>
                        <td>+ 8m 43s</td>
                    </tr>
                    <tr>
                        <td>27.</td>
                        <td>52</td>
                        <td>Žejšek Martin</td>
                        <td>Kašpaři VM</td>
                        <td>M</td>
                        <td>14.</td>
                        <td>00:47:06</td>
                        <td>+ 9m 1s</td>
                    </tr>
                    <tr>
                        <td>28.</td>
                        <td>62</td>
                        <td>Kriklová Alena</td>
                        <td>Jaroměřice</td>
                        <td>Ž</td>
                        <td>3.</td>
                        <td>00:47:14</td>
                        <td>+ 9m 9s</td>
                    </tr>
                    <tr>
                        <td>29.</td>
                        <td>17</td>
                        <td>Kolaja Marcel</td>
                        <td>Red Hat</td>
                        <td>M</td>
                        <td>15.</td>
                        <td>00:47:19</td>
                        <td>+ 9m 14s</td>
                    </tr>
                    <tr>
                        <td>30.</td>
                        <td>86</td>
                        <td>Matěna Vladimír</td>
                        <td>VZB</td>
                        <td>MV2</td>
                        <td>3.</td>
                        <td>00:47:24</td>
                        <td>+ 9m 19s</td>
                    </tr>
                    <tr>
                        <td>31.</td>
                        <td>84</td>
                        <td>Potůček Jiří</td>
                        <td>FIT plus Blansko</td>
                        <td>M</td>
                        <td>16.</td>
                        <td>00:47:45</td>
                        <td>+ 9m 40s</td>
                    </tr>
                    <tr>
                        <td>32.</td>
                        <td>59</td>
                        <td>Zoubek Karel</td>
                        <td>Vanovice</td>
                        <td>MV2</td>
                        <td>4.</td>
                        <td>00:48:16</td>
                        <td>+ 10m 11s</td>
                    </tr>
                    <tr>
                        <td>33.</td>
                        <td>3</td>
                        <td>Jan Fabiánek</td>
                        <td>Opilci z okolí</td>
                        <td>M</td>
                        <td>17.</td>
                        <td>00:48:17</td>
                        <td>+ 10m 12s</td>
                    </tr>
                    <tr>
                        <td>34.</td>
                        <td>77</td>
                        <td>Polachová Lenka</td>
                        <td>Sivice</td>
                        <td>Ž</td>
                        <td>4.</td>
                        <td>00:48:28</td>
                        <td>+ 10m 23s</td>
                    </tr>
                    <tr>
                        <td>35.</td>
                        <td>16</td>
                        <td>Topinková Lenka</td>
                        <td>AC Moravská Slavia Brno</td>
                        <td>ŽV1</td>
                        <td>2.</td>
                        <td>00:48:45</td>
                        <td>+ 10m 40s</td>
                    </tr>
                    <tr>
                        <td>36.</td>
                        <td>8</td>
                        <td>Horský Radek</td>
                        <td>OB Veselice</td>
                        <td>M</td>
                        <td>18.</td>
                        <td>00:49:16</td>
                        <td>+ 11m 11s</td>
                    </tr>
                    <tr>
                        <td>37.</td>
                        <td>29</td>
                        <td>Anderlová Dorota</td>
                        <td>AC Moravská Slávia Brno</td>
                        <td>Ž</td>
                        <td>5.</td>
                        <td>00:49:43</td>
                        <td>+ 11m 38s</td>
                    </tr>
                    <tr>
                        <td>38.</td>
                        <td>14</td>
                        <td>Veselý Martin</td>
                        <td>Veselice</td>
                        <td>MV1</td>
                        <td>9.</td>
                        <td>00:49:45</td>
                        <td>+ 11m 40s</td>
                    </tr>
                    <tr>
                        <td>39.</td>
                        <td>34</td>
                        <td>Menšík Ondřej</td>
                        <td>Boskovice</td>
                        <td>M</td>
                        <td>19.</td>
                        <td>00:49:54</td>
                        <td>+ 11m 49s</td>
                    </tr>
                    <tr>
                        <td>40.</td>
                        <td>66</td>
                        <td>Daněk Jan</td>
                        <td>Brno</td>
                        <td>M</td>
                        <td>20.</td>
                        <td>00:50:08</td>
                        <td>+ 12m 3s</td>
                    </tr>
                    <tr>
                        <td>41.</td>
                        <td>68</td>
                        <td>Vrána Filip</td>
                        <td>Jundrov</td>
                        <td>MV1</td>
                        <td>10.</td>
                        <td>00:50:21</td>
                        <td>+ 12m 16s</td>
                    </tr>
                    <tr>
                        <td>42.</td>
                        <td>61</td>
                        <td>Šperka Oldřich</td>
                        <td>Jedovnice</td>
                        <td>MV3</td>
                        <td>1.</td>
                        <td>00:50:34</td>
                        <td>+ 12m 29s</td>
                    </tr>
                    <tr>
                        <td>43.</td>
                        <td>13</td>
                        <td>Matuška Robin</td>
                        <td>Horní Lhota</td>
                        <td>M</td>
                        <td>21.</td>
                        <td>00:50:36</td>
                        <td>+ 12m 31s</td>
                    </tr>
                    <tr>
                        <td>44.</td>
                        <td>54</td>
                        <td>Buš Jiří</td>
                        <td>Rájec-Jestřebí</td>
                        <td>M</td>
                        <td>22.</td>
                        <td>00:50:48</td>
                        <td>+ 12m 43s</td>
                    </tr>
                    <tr>
                        <td>45.</td>
                        <td>40</td>
                        <td>Brtník Jiří</td>
                        <td>Orel Obřany</td>
                        <td>MV3</td>
                        <td>2.</td>
                        <td>00:50:54</td>
                        <td>+ 12m 49s</td>
                    </tr>
                    <tr>
                        <td>46.</td>
                        <td>20</td>
                        <td>Hynštová Marie</td>
                        <td>AK Drnovcice</td>
                        <td>ŽV2</td>
                        <td>1.</td>
                        <td>00:51:05</td>
                        <td>+ 13m</td>
                    </tr>
                    <tr>
                        <td>47.</td>
                        <td>80</td>
                        <td>Čapková Barbora</td>
                        <td>TJ SOKOL VALEČ</td>
                        <td>Ž</td>
                        <td>6.</td>
                        <td>00:51:11</td>
                        <td>+ 13m 6s</td>
                    </tr>
                    <tr>
                        <td>48.</td>
                        <td>47</td>
                        <td>Procházka Jan</td>
                        <td>Ráječko</td>
                        <td>M</td>
                        <td>23.</td>
                        <td>00:51:29</td>
                        <td>+ 13m 24s</td>
                    </tr>
                    <tr>
                        <td>49.</td>
                        <td>82</td>
                        <td>Čermáková Tereza</td>
                        <td>FITPLUSBLANSKO.CZ</td>
                        <td>Ž</td>
                        <td>7.</td>
                        <td>00:51:34</td>
                        <td>+ 13m 29s</td>
                    </tr>
                    <tr>
                        <td>50.</td>
                        <td>67</td>
                        <td>Tichý Alois</td>
                        <td>Blansko</td>
                        <td>MV2</td>
                        <td>5.</td>
                        <td>00:51:34</td>
                        <td>+ 13m 29s</td>
                    </tr>
                    <tr>
                        <td>51.</td>
                        <td>85</td>
                        <td>Koudelková Dagmar</td>
                        <td>ASK Blansko</td>
                        <td>Ž</td>
                        <td>8.</td>
                        <td>00:51:42</td>
                        <td>+ 13m 37s</td>
                    </tr>
                    <tr>
                        <td>52.</td>
                        <td>42</td>
                        <td>Ondroušková Ivana</td>
                        <td>Blansko</td>
                        <td>ŽV1</td>
                        <td>3.</td>
                        <td>00:51:44</td>
                        <td>+ 13m 39s</td>
                    </tr>
                    <tr>
                        <td>53.</td>
                        <td>49</td>
                        <td>Šamonil Petr</td>
                        <td>Rájec-Jestřebí</td>
                        <td>MV2</td>
                        <td>6.</td>
                        <td>00:52:15</td>
                        <td>+ 14m 10s</td>
                    </tr>
                    <tr>
                        <td>54.</td>
                        <td>69</td>
                        <td>Martínek Jan</td>
                        <td>SC Ráječko</td>
                        <td>MV1</td>
                        <td>11.</td>
                        <td>00:52:19</td>
                        <td>+ 14m 14s</td>
                    </tr>
                    <tr>
                        <td>55.</td>
                        <td>39</td>
                        <td>Svoboda Pavel</td>
                        <td>TJ Sloup</td>
                        <td>MV3</td>
                        <td>3.</td>
                        <td>00:52:24</td>
                        <td>+ 14m 19s</td>
                    </tr>
                    <tr>
                        <td>56.</td>
                        <td>45</td>
                        <td>Březa Miroslav</td>
                        <td>Brno</td>
                        <td>MV2</td>
                        <td>7.</td>
                        <td>00:52:51</td>
                        <td>+ 14m 46s</td>
                    </tr>
                    <tr>
                        <td>57.</td>
                        <td>38</td>
                        <td>Ševčíková Lucie</td>
                        <td>TJ Sokol Luleč</td>
                        <td>Ž</td>
                        <td>9.</td>
                        <td>00:53:27</td>
                        <td>+ 15m 22s</td>
                    </tr>
                    <tr>
                        <td>58.</td>
                        <td>73</td>
                        <td>Bedan Petr</td>
                        <td>Spešov</td>
                        <td>MV1</td>
                        <td>12.</td>
                        <td>00:54:07</td>
                        <td>+ 16m 2s</td>
                    </tr>
                    <tr>
                        <td>59.</td>
                        <td>53</td>
                        <td>Buš Roman</td>
                        <td>Rájec</td>
                        <td>MV2</td>
                        <td>8.</td>
                        <td>00:54:16</td>
                        <td>+ 16m 11s</td>
                    </tr>
                    <tr>
                        <td>60.</td>
                        <td>76</td>
                        <td>Lorenc Antonín</td>
                        <td>Bertík Blansko</td>
                        <td>MV2</td>
                        <td>9.</td>
                        <td>00:54:16</td>
                        <td>+ 16m 11s</td>
                    </tr>
                    <tr>
                        <td>61.</td>
                        <td>28</td>
                        <td>Boháč Jiří</td>
                        <td>BehejBrno.com</td>
                        <td>MV3</td>
                        <td>4.</td>
                        <td>00:55:50</td>
                        <td>+ 17m 45s</td>
                    </tr>
                    <tr>
                        <td>62.</td>
                        <td>12</td>
                        <td>Žákovská Alena</td>
                        <td>Horizont Kola Novák Blansko</td>
                        <td>ŽV2</td>
                        <td>2.</td>
                        <td>00:55:59</td>
                        <td>+ 17m 54s</td>
                    </tr>
                    <tr>
                        <td>63.</td>
                        <td>36</td>
                        <td>Odehnal Petr</td>
                        <td>NUGGET</td>
                        <td>MV1</td>
                        <td>13.</td>
                        <td>00:56:44</td>
                        <td>+ 18m 39s</td>
                    </tr>
                    <tr>
                        <td>64.</td>
                        <td>48</td>
                        <td>Kopecká Michaela</td>
                        <td>Boskovice</td>
                        <td>Ž</td>
                        <td>10.</td>
                        <td>00:58:07</td>
                        <td>+ 20m 2s</td>
                    </tr>
                    <tr>
                        <td>65.</td>
                        <td>56</td>
                        <td>Polášková Martina</td>
                        <td>Coloseum Blansko</td>
                        <td>ŽV1</td>
                        <td>4.</td>
                        <td>00:58:16</td>
                        <td>+ 20m 11s</td>
                    </tr>
                    <tr>
                        <td>66.</td>
                        <td>44</td>
                        <td>Jalová Margita</td>
                        <td>Letovice</td>
                        <td>ŽV2</td>
                        <td>3.</td>
                        <td>00:58:17</td>
                        <td>+ 20m 12s</td>
                    </tr>
                    <tr>
                        <td>67.</td>
                        <td>25</td>
                        <td>Grünová Ivana</td>
                        <td>AC Okrouhlá</td>
                        <td>ŽV1</td>
                        <td>5.</td>
                        <td>00:58:25</td>
                        <td>+ 20m 20s</td>
                    </tr>
                    <tr>
                        <td>68.</td>
                        <td>15</td>
                        <td>Freitinger Pavel</td>
                        <td>Vanovice</td>
                        <td>MV2</td>
                        <td>10.</td>
                        <td>00:58:30</td>
                        <td>+ 20m 25s</td>
                    </tr>
                    <tr>
                        <td>69.</td>
                        <td>50</td>
                        <td>Gříbek Petr</td>
                        <td>SDH Němčice nad Hanou</td>
                        <td>MV2</td>
                        <td>11.</td>
                        <td>00:58:42</td>
                        <td>+ 20m 37s</td>
                    </tr>
                    <tr>
                        <td>70.</td>
                        <td>58</td>
                        <td>Macháček Martin</td>
                        <td>Javůrek</td>
                        <td>MV3</td>
                        <td>5.</td>
                        <td>00:58:59</td>
                        <td>+ 20m 54s</td>
                    </tr>
                    <tr>
                        <td>71.</td>
                        <td>5</td>
                        <td>Kříž Ivan</td>
                        <td>Letovice</td>
                        <td>MV2</td>
                        <td>12.</td>
                        <td>00:59:17</td>
                        <td>+ 21m 12s</td>
                    </tr>
                    <tr>
                        <td>72.</td>
                        <td>70</td>
                        <td>Zemánek Lukáš</td>
                        <td>Jedovnice</td>
                        <td>M</td>
                        <td>24.</td>
                        <td>00:59:47</td>
                        <td>+ 21m 42s</td>
                    </tr>
                    <tr>
                        <td>73.</td>
                        <td>65</td>
                        <td>Balák Martin</td>
                        <td>Bruslárna.cz</td>
                        <td>MV1</td>
                        <td>14.</td>
                        <td>01:00:05</td>
                        <td>+ 22m</td>
                    </tr>
                    <tr>
                        <td>74.</td>
                        <td>83</td>
                        <td>Ochotná Blanka</td>
                        <td>Biatlon Blansko</td>
                        <td>ŽV1</td>
                        <td>6.</td>
                        <td>01:01:06</td>
                        <td>+ 23m 1s</td>
                    </tr>
                    <tr>
                        <td>75.</td>
                        <td>41</td>
                        <td>Daněk Milan</td>
                        <td>HORIZONT BLANSKO</td>
                        <td>MV2</td>
                        <td>13.</td>
                        <td>01:03:17</td>
                        <td>+ 25m 12s</td>
                    </tr>
                    <tr>
                        <td>76.</td>
                        <td>51</td>
                        <td>Gříbková Jana</td>
                        <td>SDH Němčice nad Hanou</td>
                        <td>ŽV1</td>
                        <td>7.</td>
                        <td>01:03:20</td>
                        <td>+ 25m 15s</td>
                    </tr>
                    <tr>
                        <td>77.</td>
                        <td>57</td>
                        <td>Sobotková Irena</td>
                        <td>Moravský Krumlov</td>
                        <td>Ž</td>
                        <td>11.</td>
                        <td>01:06:40</td>
                        <td>+ 28m 35s</td>
                    </tr>
                    <tr>
                        <td>78.</td>
                        <td>4</td>
                        <td>Stráník Aleš</td>
                        <td>Blansko</td>
                        <td>MV3</td>
                        <td>6.</td>
                        <td>01:06:40</td>
                        <td>+ 28m 35s</td>
                    </tr>
                    <tr>
                        <td>79.</td>
                        <td>23</td>
                        <td>Šebková Iva</td>
                        <td>Blansko</td>
                        <td>ŽV1</td>
                        <td>8.</td>
                        <td>01:08:38</td>
                        <td>+ 30m 33s</td>
                    </tr>
                    <tr>
                        <td>80.</td>
                        <td>22</td>
                        <td>Sotáková Lenka</td>
                        <td>Blansko</td>
                        <td>ŽV2</td>
                        <td>4.</td>
                        <td>01:11:00</td>
                        <td>+ 32m 55s</td>
                    </tr>
                    <tr>
                        <td>81.</td>
                        <td>6</td>
                        <td>Krejčiříková Kateřina</td>
                        <td>Svatá Kateřina</td>
                        <td>ŽV1</td>
                        <td>9.</td>
                        <td>01:14:09</td>
                        <td>+ 36m 4s</td>
                    </tr>
                    <tr>
                        <td>82.</td>
                        <td>71</td>
                        <td>Růžička Bohuslav</td>
                        <td>SC Ráječko</td>
                        <td>MV3</td>
                        <td>7.</td>
                        <td>01:17:23</td>
                        <td>+ 39m 18s</td>
                    </tr>
                    <tr>
                        <td>83.</td>
                        <td>33</td>
                        <td>Menšíková Blanka</td>
                        <td>Boskovice</td>
                        <td>ŽV2</td>
                        <td>5.</td>
                        <td>01:26:36</td>
                        <td>+ 48m 31s</td>
                    </tr>
                    <tr>
                        <td>84.</td>
                        <td>32</td>
                        <td>Opatřilová Jana</td>
                        <td>RUN GO pro ženy</td>
                        <td>Ž</td>
                        <td>12.</td>
                        <td>01:26:36</td>
                        <td>+ 48m 31s</td>
                    </tr>
                    <tr>
                        <td>85.</td>
                        <td>7</td>
                        <td>Hrubý Milan</td>
                        <td>Blansko</td>
                        <td>MV3</td>
                        <td>8.</td>
                        <td>01:31:52</td>
                        <td>+ 53m 47s</td>
                    </tr>
                    </tbody>
                </table>

                <h2>5 km</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>156</td>
                            <td>Říha Jaroslav</td>
                            <td>Uni Brno/Újezd u Černé Hory</td>
                            <td>J</td>
                            <td>1.</td>
                            <td>00:20:42</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>155</td>
                            <td>Široký Stanislav</td>
                            <td>Blansko</td>
                            <td>J</td>
                            <td>2.</td>
                            <td>00:22:44</td>
                            <td>+ 2m 2s</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>152</td>
                            <td>Křivánek Richard</td>
                            <td>elite sport boskovice</td>
                            <td>J</td>
                            <td>3.</td>
                            <td>00:23:24</td>
                            <td>+ 2m 42s</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>151</td>
                            <td>Štětina Lukáš</td>
                            <td>SDH Jasinov</td>
                            <td>J</td>
                            <td>4.</td>
                            <td>00:24:29</td>
                            <td>+ 3m 47s</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>157</td>
                            <td>Vojtíšek Tomáš</td>
                            <td>SC Testudo</td>
                            <td>PK</td>
                            <td>1.</td>
                            <td>00:25:52</td>
                            <td>+ 5m 10s</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>159</td>
                            <td>Matušková Petra</td>
                            <td>Horní Lhota</td>
                            <td>PH</td>
                            <td>1.</td>
                            <td>00:28:05</td>
                            <td>+ 7m 23s</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>158</td>
                            <td>Fabiánek Filip</td>
                            <td>OB Veselice</td>
                            <td>J</td>
                            <td>5.</td>
                            <td>00:29:03</td>
                            <td>+ 8m 21s</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>153</td>
                            <td>Krejčiříková Barbora</td>
                            <td>Svatá Kateřina</td>
                            <td>Jky</td>
                            <td>1.</td>
                            <td>00:35:51</td>
                            <td>+ 15m 9s</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>154</td>
                            <td>Adam David</td>
                            <td>Veselice</td>
                            <td>J</td>
                            <td>6.</td>
                            <td>00:40:16</td>
                            <td>+ 19m 34s</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h2>Žáci - 1350 m</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>237</td>
                            <td>Štoudková Pavla</td>
                            <td>ASK Blansko</td>
                            <td>ŽkyS</td>
                            <td>1.</td>
                            <td>00:05:56</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>224</td>
                            <td>Musil Milan</td>
                            <td>ASK Blansko</td>
                            <td>ŽciS</td>
                            <td>1.</td>
                            <td>00:06:21</td>
                            <td>+ 25s</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>257</td>
                            <td>Berka Pavel</td>
                            <td>Blansko-Klepačov</td>
                            <td>ŽciM</td>
                            <td>1.</td>
                            <td>00:06:22</td>
                            <td>+ 26s</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>234</td>
                            <td>Jančařík Tomáš</td>
                            <td>VSK-UNI Brno</td>
                            <td>ŽciM</td>
                            <td>2.</td>
                            <td>00:06:28</td>
                            <td>+ 32s</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>240</td>
                            <td>Charvát Matyáš</td>
                            <td>Elite sport Boskovice</td>
                            <td>ŽciM</td>
                            <td>3.</td>
                            <td>00:06:33</td>
                            <td>+ 37s</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>204</td>
                            <td>Vodička Patrik</td>
                            <td>Uhřice</td>
                            <td>ŽciS</td>
                            <td>2.</td>
                            <td>00:06:39</td>
                            <td>+ 43s</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>239</td>
                            <td>Charvátová Tereza</td>
                            <td>Elite sport Boskovice</td>
                            <td>ŽkyS</td>
                            <td>2.</td>
                            <td>00:06:54</td>
                            <td>+ 58s</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>246</td>
                            <td>Široká Eliška</td>
                            <td>AK Blansko Dvorská</td>
                            <td>ŽkyM</td>
                            <td>1.</td>
                            <td>00:06:57</td>
                            <td>+ 1m 1s</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>259</td>
                            <td>Matušková Julie</td>
                            <td>ASK Blansko</td>
                            <td>ŽkyM</td>
                            <td>2.</td>
                            <td>00:07:07</td>
                            <td>+ 1m 11s</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>247</td>
                            <td>Škvařilová Stela</td>
                            <td>AK Blansko Dvorská</td>
                            <td>ŽkyM</td>
                            <td>3.</td>
                            <td>00:07:28</td>
                            <td>+ 1m 32s</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>251</td>
                            <td>Malits Marek</td>
                            <td>ASK Blansko</td>
                            <td>ŽciM</td>
                            <td>4.</td>
                            <td>00:07:40</td>
                            <td>+ 1m 44s</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>258</td>
                            <td>Daněk Štěpán</td>
                            <td>Horizont</td>
                            <td>ŽciM</td>
                            <td>5.</td>
                            <td>00:08:48</td>
                            <td>+ 2m 52s</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>230</td>
                            <td>Skořepa Petr</td>
                            <td>Svitávka</td>
                            <td>ŽciM</td>
                            <td>6.</td>
                            <td>00:11:25</td>
                            <td>+ 5m 29s</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h2>Přípravka - 600 m</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>236</td>
                            <td>Křížová Viktorie</td>
                            <td>Elite sport Boskovice</td>
                            <td>PříD</td>
                            <td>1.</td>
                            <td>00:01:57</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>210</td>
                            <td>Křivánek Richard</td>
                            <td>elite sport boskovice</td>
                            <td>PříCh</td>
                            <td>1.</td>
                            <td>00:02:00</td>
                            <td>+ 3s</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>242</td>
                            <td>Šamšulová Martina</td>
                            <td>Elite Sport Boskovice/Letovice</td>
                            <td>PříD</td>
                            <td>2.</td>
                            <td>00:02:05</td>
                            <td>+ 8s</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>238</td>
                            <td>Kniesová Lucie</td>
                            <td>AK Blansko Dvorská</td>
                            <td>PříD</td>
                            <td>3.</td>
                            <td>00:02:14</td>
                            <td>+ 17s</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>243</td>
                            <td>Leinveberová Soňa</td>
                            <td></td>
                            <td>PříD</td>
                            <td>4.</td>
                            <td>00:02:16</td>
                            <td>+ 19s</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>207</td>
                            <td>Lát Dušan</td>
                            <td>Dvorská Blansko</td>
                            <td>PříCh</td>
                            <td>2.</td>
                            <td>00:02:19</td>
                            <td>+ 22s</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>215</td>
                            <td>Rozkošná Klára</td>
                            <td>KB Blansko</td>
                            <td>PříD</td>
                            <td>5.</td>
                            <td>00:02:20</td>
                            <td>+ 23s</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>222</td>
                            <td>Topinková Barbora</td>
                            <td>AC Moravská Slavia Brno</td>
                            <td>PříD</td>
                            <td>6.</td>
                            <td>00:02:26</td>
                            <td>+ 29s</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>219</td>
                            <td>Jandáková Leona</td>
                            <td>ASK Blansko</td>
                            <td>PříD</td>
                            <td>7.</td>
                            <td>00:02:28</td>
                            <td>+ 31s</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>256</td>
                            <td>Šťastná Anna</td>
                            <td>AC Track &amp; Field Brno</td>
                            <td>PříD</td>
                            <td>8.</td>
                            <td>00:02:31</td>
                            <td>+ 34s</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>228</td>
                            <td>Němcová Kateřina</td>
                            <td>Doubravice</td>
                            <td>PříD</td>
                            <td>9.</td>
                            <td>00:02:35</td>
                            <td>+ 38s</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>235</td>
                            <td>Hrdličková Magdaléna</td>
                            <td>Letovice</td>
                            <td>PříD</td>
                            <td>10.</td>
                            <td>00:02:47</td>
                            <td>+ 50s</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h2>Svišti - 200 m</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>248</td>
                            <td>Škvařil Hynek</td>
                            <td>AK Blansko Dvorská</td>
                            <td>STIk</td>
                            <td>1.</td>
                            <td>00:00:37</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>233</td>
                            <td>Jančaříková Karolína</td>
                            <td>VSK-UNI Brno</td>
                            <td>STIh</td>
                            <td>1.</td>
                            <td>00:00:38</td>
                            <td>+ 1s</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>255</td>
                            <td>Klimeš Bruno</td>
                            <td>AK - Blansko Dvorská</td>
                            <td>STIk</td>
                            <td>2.</td>
                            <td>00:00:38</td>
                            <td>+ 1s</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>225</td>
                            <td>Tomášek Martin</td>
                            <td>AK Blansko Dvorská</td>
                            <td>STIk</td>
                            <td>3.</td>
                            <td>00:00:39</td>
                            <td>+ 2s</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>226</td>
                            <td>Skoták Michal</td>
                            <td>Suchdol</td>
                            <td>STIk</td>
                            <td>4.</td>
                            <td>00:00:39</td>
                            <td>+ 2s</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>250</td>
                            <td>Krejčí Barbora</td>
                            <td>Boskovice</td>
                            <td>STIh</td>
                            <td>2.</td>
                            <td>00:00:40</td>
                            <td>+ 3s</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>232</td>
                            <td>Závodník Josef</td>
                            <td>Suchdol</td>
                            <td>STIk</td>
                            <td>5.</td>
                            <td>00:00:40</td>
                            <td>+ 3s</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>220</td>
                            <td>Rozkošný Jakub</td>
                            <td>KB Blansko</td>
                            <td>STIk</td>
                            <td>6.</td>
                            <td>00:00:41</td>
                            <td>+ 4s</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>218</td>
                            <td>Jandáková Zuzana</td>
                            <td>ASK Blansko</td>
                            <td>STIh</td>
                            <td>3.</td>
                            <td>00:00:42</td>
                            <td>+ 5s</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>253</td>
                            <td>Malits Radek</td>
                            <td>ASK Blansko</td>
                            <td>STIk</td>
                            <td>7.</td>
                            <td>00:00:43</td>
                            <td>+ 6s</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>211</td>
                            <td>Opustil Adrian</td>
                            <td>Veselice</td>
                            <td>STIk</td>
                            <td>8.</td>
                            <td>00:00:44</td>
                            <td>+ 7s</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>214</td>
                            <td>Adam Matouš</td>
                            <td>Veselice</td>
                            <td>STIk</td>
                            <td>9.</td>
                            <td>00:00:46</td>
                            <td>+ 9s</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>206</td>
                            <td>Ondroušek Petr</td>
                            <td>OB Veselice</td>
                            <td>STIk</td>
                            <td>10.</td>
                            <td>00:00:48</td>
                            <td>+ 11s</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>201</td>
                            <td>Cihlář Jiří</td>
                            <td>OB Veselice</td>
                            <td>STIk</td>
                            <td>11.</td>
                            <td>00:00:50</td>
                            <td>+ 13s</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>202</td>
                            <td>Sotolářová Barbora</td>
                            <td>Veselice</td>
                            <td>STIh</td>
                            <td>4.</td>
                            <td>00:00:53</td>
                            <td>+ 16s</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h2>Svištíci - 200 m</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Přijmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>208</td>
                            <td>Horská Nikol</td>
                            <td>OB Veselice</td>
                            <td>SVCh</td>
                            <td>1.</td>
                            <td>00:00:43</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>205</td>
                            <td>Krejčík Kryštof</td>
                            <td>AHA Vyškov</td>
                            <td>SVCk</td>
                            <td>1.</td>
                            <td>00:00:44</td>
                            <td>+ 1s</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>223</td>
                            <td>Musil Matěj</td>
                            <td>ASK Blansko</td>
                            <td>SVCk</td>
                            <td>2.</td>
                            <td>00:00:45</td>
                            <td>+ 2s</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>227</td>
                            <td>Krejčiříková Anežka</td>
                            <td>Svatá Kateřina</td>
                            <td>SVCh</td>
                            <td>2.</td>
                            <td>00:00:45</td>
                            <td>+ 2s</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>229</td>
                            <td>Skořepová Sofie</td>
                            <td>Svitávka</td>
                            <td>SVCh</td>
                            <td>3.</td>
                            <td>00:00:46</td>
                            <td>+ 3s</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>221</td>
                            <td>Topinková Denisa</td>
                            <td>AC Moravská Slavia Brno</td>
                            <td>SVCh</td>
                            <td>4.</td>
                            <td>00:00:48</td>
                            <td>+ 5s</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>244</td>
                            <td>Ševčíková Veronika</td>
                            <td>KB Blansko</td>
                            <td>SVCh</td>
                            <td>5.</td>
                            <td>00:00:48</td>
                            <td>+ 5s</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>241</td>
                            <td>Rozkošná Erika</td>
                            <td>KB Blansko</td>
                            <td>SVCh</td>
                            <td>6.</td>
                            <td>00:00:49</td>
                            <td>+ 6s</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>249</td>
                            <td>Jarůšek Alex</td>
                            <td>Veselice</td>
                            <td>SVCk</td>
                            <td>3.</td>
                            <td>00:00:50</td>
                            <td>+ 7s</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>203</td>
                            <td>Sotolář Adam</td>
                            <td>OB Veselice</td>
                            <td>SVCk</td>
                            <td>4.</td>
                            <td>00:00:51</td>
                            <td>+ 8s</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>217</td>
                            <td>Blažek Štěpán</td>
                            <td></td>
                            <td>SVCk</td>
                            <td>5.</td>
                            <td>00:00:54</td>
                            <td>+ 11s</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>254</td>
                            <td>Ondroušek Felix</td>
                            <td>OB Veselice</td>
                            <td>SVCk</td>
                            <td>6.</td>
                            <td>00:00:59</td>
                            <td>+ 16s</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>213</td>
                            <td>Šamonilová Běla</td>
                            <td>Horizont kola Novák Blansko</td>
                            <td>SVCh</td>
                            <td>7.</td>
                            <td>00:01:01</td>
                            <td>+ 18s</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>216</td>
                            <td>Křivánek Michael</td>
                            <td>elite sport boskovice</td>
                            <td>SVCk</td>
                            <td>7.</td>
                            <td>00:01:10</td>
                            <td>+ 27s</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>212</td>
                            <td>Opustilová Patricie</td>
                            <td>OB Veselice</td>
                            <td>SVCh</td>
                            <td>8.</td>
                            <td>00:01:15</td>
                            <td>+ 32s</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>252</td>
                            <td>Voldán Gabriel</td>
                            <td></td>
                            <td>SVCk</td>
                            <td>8.</td>
                            <td>00:01:17</td>
                            <td>+ 34s</td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td>231</td>
                            <td>Nahodilová Agáta</td>
                            <td>Boskovice</td>
                            <td>SVCh</td>
                            <td>9.</td>
                            <td>00:02:12</td>
                            <td>+ 1m 29s</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <a class="btn btn-primary toTop">
                    <span class="glyphicon glyphicon-chevron-up"></span>&nbsp;Nahoru
                </a>
                <a class="btn btn-warning" n:href="vysledky">
                    <span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Zpět na výsledky
                </a>

            </div>
        </div>


    </div>
</div>


{include './footer.latte'}


</body>
{/block}
</html>