<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Výsledky závodu v roce 2014 | Lesempolem.cz</title>
    {include './head.latte'}
    {include './headImport.latte'}
</head>
<body>
{block|strip}
{include './nav.latte', active => 'vysledky'}
<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Výsledky závodu v roce 2014</h1>


            <div class="vysledky">
                <h2>10 250 m</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Příjmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>31</td>
                            <td>Grün Vojtěch</td>
                            <td>VSK Univerzita Brno/ AC Okrouhlá</td>
                            <td>M</td>
                            <td>1.</td>
                            <td>00:37:38</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>49</td>
                            <td>olák Hynek</td>
                            <td>Blansko</td>
                            <td>MV1</td>
                            <td>1.</td>
                            <td>00:39:48</td>
                            <td>00:02:10</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>21</td>
                            <td>Večeřa Tomáš</td>
                            <td>Relax Olešnice</td>
                            <td>M</td>
                            <td>2.</td>
                            <td>00:41:06</td>
                            <td>00:03:28</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>90</td>
                            <td>Pavloň Filip</td>
                            <td>Boskovice</td>
                            <td>M</td>
                            <td>3.</td>
                            <td>00:41:21</td>
                            <td>00:03:43</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>7</td>
                            <td>Široký Stanislav</td>
                            <td>Blansko</td>
                            <td>M</td>
                            <td>4.</td>
                            <td>00:41:24</td>
                            <td>00:03:46</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>54</td>
                            <td>Němec Richard</td>
                            <td>Blansko</td>
                            <td>MV1</td>
                            <td>2.</td>
                            <td>00:41:48</td>
                            <td>00:04:10</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>112</td>
                            <td>Brat Kristián</td>
                            <td>Adamov</td>
                            <td>M</td>
                            <td>5.</td>
                            <td>00:41:54</td>
                            <td>00:04:16</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>55</td>
                            <td>Jína Pavel</td>
                            <td>Ligasto Olomouc</td>
                            <td>MV2</td>
                            <td>1.</td>
                            <td>00:42:00</td>
                            <td>00:04:22</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>58</td>
                            <td>Grün Gustav</td>
                            <td>AC Okrouhlá</td>
                            <td>MV1</td>
                            <td>3.</td>
                            <td>00:42:05</td>
                            <td>00:04:27</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>36</td>
                            <td>vořáček Jiří</td>
                            <td>Petrovice</td>
                            <td>MV1</td>
                            <td>4.</td>
                            <td>00:42:09</td>
                            <td>00:04:31</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>52</td>
                            <td>Weis Josef</td>
                            <td>SK Kněževes 2006</td>
                            <td>MV1</td>
                            <td>5.</td>
                            <td>00:42:19</td>
                            <td>00:04:41</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>100</td>
                            <td>Jílek Ladislav</td>
                            <td>Aquaskipper Olešnice</td>
                            <td>MV1</td>
                            <td>6.</td>
                            <td>00:42:42</td>
                            <td>00:05:04</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>33</td>
                            <td>Jančík Tomáš</td>
                            <td>Boskovice</td>
                            <td>MV1</td>
                            <td>7.</td>
                            <td>00:42:51</td>
                            <td>00:05:13</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>15</td>
                            <td>Klopec Aleš</td>
                            <td>Blansko</td>
                            <td>M</td>
                            <td>6.</td>
                            <td>00:43:41</td>
                            <td>00:06:03</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>77</td>
                            <td>Šimunek Martin</td>
                            <td>Modřice</td>
                            <td>MV1</td>
                            <td>8.</td>
                            <td>00:43:45</td>
                            <td>00:06:07</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>110</td>
                            <td>Buřt Vladimír</td>
                            <td>Sokol Blansko</td>
                            <td>MV2</td>
                            <td>2.</td>
                            <td>00:44:16</td>
                            <td>00:06:38</td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td>39</td>
                            <td>Štěpánek Martin</td>
                            <td>Popůvky</td>
                            <td>M</td>
                            <td>7.</td>
                            <td>00:44:32</td>
                            <td>00:06:54</td>
                        </tr>
                        <tr>
                            <td>18.</td>
                            <td>108</td>
                            <td>rábek Jan</td>
                            <td>Adamov</td>
                            <td>M</td>
                            <td>8.</td>
                            <td>00:44:50</td>
                            <td>00:07:12</td>
                        </tr>
                        <tr>
                            <td>19.</td>
                            <td>29</td>
                            <td>Kuneš David</td>
                            <td>Tišnov</td>
                            <td>MV1</td>
                            <td>9.</td>
                            <td>00:44:55</td>
                            <td>00:07:17</td>
                        </tr>
                        <tr>
                            <td>20.</td>
                            <td>131</td>
                            <td>ragolov Daniel</td>
                            <td>Brno</td>
                            <td>MV1</td>
                            <td>10.</td>
                            <td>00:45:00</td>
                            <td>00:07:22</td>
                        </tr>
                        <tr>
                            <td>21.</td>
                            <td>43</td>
                            <td>Jančaříková Lenka</td>
                            <td>AAC Brno</td>
                            <td>ŽV</td>
                            <td>1.</td>
                            <td>00:45:06</td>
                            <td>00:07:28</td>
                        </tr>
                        <tr>
                            <td>22.</td>
                            <td>66</td>
                            <td>Buš Ondřej</td>
                            <td>Ráječko</td>
                            <td>M</td>
                            <td>9.</td>
                            <td>00:45:16</td>
                            <td>00:07:38</td>
                        </tr>
                        <tr>
                            <td>23.</td>
                            <td>47</td>
                            <td>Zoubek Karel</td>
                            <td>Vanovice</td>
                            <td>MV2</td>
                            <td>3.</td>
                            <td>00:45:25</td>
                            <td>00:07:47</td>
                        </tr>
                        <tr>
                            <td>24.</td>
                            <td>96</td>
                            <td>Knotek David</td>
                            <td>Brno</td>
                            <td>M</td>
                            <td>10.</td>
                            <td>00:45:40</td>
                            <td>00:08:02</td>
                        </tr>
                        <tr>
                            <td>25.</td>
                            <td>91</td>
                            <td>Komárková Zdenka</td>
                            <td>Olešnice</td>
                            <td>ŽV</td>
                            <td>2.</td>
                            <td>00:45:45</td>
                            <td>00:08:07</td>
                        </tr>
                        <tr>
                            <td>26.</td>
                            <td>76</td>
                            <td>Vejrostová Hana</td>
                            <td>Lukovany</td>
                            <td>Ž</td>
                            <td>1.</td>
                            <td>00:46:01</td>
                            <td>00:08:23</td>
                        </tr>
                        <tr>
                            <td>27.</td>
                            <td>42</td>
                            <td>Jančařík Petr</td>
                            <td>AAC Brno</td>
                            <td>MV1</td>
                            <td>11.</td>
                            <td>00:46:19</td>
                            <td>00:08:41</td>
                        </tr>
                        <tr>
                            <td>28.</td>
                            <td>12</td>
                            <td>Sotolář Stanislav</td>
                            <td>Veselice</td>
                            <td>MV1</td>
                            <td>12.</td>
                            <td>00:46:28</td>
                            <td>00:08:50</td>
                        </tr>
                        <tr>
                            <td>29.</td>
                            <td>130</td>
                            <td>Kyzlink Karel</td>
                            <td>ASK TT Blansko</td>
                            <td>MV1</td>
                            <td>13.</td>
                            <td>00:46:30</td>
                            <td>00:08:52</td>
                        </tr>
                        <tr>
                            <td>30.</td>
                            <td>70</td>
                            <td>Hojač Petr</td>
                            <td>Start Brno</td>
                            <td>MV1</td>
                            <td>14.</td>
                            <td>00:46:51</td>
                            <td>00:09:13</td>
                        </tr>
                        <tr>
                            <td>31.</td>
                            <td>92</td>
                            <td>Jágr Ondřej</td>
                            <td>Brno</td>
                            <td>M</td>
                            <td>11.</td>
                            <td>00:47:04</td>
                            <td>00:09:26</td>
                        </tr>
                        <tr>
                            <td>32.</td>
                            <td>48</td>
                            <td>Vránek David</td>
                            <td>Brno</td>
                            <td>M</td>
                            <td>12.</td>
                            <td>00:47:10</td>
                            <td>00:09:32</td>
                        </tr>
                        <tr>
                            <td>33.</td>
                            <td>106</td>
                            <td>Kalaš Rudolf</td>
                            <td>Hobik polski z Boskovice</td>
                            <td>MV1</td>
                            <td>15.</td>
                            <td>00:47:23</td>
                            <td>00:09:45</td>
                        </tr>
                        <tr>
                            <td>34.</td>
                            <td>24</td>
                            <td>Procházka Jan</td>
                            <td>Ráječko</td>
                            <td>M</td>
                            <td>13.</td>
                            <td>00:47:29</td>
                            <td>00:09:51</td>
                        </tr>
                        <tr>
                            <td>35.</td>
                            <td>89</td>
                            <td>Fiala Ondřej</td>
                            <td>Boskovice</td>
                            <td>M</td>
                            <td>14.</td>
                            <td>00:47:50</td>
                            <td>00:10:12</td>
                        </tr>
                        <tr>
                            <td>36.</td>
                            <td>127</td>
                            <td>Martínek Jan</td>
                            <td>SC Ráječko</td>
                            <td>MV1</td>
                            <td>16.</td>
                            <td>00:47:53</td>
                            <td>00:10:15</td>
                        </tr>
                        <tr>
                            <td>37.</td>
                            <td>26</td>
                            <td>Kožiak Juraj</td>
                            <td>Kuničky</td>
                            <td>MV1</td>
                            <td>17.</td>
                            <td>00:48:04</td>
                            <td>00:10:26</td>
                        </tr>
                        <tr>
                            <td>38.</td>
                            <td>103</td>
                            <td>Odehnal Tomáš</td>
                            <td>Skalice</td>
                            <td>MV1</td>
                            <td>18.</td>
                            <td>00:48:08</td>
                            <td>00:10:30</td>
                        </tr>
                        <tr>
                            <td>39.</td>
                            <td>72</td>
                            <td>Bachratý Pavel</td>
                            <td>Blansko</td>
                            <td>MV1</td>
                            <td>19.</td>
                            <td>00:48:11</td>
                            <td>00:10:33</td>
                        </tr>
                        <tr>
                            <td>40.</td>
                            <td>68</td>
                            <td>aniel Petr</td>
                            <td>Start Brno</td>
                            <td>MV1</td>
                            <td>20.</td>
                            <td>00:48:15</td>
                            <td>00:10:37</td>
                        </tr>
                        <tr>
                            <td>41.</td>
                            <td>22</td>
                            <td>Zachová Petra</td>
                            <td>Emanuel</td>
                            <td>Ž</td>
                            <td>2.</td>
                            <td>00:48:30</td>
                            <td>00:10:52</td>
                        </tr>
                        <tr>
                            <td>42.</td>
                            <td>99</td>
                            <td>Kubík Pavel</td>
                            <td>Blansko</td>
                            <td>M</td>
                            <td>15.</td>
                            <td>00:48:33</td>
                            <td>00:10:55</td>
                        </tr>
                        <tr>
                            <td>43.</td>
                            <td>45</td>
                            <td>Kriklová Alena</td>
                            <td>Maratonský klub Prostějov</td>
                            <td>Ž</td>
                            <td>3.</td>
                            <td>00:48:37</td>
                            <td>00:10:59</td>
                        </tr>
                        <tr>
                            <td>44.</td>
                            <td>46</td>
                            <td>Ramša Aleš</td>
                            <td></td>
                            <td>M</td>
                            <td>16.</td>
                            <td>00:49:05</td>
                            <td>00:11:27</td>
                        </tr>
                        <tr>
                            <td>45.</td>
                            <td>56</td>
                            <td>Opálka Marek</td>
                            <td>Ráječko</td>
                            <td>M</td>
                            <td>17.</td>
                            <td>00:49:17</td>
                            <td>00:11:39</td>
                        </tr>
                        <tr>
                            <td>46.</td>
                            <td>102</td>
                            <td>Pluháček Zdeněk</td>
                            <td>AC Senetářov</td>
                            <td>M</td>
                            <td>18.</td>
                            <td>00:49:34</td>
                            <td>00:11:56</td>
                        </tr>
                        <tr>
                            <td>47.</td>
                            <td>95</td>
                            <td>Vymazalová Soňa</td>
                            <td>Jedovnice</td>
                            <td>Ž</td>
                            <td>4.</td>
                            <td>00:49:59</td>
                            <td>00:12:21</td>
                        </tr>
                        <tr>
                            <td>48.</td>
                            <td>64</td>
                            <td>Hromek Jiří</td>
                            <td>FENYX Adamov</td>
                            <td>MV2</td>
                            <td>4.</td>
                            <td>00:50:00</td>
                            <td>00:12:22</td>
                        </tr>
                        <tr>
                            <td>49.</td>
                            <td>104</td>
                            <td>Odehnal Jan</td>
                            <td>Rajbas</td>
                            <td>MV1</td>
                            <td>21.</td>
                            <td>00:50:00</td>
                            <td>00:12:22</td>
                        </tr>
                        <tr>
                            <td>50.</td>
                            <td>63</td>
                            <td>Vymazal Jiří</td>
                            <td>Rájec - Jestřebí</td>
                            <td>MV1</td>
                            <td>22.</td>
                            <td>00:50:21</td>
                            <td>00:12:43</td>
                        </tr>
                        <tr>
                            <td>51.</td>
                            <td>97</td>
                            <td>Adamová Eva</td>
                            <td>Bílovice nad Svitavou</td>
                            <td>Ž</td>
                            <td>5.</td>
                            <td>00:50:23</td>
                            <td>00:12:45</td>
                        </tr>
                        <tr>
                            <td>52.</td>
                            <td>41</td>
                            <td>Stráník Aleš</td>
                            <td>Blansko</td>
                            <td>MV3</td>
                            <td>1.</td>
                            <td>00:50:27</td>
                            <td>00:12:49</td>
                        </tr>
                        <tr>
                            <td>53.</td>
                            <td>101</td>
                            <td>Pluháčková Eva</td>
                            <td>AC Senetářov</td>
                            <td>Ž</td>
                            <td>6.</td>
                            <td>00:50:44</td>
                            <td>00:13:06</td>
                        </tr>
                        <tr>
                            <td>54.</td>
                            <td>35</td>
                            <td>Strašáková Monika</td>
                            <td>VŽB</td>
                            <td>ŽV</td>
                            <td>3.</td>
                            <td>00:50:51</td>
                            <td>00:13:13</td>
                        </tr>
                        <tr>
                            <td>55.</td>
                            <td>3</td>
                            <td>Strachoň Milan</td>
                            <td>Slavkov u Brna</td>
                            <td>MV3</td>
                            <td>2.</td>
                            <td>00:50:52</td>
                            <td>00:13:14</td>
                        </tr>
                        <tr>
                            <td>56.</td>
                            <td>79</td>
                            <td>Kohoutek Jaromír</td>
                            <td>Brno</td>
                            <td>MV2</td>
                            <td>5.</td>
                            <td>00:51:06</td>
                            <td>00:13:28</td>
                        </tr>
                        <tr>
                            <td>57.</td>
                            <td>20</td>
                            <td>Skoták Hynek</td>
                            <td>Blansko</td>
                            <td>M</td>
                            <td>19.</td>
                            <td>00:51:11</td>
                            <td>00:13:33</td>
                        </tr>
                        <tr>
                            <td>58.</td>
                            <td>115</td>
                            <td>Krejsová Petra</td>
                            <td>Auto RZ Boskovice</td>
                            <td>Ž</td>
                            <td>7.</td>
                            <td>00:51:23</td>
                            <td>00:13:45</td>
                        </tr>
                        <tr>
                            <td>59.</td>
                            <td>71</td>
                            <td>Šperka Oldřich</td>
                            <td>Jedovnice</td>
                            <td>MV2</td>
                            <td>6.</td>
                            <td>00:51:29</td>
                            <td>00:13:51</td>
                        </tr>
                        <tr>
                            <td>60.</td>
                            <td>13</td>
                            <td>Nedvěd Martin</td>
                            <td>Blansko</td>
                            <td>M</td>
                            <td>20.</td>
                            <td>00:51:30</td>
                            <td>00:13:52</td>
                        </tr>
                        <tr>
                            <td>61.</td>
                            <td>62</td>
                            <td>Adler Ondřej</td>
                            <td>Adamov</td>
                            <td>M</td>
                            <td>21.</td>
                            <td>00:51:30</td>
                            <td>00:13:52</td>
                        </tr>
                        <tr>
                            <td>62.</td>
                            <td>141</td>
                            <td>Haluza Jakub</td>
                            <td>PRACE</td>
                            <td>M</td>
                            <td>22.</td>
                            <td>00:52:02</td>
                            <td>00:14:24</td>
                        </tr>
                        <tr>
                            <td>63.</td>
                            <td>109</td>
                            <td>Ondroušková Ivana</td>
                            <td>Blansko</td>
                            <td>ŽV</td>
                            <td>4.</td>
                            <td>00:52:12</td>
                            <td>00:14:34</td>
                        </tr>
                        <tr>
                            <td>64.</td>
                            <td>83</td>
                            <td>vořáček Roman</td>
                            <td>Nýrov</td>
                            <td>M</td>
                            <td>23.</td>
                            <td>00:52:16</td>
                            <td>00:14:38</td>
                        </tr>
                        <tr>
                            <td>65.</td>
                            <td>40</td>
                            <td>Nerud Pavel</td>
                            <td>Brno</td>
                            <td>M</td>
                            <td>24.</td>
                            <td>00:52:17</td>
                            <td>00:14:39</td>
                        </tr>
                        <tr>
                            <td>66.</td>
                            <td>94</td>
                            <td>rgová Gabriela</td>
                            <td>Lysice</td>
                            <td>Ž</td>
                            <td>8.</td>
                            <td>00:52:21</td>
                            <td>00:14:43</td>
                        </tr>
                        <tr>
                            <td>67.</td>
                            <td>50</td>
                            <td>Menšík Ondřej</td>
                            <td>Boskovice</td>
                            <td>M</td>
                            <td>25.</td>
                            <td>00:52:29</td>
                            <td>00:14:51</td>
                        </tr>
                        <tr>
                            <td>68.</td>
                            <td>120</td>
                            <td>Filipiová Andrea</td>
                            <td>Auto RZ Boskovice</td>
                            <td>Ž</td>
                            <td>9.</td>
                            <td>00:52:34</td>
                            <td>00:14:56</td>
                        </tr>
                        <tr>
                            <td>69.</td>
                            <td>136</td>
                            <td>Skoták Jiří</td>
                            <td>SC Ráječko</td>
                            <td>MV2</td>
                            <td>7.</td>
                            <td>00:52:35</td>
                            <td>00:14:57</td>
                        </tr>
                        <tr>
                            <td>70.</td>
                            <td>135</td>
                            <td>Jakubcová Barbora</td>
                            <td>Blansko</td>
                            <td>Ž</td>
                            <td>10.</td>
                            <td>00:52:53</td>
                            <td>00:15:15</td>
                        </tr>
                        <tr>
                            <td>71.</td>
                            <td>18</td>
                            <td>Boháč Jiří</td>
                            <td>Brno</td>
                            <td>MV3</td>
                            <td>3.</td>
                            <td>00:52:59</td>
                            <td>00:15:21</td>
                        </tr>
                        <tr>
                            <td>72.</td>
                            <td>23</td>
                            <td>Zach Jiří</td>
                            <td>Emanuel</td>
                            <td>M</td>
                            <td>26.</td>
                            <td>00:53:07</td>
                            <td>00:15:29</td>
                        </tr>
                        <tr>
                            <td>73.</td>
                            <td>73</td>
                            <td>Wagner Petr</td>
                            <td>Biatlon Vyškov</td>
                            <td>MV1</td>
                            <td>23.</td>
                            <td>00:53:17</td>
                            <td>00:15:39</td>
                        </tr>
                        <tr>
                            <td>74.</td>
                            <td>87</td>
                            <td>Münster Libor</td>
                            <td>Blansko</td>
                            <td>MV1</td>
                            <td>24.</td>
                            <td>00:53:21</td>
                            <td>00:15:43</td>
                        </tr>
                        <tr>
                            <td>75.</td>
                            <td>123</td>
                            <td>Koudelka Jiří</td>
                            <td>Zetor Brno</td>
                            <td>MV2</td>
                            <td>8.</td>
                            <td>00:53:25</td>
                            <td>00:15:47</td>
                        </tr>
                        <tr>
                            <td>76.</td>
                            <td>69</td>
                            <td>okoupil Petr</td>
                            <td></td>
                            <td>M</td>
                            <td>27.</td>
                            <td>00:53:31</td>
                            <td>00:15:53</td>
                        </tr>
                        <tr>
                            <td>77.</td>
                            <td>98</td>
                            <td>Macháček Martin</td>
                            <td>Javůrek</td>
                            <td>MV2</td>
                            <td>9.</td>
                            <td>00:53:37</td>
                            <td>00:15:59</td>
                        </tr>
                        <tr>
                            <td>78.</td>
                            <td>133</td>
                            <td>Kellner Ondřej</td>
                            <td>Slavkov u Brna</td>
                            <td>M</td>
                            <td>28.</td>
                            <td>00:53:44</td>
                            <td>00:16:06</td>
                        </tr>
                        <tr>
                            <td>79.</td>
                            <td>86</td>
                            <td>Novosad Ondřej</td>
                            <td>Cetkovice</td>
                            <td>M</td>
                            <td>29.</td>
                            <td>00:54:10</td>
                            <td>00:16:32</td>
                        </tr>
                        <tr>
                            <td>80.</td>
                            <td>65</td>
                            <td>Bayer Miloslav</td>
                            <td>ASK Blansko</td>
                            <td>MV3</td>
                            <td>4.</td>
                            <td>00:54:18</td>
                            <td>00:16:40</td>
                        </tr>
                        <tr>
                            <td>81.</td>
                            <td>134</td>
                            <td>Haška Pavel</td>
                            <td>Tučapy u Vyškova</td>
                            <td>M</td>
                            <td>30.</td>
                            <td>00:54:20</td>
                            <td>00:16:42</td>
                        </tr>
                        <tr>
                            <td>82.</td>
                            <td>118</td>
                            <td>Všetečková Pavla</td>
                            <td>Motor Journal</td>
                            <td>Ž</td>
                            <td>11.</td>
                            <td>00:54:24</td>
                            <td>00:16:46</td>
                        </tr>
                        <tr>
                            <td>83.</td>
                            <td>113</td>
                            <td>Kresta Roman</td>
                            <td>ELITA-BRNO</td>
                            <td>MV1</td>
                            <td>25.</td>
                            <td>00:54:32</td>
                            <td>00:16:54</td>
                        </tr>
                        <tr>
                            <td>84.</td>
                            <td>37</td>
                            <td>Jirásek Vladimír</td>
                            <td>Brno</td>
                            <td>MV3</td>
                            <td>5.</td>
                            <td>00:54:52</td>
                            <td>00:17:14</td>
                        </tr>
                        <tr>
                            <td>85.</td>
                            <td>59</td>
                            <td>Grünová Ivana</td>
                            <td>AC Okrouhlá</td>
                            <td>ŽV</td>
                            <td>5.</td>
                            <td>00:55:19</td>
                            <td>00:17:41</td>
                        </tr>
                        <tr>
                            <td>86.</td>
                            <td>117</td>
                            <td>Crhák Luděk</td>
                            <td>J-elita</td>
                            <td>MV2</td>
                            <td>10.</td>
                            <td>00:55:47</td>
                            <td>00:18:09</td>
                        </tr>
                        <tr>
                            <td>87.</td>
                            <td>80</td>
                            <td>Markel Roman</td>
                            <td>MAROKA Boskovice</td>
                            <td>M</td>
                            <td>31.</td>
                            <td>00:56:32</td>
                            <td>00:18:54</td>
                        </tr>
                        <tr>
                            <td>88.</td>
                            <td>9</td>
                            <td>Žákovská Alena</td>
                            <td>Horizont Blansko</td>
                            <td>ŽV</td>
                            <td>6.</td>
                            <td>00:56:36</td>
                            <td>00:18:58</td>
                        </tr>
                        <tr>
                            <td>89.</td>
                            <td>78</td>
                            <td>Kašová Hana</td>
                            <td>Barnec's Brno</td>
                            <td>ŽV</td>
                            <td>7.</td>
                            <td>00:57:14</td>
                            <td>00:19:36</td>
                        </tr>
                        <tr>
                            <td>90.</td>
                            <td>111</td>
                            <td>Kopecká Michaela</td>
                            <td>Boskovice</td>
                            <td>Ž</td>
                            <td>12.</td>
                            <td>00:57:25</td>
                            <td>00:19:47</td>
                        </tr>
                        <tr>
                            <td>91.</td>
                            <td>5</td>
                            <td>Suchá Lenka</td>
                            <td>Blansko</td>
                            <td>ŽV</td>
                            <td>8.</td>
                            <td>00:57:26</td>
                            <td>00:19:48</td>
                        </tr>
                        <tr>
                            <td>92.</td>
                            <td>119</td>
                            <td>Ždánský Zbyněk</td>
                            <td>AUTO RZ Boskovice</td>
                            <td>M</td>
                            <td>32.</td>
                            <td>00:57:42</td>
                            <td>00:20:04</td>
                        </tr>
                        <tr>
                            <td>93.</td>
                            <td>27</td>
                            <td>Krejčí Andrea</td>
                            <td>Boskovice</td>
                            <td>Ž</td>
                            <td>13.</td>
                            <td>00:58:13</td>
                            <td>00:20:35</td>
                        </tr>
                        <tr>
                            <td>94.</td>
                            <td>82</td>
                            <td>ufek Lubomír</td>
                            <td>Boskovice</td>
                            <td>MV1</td>
                            <td>26.</td>
                            <td>00:59:24</td>
                            <td>00:21:46</td>
                        </tr>
                        <tr>
                            <td>95.</td>
                            <td>67</td>
                            <td>okoupilová Markéta</td>
                            <td></td>
                            <td>Ž</td>
                            <td>14.</td>
                            <td>00:59:28</td>
                            <td>00:21:50</td>
                        </tr>
                        <tr>
                            <td>96.</td>
                            <td>28</td>
                            <td>Ochotná Blanka</td>
                            <td>Biatlon Blansko</td>
                            <td>ŽV</td>
                            <td>9.</td>
                            <td>00:59:37</td>
                            <td>00:21:59</td>
                        </tr>
                        <tr>
                            <td>97.</td>
                            <td>128</td>
                            <td>Kroupa Jiří</td>
                            <td>Zetor Brno</td>
                            <td>MV2</td>
                            <td>11.</td>
                            <td>01:00:04</td>
                            <td>00:22:26</td>
                        </tr>
                        <tr>
                            <td>98.</td>
                            <td>124</td>
                            <td>Cetkovský Vladimír</td>
                            <td>ARC Brno</td>
                            <td>MV3</td>
                            <td>6.</td>
                            <td>01:00:04</td>
                            <td>00:22:26</td>
                        </tr>
                        <tr>
                            <td>99.</td>
                            <td>122</td>
                            <td>Kalová Jana</td>
                            <td>Zetor Brno</td>
                            <td>ŽV</td>
                            <td>10.</td>
                            <td>01:00:23</td>
                            <td>00:22:45</td>
                        </tr>
                        <tr>
                            <td>100.</td>
                            <td>132</td>
                            <td>Mořický Lukáš</td>
                            <td>Nesovice</td>
                            <td>M</td>
                            <td>33.</td>
                            <td>01:00:37</td>
                            <td>00:22:59</td>
                        </tr>
                        <tr>
                            <td>101.</td>
                            <td>84</td>
                            <td>Nečasová Petra</td>
                            <td>Zboněk</td>
                            <td>Ž</td>
                            <td>15.</td>
                            <td>01:00:40</td>
                            <td>00:23:02</td>
                        </tr>
                        <tr>
                            <td>102.</td>
                            <td>51</td>
                            <td>aněk Milan</td>
                            <td>Horizont kola Novák Blansko</td>
                            <td>MV2</td>
                            <td>12.</td>
                            <td>01:00:55</td>
                            <td>00:23:17</td>
                        </tr>
                        <tr>
                            <td>103.</td>
                            <td>32</td>
                            <td>Kopeček Ivan</td>
                            <td>AC Moravská Slavia Brno</td>
                            <td>MV3</td>
                            <td>7.</td>
                            <td>01:01:31</td>
                            <td>00:23:53</td>
                        </tr>
                        <tr>
                            <td>104.</td>
                            <td>30</td>
                            <td>Budinská Hana</td>
                            <td>AC Moravska Slavia Brno</td>
                            <td>ŽV</td>
                            <td>11.</td>
                            <td>01:01:50</td>
                            <td>00:24:12</td>
                        </tr>
                        <tr>
                            <td>105.</td>
                            <td>16</td>
                            <td>Růžička Bohuslav</td>
                            <td>SC Ráječko</td>
                            <td>MV3</td>
                            <td>8.</td>
                            <td>01:03:36</td>
                            <td>00:25:58</td>
                        </tr>
                        <tr>
                            <td>106.</td>
                            <td>75</td>
                            <td>Němec Jaroslav</td>
                            <td>Blansko</td>
                            <td>MV3</td>
                            <td>9.</td>
                            <td>01:04:50</td>
                            <td>00:27:12</td>
                        </tr>
                        <tr>
                            <td>107.</td>
                            <td>85</td>
                            <td>Přikryl Tomáš</td>
                            <td>Pamětice</td>
                            <td>M</td>
                            <td>34.</td>
                            <td>01:04:57</td>
                            <td>00:27:19</td>
                        </tr>
                        <tr>
                            <td>108.</td>
                            <td>8</td>
                            <td>Krejčiříková Kateřina</td>
                            <td>Svatá Kateřina</td>
                            <td>ŽV</td>
                            <td>12.</td>
                            <td>01:05:08</td>
                            <td>00:27:30</td>
                        </tr>
                        <tr>
                            <td>109.</td>
                            <td>10</td>
                            <td>Kolářová Miriam</td>
                            <td></td>
                            <td>Ž</td>
                            <td>16.</td>
                            <td>01:06:34</td>
                            <td>00:28:56</td>
                        </tr>
                        <tr>
                            <td>110.</td>
                            <td>57</td>
                            <td>Kubík Radomír</td>
                            <td>Triatlon klub Brno</td>
                            <td>MV2</td>
                            <td>13.</td>
                            <td>01:07:22</td>
                            <td>00:29:44</td>
                        </tr>
                        <tr>
                            <td>111.</td>
                            <td>34</td>
                            <td>Boudníková Věra</td>
                            <td>RELAX-fit team Blansko</td>
                            <td>Ž</td>
                            <td>17.</td>
                            <td>01:09:49</td>
                            <td>00:32:11</td>
                        </tr>
                        <tr>
                            <td>112.</td>
                            <td>121</td>
                            <td>Kopecká Radka</td>
                            <td>Horizont</td>
                            <td>Ž</td>
                            <td>18.</td>
                            <td>01:10:17</td>
                            <td>00:32:39</td>
                        </tr>
                        <tr>
                            <td>113.</td>
                            <td>105</td>
                            <td>Odehnalová Dagmar</td>
                            <td>Skalice</td>
                            <td>ŽV</td>
                            <td>13.</td>
                            <td>01:11:30</td>
                            <td>00:33:52</td>
                        </tr>
                        <tr>
                            <td>114.</td>
                            <td>14</td>
                            <td>Kubec Jiří</td>
                            <td></td>
                            <td>MV1</td>
                            <td>27.</td>
                            <td>01:13:20</td>
                            <td>00:35:42</td>
                        </tr>
                        <tr>
                            <td>115.</td>
                            <td>38</td>
                            <td>Jirásková Věra</td>
                            <td>Brno</td>
                            <td>ŽV</td>
                            <td>14.</td>
                            <td>01:13:25</td>
                            <td>00:35:47</td>
                        </tr>
                        <tr>
                            <td>116.</td>
                            <td>4</td>
                            <td>Hrubý Milan</td>
                            <td>Blansko</td>
                            <td>MV3</td>
                            <td>10.</td>
                            <td>01:14:26</td>
                            <td>00:36:48</td>
                        </tr>
                        <tr>
                            <td>117.</td>
                            <td>25</td>
                            <td>Formánek Petr</td>
                            <td>Kunštát</td>
                            <td>MV1</td>
                            <td>28.</td>
                            <td>01:15:12</td>
                            <td>00:37:34</td>
                        </tr>
                    </table>

                    <h2>Junioři - 5 150 m</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Příjmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>60</td>
                            <td>Konečný Petr</td>
                            <td>VSK Univerzita Brno/ AC Okrouhlá</td>
                            <td>J</td>
                            <td>1.</td>
                            <td>00:19:48</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>81</td>
                            <td>Komárek Zdeněk</td>
                            <td>Boskovice</td>
                            <td>J</td>
                            <td>2.</td>
                            <td>00:21:20</td>
                            <td>00:01:32</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>2</td>
                            <td>Erdenetsogt Itgemjlekh</td>
                            <td>AK Blansko Dvorská</td>
                            <td>J</td>
                            <td>3.</td>
                            <td>00:21:35</td>
                            <td>00:01:47</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>74</td>
                            <td>Wagner Adam</td>
                            <td>Biatlon Vyškov</td>
                            <td>J</td>
                            <td>4.</td>
                            <td>00:26:53</td>
                            <td>00:07:05</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>6</td>
                            <td>Fabiánek Filip</td>
                            <td>OB Veselice</td>
                            <td>J</td>
                            <td>5.</td>
                            <td>00:28:49</td>
                            <td>00:09:01</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>116</td>
                            <td>Crhák Tomáš</td>
                            <td>J-elita</td>
                            <td>J</td>
                            <td>6.</td>
                            <td>00:31:40</td>
                            <td>00:11:52</td>
                        </tr>
                    </table>

                    <h2>Muži / ženy - 5 150 m</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Příjmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>88</td>
                            <td>Rajmic Pavel</td>
                            <td>Brno</td>
                            <td>M</td>
                            <td>.</td>
                            <td>00:25:45</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>93</td>
                            <td>Auer Vlastislav</td>
                            <td></td>
                            <td>M</td>
                            <td>.</td>
                            <td>00:28:25</td>
                            <td>00:02:40</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>125</td>
                            <td>Kopecká Naďa</td>
                            <td>Ráječko</td>
                            <td>Ž</td>
                            <td>.</td>
                            <td>00:35:03</td>
                            <td>00:09:18</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>19</td>
                            <td>Krejčiřík Jan</td>
                            <td>Kateřina</td>
                            <td>M</td>
                            <td>.</td>
                            <td>00:36:11</td>
                            <td>00:10:26</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>53</td>
                            <td>Weisová Barbora</td>
                            <td>Olešnice</td>
                            <td>Ž</td>
                            <td>.</td>
                            <td>00:40:42</td>
                            <td>00:14:57</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>44</td>
                            <td>Štegnerová Monika</td>
                            <td>Moravská Třebová</td>
                            <td>Ž</td>
                            <td>.</td>
                            <td>00:42:38</td>
                            <td>00:16:53</td>
                        </tr>
                    </table>

                    <h2>Starší žáci / žákyně - 1 350 m</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Příjmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>2</td>
                            <td>Szabó Martin</td>
                            <td>AK Blansko Dvorská</td>
                            <td>žáci</td>
                            <td>1.</td>
                            <td>00:06:11</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>10</td>
                            <td>Hladký Adam</td>
                            <td>AC Moravská Slavia Brno</td>
                            <td>žáci</td>
                            <td>2.</td>
                            <td>00:06:12</td>
                            <td>00:00:01</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>1</td>
                            <td>Beránek Maxmilián</td>
                            <td>AK Blansko Dvorská</td>
                            <td>žáci</td>
                            <td>3.</td>
                            <td>00:06:21</td>
                            <td>00:00:10</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>24</td>
                            <td>Horňová Adriana</td>
                            <td>ACT Lerak</td>
                            <td>žákyně</td>
                            <td>1.</td>
                            <td>00:06:43</td>
                            <td>00:00:32</td>
                        </tr>
                    </table>

                    <h2>Mladší žáci / žákyně - 1 350 m</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Příjmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>46</td>
                            <td>Kalincová Anna</td>
                            <td>AK Blansko Dvorská</td>
                            <td>žákyně</td>
                            <td>1.</td>
                            <td>00:06:34</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>37</td>
                            <td>Krejčiříková Klára</td>
                            <td>Svatá Kateřina</td>
                            <td>žákyně</td>
                            <td>2.</td>
                            <td>00:06:39</td>
                            <td>00:00:05</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>31</td>
                            <td>Skryja Matěj</td>
                            <td>AK Blansko Dvorská</td>
                            <td>žáci</td>
                            <td>1.</td>
                            <td>00:06:43</td>
                            <td>00:00:09</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>6</td>
                            <td>Kučerová Lucie</td>
                            <td>ACT Lerak Blansko</td>
                            <td>žákyně</td>
                            <td>3.</td>
                            <td>00:06:46</td>
                            <td>00:00:12</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>18</td>
                            <td>Charvátová Tereza</td>
                            <td>Lhota Rapotina</td>
                            <td>žákyně</td>
                            <td>4.</td>
                            <td>00:06:52</td>
                            <td>00:00:18</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>19</td>
                            <td>Hrozová Denisa</td>
                            <td>Boskovice</td>
                            <td>žákyně</td>
                            <td>5.</td>
                            <td>00:09:43</td>
                            <td>00:03:09</td>
                        </tr>
                    </table>

                    <h2>Svišti - 200 m</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Příjmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>17</td>
                            <td>Kovařík David</td>
                            <td>OB Veselice</td>
                            <td>kluci</td>
                            <td>1.</td>
                            <td>00:00:56</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>27</td>
                            <td>Koudelka Petr</td>
                            <td>ŠAK Židlochovice</td>
                            <td>kluci</td>
                            <td>2.</td>
                            <td>00:00:59</td>
                            <td>00:00:03</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>11</td>
                            <td>Štoudková Pavla</td>
                            <td>ASK Blansko</td>
                            <td>holky</td>
                            <td>1.</td>
                            <td>00:01:00</td>
                            <td>00:00:04</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>14</td>
                            <td>Pijáková Tereza</td>
                            <td>VSK UNI</td>
                            <td>holky</td>
                            <td>2.</td>
                            <td>00:01:00</td>
                            <td>00:00:04</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>58</td>
                            <td>Jančařík Tomáš</td>
                            <td>Brno</td>
                            <td>kluci</td>
                            <td>3.</td>
                            <td>00:01:02</td>
                            <td>00:00:06</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>33</td>
                            <td>Halasová Anička</td>
                            <td>AK Drnovice</td>
                            <td>holky</td>
                            <td>3.</td>
                            <td>00:01:03</td>
                            <td>00:00:07</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>8</td>
                            <td>Augustinová Patricie</td>
                            <td>ASK Blansko</td>
                            <td>holky</td>
                            <td>4.</td>
                            <td>00:01:04</td>
                            <td>00:00:08</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>34</td>
                            <td>Jarůšek Štěpán</td>
                            <td>OB Veselice</td>
                            <td>kluci</td>
                            <td>4.</td>
                            <td>00:01:05</td>
                            <td>00:00:09</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>32</td>
                            <td>Havlíčková Tereza</td>
                            <td>AHA Vyškov</td>
                            <td>holky</td>
                            <td>5.</td>
                            <td>00:01:05</td>
                            <td>00:00:09</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>48</td>
                            <td>Kalinec Václav</td>
                            <td>AK Blansko Dvorská</td>
                            <td>kluci</td>
                            <td>5.</td>
                            <td>00:01:06</td>
                            <td>00:00:10</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>47</td>
                            <td>Alexová Barbora</td>
                            <td>Sokol Bílovice nad Svitavou</td>
                            <td>holky</td>
                            <td>6.</td>
                            <td>00:01:08</td>
                            <td>00:00:12</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>29</td>
                            <td>Suchý Libor</td>
                            <td>ASK Blansko</td>
                            <td>kluci</td>
                            <td>6.</td>
                            <td>00:01:08</td>
                            <td>00:00:12</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>40</td>
                            <td>Trojancová Iveta</td>
                            <td>AHA Vyškov</td>
                            <td>holky</td>
                            <td>7.</td>
                            <td>00:01:09</td>
                            <td>00:00:13</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>57</td>
                            <td>Vymazalová Adéla</td>
                            <td>Rájec - Jestřebí</td>
                            <td>holky</td>
                            <td>8.</td>
                            <td>00:01:09</td>
                            <td>00:00:13</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>43</td>
                            <td>aněk Štěpán</td>
                            <td>Moravská Svávie</td>
                            <td>kluci</td>
                            <td>7.</td>
                            <td>00:01:12</td>
                            <td>00:00:16</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>39</td>
                            <td>Široká Eliška</td>
                            <td>Blansko</td>
                            <td>holky</td>
                            <td>9.</td>
                            <td>00:01:15</td>
                            <td>00:00:19</td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td>50</td>
                            <td>Mikulášek Tomáš</td>
                            <td></td>
                            <td>kluci</td>
                            <td>8.</td>
                            <td>00:01:16</td>
                            <td>00:00:20</td>
                        </tr>
                        <tr>
                            <td>18.</td>
                            <td>53</td>
                            <td>Vyskočilová Karla</td>
                            <td></td>
                            <td>holky</td>
                            <td>10.</td>
                            <td>00:01:17</td>
                            <td>00:00:21</td>
                        </tr>
                        <tr>
                            <td>19.</td>
                            <td>21</td>
                            <td>Nejzchleb Jiří</td>
                            <td></td>
                            <td>kluci</td>
                            <td>9.</td>
                            <td>00:01:20</td>
                            <td>00:00:24</td>
                        </tr>
                        <tr>
                            <td>20.</td>
                            <td>54</td>
                            <td>Kubecová Barbora</td>
                            <td>Moravec Benešov</td>
                            <td>holky</td>
                            <td>11.</td>
                            <td>00:01:21</td>
                            <td>00:00:25</td>
                        </tr>
                        <tr>
                            <td>21.</td>
                            <td>59</td>
                            <td>Klimeš David</td>
                            <td></td>
                            <td>kluci</td>
                            <td>10.</td>
                            <td>00:01:21</td>
                            <td>00:00:25</td>
                        </tr>
                        <tr>
                            <td>22.</td>
                            <td>38</td>
                            <td>Fabiánek Tomáš</td>
                            <td>OB Veselice</td>
                            <td>kluci</td>
                            <td>11.</td>
                            <td>00:01:21</td>
                            <td>00:00:25</td>
                        </tr>
                        <tr>
                            <td>23.</td>
                            <td>30</td>
                            <td>Šebela Marek</td>
                            <td></td>
                            <td>kluci</td>
                            <td>12.</td>
                            <td>00:01:23</td>
                            <td>00:00:27</td>
                        </tr>
                        <tr>
                            <td>24.</td>
                            <td>4</td>
                            <td>Skoták Alois</td>
                            <td>OB Veselice</td>
                            <td>kluci</td>
                            <td>13.</td>
                            <td>00:01:25</td>
                            <td>00:00:29</td>
                        </tr>
                        <tr>
                            <td>25.</td>
                            <td>3</td>
                            <td>Skotáková Daniela</td>
                            <td>OB Veselice</td>
                            <td>holky</td>
                            <td>12.</td>
                            <td>00:01:27</td>
                            <td>00:00:31</td>
                        </tr>
                    </table>

                    <h2>Svištíci - 200 m</h2>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Poř.</th>
                            <th>S. číslo</th>
                            <th>Příjmení, Jméno</th>
                            <th>Oddíl/město</th>
                            <th>Kat.</th>
                            <th>Poř.<br>kat.</th>
                            <th>Čas</th>
                            <th>Ztráta</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>16</td>
                            <td>Kniesová Lucie</td>
                            <td>AK Blansko Dvorská</td>
                            <td>holky</td>
                            <td>1.</td>
                            <td>00:01:14</td>
                            <td>00:00:00</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>44</td>
                            <td>Heřmanová Lucie</td>
                            <td>Sokol Bílovice nad Svitavou</td>
                            <td>holky</td>
                            <td>2.</td>
                            <td>00:01:16</td>
                            <td>00:00:02</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>28</td>
                            <td>Suchá Jana</td>
                            <td>ASK Blansko</td>
                            <td>holky</td>
                            <td>3.</td>
                            <td>00:01:19</td>
                            <td>00:00:05</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>26</td>
                            <td>Lát Dušan</td>
                            <td>vorská Blansko</td>
                            <td>kluci</td>
                            <td>1.</td>
                            <td>00:01:20</td>
                            <td>00:00:06</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>49</td>
                            <td>Klimeš Bruno</td>
                            <td>AKDB</td>
                            <td>kluci</td>
                            <td>2.</td>
                            <td>00:01:24</td>
                            <td>00:00:10</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>12</td>
                            <td>Mynaříková Johanka</td>
                            <td>Veselice</td>
                            <td>holky</td>
                            <td>4.</td>
                            <td>00:01:28</td>
                            <td>00:00:14</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>41</td>
                            <td>Trojancová Monika</td>
                            <td>AHA Vyškov</td>
                            <td>holky</td>
                            <td>5.</td>
                            <td>00:01:30</td>
                            <td>00:00:16</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td>51</td>
                            <td>Nedvědová Andrea</td>
                            <td>Blansko</td>
                            <td>holky</td>
                            <td>6.</td>
                            <td>00:01:31</td>
                            <td>00:00:17</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td>13</td>
                            <td>Opustil Daniel</td>
                            <td>Veselice</td>
                            <td>kluci</td>
                            <td>3.</td>
                            <td>00:01:37</td>
                            <td>00:00:23</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td>22</td>
                            <td>Formánek Jan</td>
                            <td>Kunštát</td>
                            <td>kluci</td>
                            <td>4.</td>
                            <td>00:01:40</td>
                            <td>00:00:26</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td>20</td>
                            <td>Opustil Adrian</td>
                            <td>Veselice</td>
                            <td>kluci</td>
                            <td>5.</td>
                            <td>00:01:44</td>
                            <td>00:00:30</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td>60</td>
                            <td>Kuneš Vincent</td>
                            <td>Tišnov</td>
                            <td>kluci</td>
                            <td>6.</td>
                            <td>00:01:45</td>
                            <td>00:00:31</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td>35</td>
                            <td>Jarůšek Kryštof</td>
                            <td>OB Veselice</td>
                            <td>kluci</td>
                            <td>7.</td>
                            <td>00:01:47</td>
                            <td>00:00:33</td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td>56</td>
                            <td>Klopcová Tatianá</td>
                            <td>Blansko</td>
                            <td>holky</td>
                            <td>7.</td>
                            <td>00:01:50</td>
                            <td>00:00:36</td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td>9</td>
                            <td>Krejčiřík Lukáš</td>
                            <td></td>
                            <td>kluci</td>
                            <td>8.</td>
                            <td>00:01:50</td>
                            <td>00:00:36</td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td>7</td>
                            <td>Kučera Martin</td>
                            <td>ACT Lerak Blansko</td>
                            <td>kluci</td>
                            <td>9.</td>
                            <td>00:01:51</td>
                            <td>00:00:37</td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td>61</td>
                            <td>Kunešová Violeta</td>
                            <td>Tišnov</td>
                            <td>holky</td>
                            <td>8.</td>
                            <td>00:01:55</td>
                            <td>00:00:41</td>
                        </tr>
                        <tr>
                            <td>18.</td>
                            <td>36</td>
                            <td>Krejčiříková Anežka</td>
                            <td>Svatá Kateřina</td>
                            <td>holky</td>
                            <td>9.</td>
                            <td>00:01:58</td>
                            <td>00:00:44</td>
                        </tr>
                        <tr>
                            <td>19.</td>
                            <td>63</td>
                            <td>Krejčí Matouš</td>
                            <td>Boskovice</td>
                            <td>kluci</td>
                            <td>10.</td>
                            <td>00:01:58</td>
                            <td>00:00:44</td>
                        </tr>
                        <tr>
                            <td>20.</td>
                            <td>65</td>
                            <td>Kožiaková Veronika</td>
                            <td>Kuničky</td>
                            <td>holky</td>
                            <td>10.</td>
                            <td>00:01:59</td>
                            <td>00:00:45</td>
                        </tr>
                        <tr>
                            <td>21.</td>
                            <td>5</td>
                            <td>Sotolářová Barbora</td>
                            <td>Veselice</td>
                            <td>holky</td>
                            <td>11.</td>
                            <td>00:02:04</td>
                            <td>00:00:50</td>
                        </tr>
                        <tr>
                            <td>22.</td>
                            <td>64</td>
                            <td>Ramša Jakub</td>
                            <td></td>
                            <td>kluci</td>
                            <td>11.</td>
                            <td>00:02:05</td>
                            <td>00:00:51</td>
                        </tr>
                        <tr>
                            <td>23.</td>
                            <td>62</td>
                            <td>Kriklová Lenka</td>
                            <td>Jaroměřice</td>
                            <td>holky</td>
                            <td>12.</td>
                            <td>00:02:11</td>
                            <td>00:00:57</td>
                        </tr>
                        <tr>
                            <td>24.</td>
                            <td>45</td>
                            <td>Kolář Antonín</td>
                            <td></td>
                            <td>kluci</td>
                            <td>12.</td>
                            <td>00:02:34</td>
                            <td>00:01:20</td>
                        </tr>
                        <tr>
                            <td>25.</td>
                            <td>42</td>
                            <td>Přikrylová Kristýna</td>
                            <td>Vavřinec</td>
                            <td>holky</td>
                            <td>13.</td>
                            <td>00:02:34</td>
                            <td>00:01:20</td>
                        </tr>
                        <tr>
                            <td>26.</td>
                            <td>25</td>
                            <td>Kotouček Matyáš</td>
                            <td>Lhota Rapotina</td>
                            <td>kluci</td>
                            <td>13.</td>
                            <td>00:02:48</td>
                            <td>00:01:34</td>
                        </tr>
                        <tr>
                            <td>27.</td>
                            <td>55</td>
                            <td>Kubecová Kateřina</td>
                            <td>Moravec Benešov</td>
                            <td>holky</td>
                            <td>14.</td>
                            <td>00:03:06</td>
                            <td>00:01:52</td>
                        </tr>
                        <tr>
                            <td>28.</td>
                            <td>23</td>
                            <td>Formánek Petr</td>
                            <td>Kunštát</td>
                            <td>kluci</td>
                            <td>14.</td>
                            <td>00:03:08</td>
                            <td>00:01:54</td>
                        </tr>
                    </table>
                </div>

                <a class="btn btn-primary toTop">
                    <span class="glyphicon glyphicon-chevron-up"></span>&nbsp;Nahoru
                </a>
                <a class="btn btn-warning" n:href="vysledky">
                    <span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Zpět na výsledky
                </a>
            </div>
        </div>
    </div>
</div>


{include './footer.latte'}


</body>
{/block}
</html>