name: Tests

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  buildAndTest:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v6
        with:
          node-version: 25

      - name: Install dependencies
        working-directory: frontend
        run: yarn

      - name: Build
        working-directory: frontend
        run: yarn build

