body {
    font-size: 170%;
    background-color: #f0fffd;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.background-main {
    background: url("../images/back.svg") no-repeat;
    background-size: 100% auto;
    min-height: 25.1em;
    padding-top: 1.15em;
}

.background-main a {
    font-size: 200%;
    margin-bottom: 1em;
    border: 3px #000 solid;
}

html, body {
    height: 100%;
}

p {
    text-align: justify;
}

a {
    color: #289c4a;
}

a:hover {
    color: #289c4a;
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

.message-success {
    font-size: 130%;
}

.small {
    margin-top: 0.75em;
}

.one-photo img {
    border: 4px #289c4a solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.more-photo img {
    margin-bottom: 1em;
    border: 4px #289c4a solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.gallery-under {
    margin-top: 1.2em;
}

.sponsors {
    border-top: 2px #000 solid;
    width: 100%;
    margin: 49px 0 0;
    text-align: center;
    background-color: #289c4a;
}

.sponsors .row {
    margin-top: 35px;
}

.sponsors a {
    margin: 0 12px;
}

.sponsors a img {
    margin-bottom: 20px;
}

img.userImage {
    max-width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.container .navbar {
    margin-bottom: 0;
    border: none;
}

h1 {
    margin-top: 0.5em;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

.addon-space-after {
    margin-bottom: 5px;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 0;
}

.right-addon .glyphicon {
    right: 0;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
    font-size: 120%;
}

.right-addon input {
    padding-right: 30px;
    font-size: 125%;
}

#allnav .navbar-default {
    background-color: #289c4a;
    background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
    box-shadow: none;
    border: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#allnav ul.navbar-nav > li a {
    color: #FFF;
    font-size: 135%;
}

#allnav ul.navbar-nav > li a:hover {
    color: #343;
    background-color: #f0fffd;
}

.live {
    background-image: linear-gradient(to bottom,#c90000 0,#d80000 100%);
}

#navbar-main ul.navbar-nav > li.current {
    background-color: #f0fffd;
}

#allnav ul.navbar-nav li.current a {
    color: #666;
}

#allnav ul.navbar-nav > li.current a:hover {
    background-color: #f0fffd;
}

#allnav .navbar a {
    color: #343;
    font-weight: bold;
}

@media screen and (max-width: 768px) {

    #allnav ul.navbar-nav > li > a {
        margin: 0;
        font-size: 165%;
        text-indent: 0.4em;
    }
}

#map {
    width: 100%;
    height: 450px;;
}

.badge {
    font-size: 11px;
    color: #FFF;
    background-color: #F00;
    padding: 2px 7px;
}

.spacedown {
    margin-bottom: 0.5em;
}

hr {
    border-top: 1px solid #289c4a
}

.qrpay {
    max-width: 180px;
}

.defaultprice {
    font-size: 37px;
    padding: 16px 20px;
}

.has-feedback label ~ .form-control-feedback {
    top: 30px;
}

.hiddenSpinner {
    display: none;
}

.btn-result {
    margin-bottom: 15px;
    padding: 14px 28px;
    font-size: 30px;
}

.btn-last-result:last-child {
    margin-bottom: 0;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
    margin-right: 0;
}

#allnav .navbar span.navbar-brand {
    color: #FFF;
}

/* sandwich menu */

#allnav .navbar-default button.navbar-toggle .icon-bar {
    background-color: #ddd;
}

#allnav .navbar-default button.navbar-toggle {
    background-color: #289c4a;
}

#allnav .navbar-default button.collapsed .icon-bar {
    background-color: #289c4a;
}

#allnav .navbar-default button.collapsed {
    background-color: #ddd;
}

